.login-container {
  position: relative;
  margin: auto;
  height: 100%;
  min-width: 1280px;
  min-height: 850px;
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  width: 375px;
  position: absolute;
  top: 24px;
  left: 32px;
}

.protect-logo {
  background: url('assets/img/ocean_protect.png') no-repeat;
  height: 50px;
  width: 375px;
  position: absolute;
  top: 24px;
  left: 32px;
}

.cyber-logo {
  background: url('assets/img/cyber_engine.png') no-repeat;
  height: 50px;
  width: 375px;
  position: absolute;
  top: 24px;
  left: 32px;
}

.language {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 16px;
  color: #fff;
  line-height: 16px;
  cursor: pointer;
}

.login-content {
  position: absolute;
  right: 220px;
  margin: auto;
  background-color: #fff;
  width: 560px;
  padding: 32px 56px 56px 56px;
  border-radius: 10px;
  box-sizing: border-box;
}

.login_product_text {
  font-size: 48px;
  margin-bottom: 40px;
  line-height: 48px;
}

.reset-pwd-container {
  width: 100%;
  text-align: right;
}

.reset-pwd-btn {
  margin-top: 8px;
}

.email-code-input {
  width: 100%;
}

.send-code-btn {
  font-size: 14px;
  margin-right: 4px;
}

.left-second {
  color: #5b7ede;
}

.verify-code {
  display: flex;

  .verify-code-img {
    height: 40px;
    margin-left: 15px;
    cursor: pointer;
  }
}

.main_footer {
  font-family: 'HuaweiSans-Regular';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 24px;
  font-size: 14px;
  color: #888;
  text-align: center;
  line-height: 16px;
}

.modify-pwd-desc {
  text-align: center;
}

.login-top {
  width: 100%;
  position: absolute;
  min-height: 180px;
  height: 20%;
  top: 0;
}

.line-box {
  display: flex;
  align-items: center;
  justify-content: center;

  .solid-line {
    width: 50%;
    height: 1px;
    background: #d9d9d9;
    margin: 24px 0;
  }

  p {
    width: 30px;
    text-align: center;
    color: #b3b3b3;
  }
}

.operation-btn {
  width: 100%;
}

.lv-form-control {
  padding-bottom: 0.24rem !important;
}

.modfi-btn-container {
  margin-top: 8px;

  button {
    width: 50%;
  }
}
