<lv-form [formGroup]="formGroup" class="formGroup">
    <lv-form-item>
        <lv-form-label lvRequired>
            {{'common_name_label' | i18n}}
        </lv-form-label>
        <lv-form-control [lvErrorTip]="usernameErrorTip">
            <input lv-input type="text" formControlName="redisName" />
        </lv-form-control>
    </lv-form-item>
</lv-form>

<lv-form class="form-position">
    <lv-form-item>
        <lv-form-label lvRequired>
           <h3> {{'protection_statefulset_node_label' | i18n}}</h3>
        </lv-form-label>
    </lv-form-item>
</lv-form>
<div class="aui-operation">
    <lv-group lvGutter="8px">
            <button lvType='primary' lv-button (click)="showAddPage()"> {{ 'common_add_label' | i18n }}  </button>
    </lv-group>
</div>
<div class="algin-table">
    <lv-pro-table #dataTable [config]="tableConfig" [data]="tableData"></lv-pro-table>
</div>



