.add-node {
  margin-top: 40px;

  .required {
    color: red;
  }
}

.node-table {
  padding-left: 10px;
}

.add-group {
  margin-top: 10px;
}

.node-name {
  font-size: 14px;
}

.node-host-warp {
  max-width: 180px;
}

.node-port-warp {
  max-width: 70px;
}

.title-auth {
  border-radius: 16px;
  background: #f0f3fa;
  padding: 2px 8px;
}

.collapse-custom-title {
  font-size: 0.12rem;
  color: #4d4d4d;
}
