.visible {
  display: block;
}

.hidden {
  display: none;
}
.file-path-title {
  margin: 24px 0;
}

.button {
  text-align: left;
}

.prefix-span {
  color: red;
}

.target {
  padding-top: 0;
  padding-bottom: 0;
}
.parallel-tips {
  display: flex;
  i {
    position: relative;
    top: 4px;
    margin-right: 8px;
  }
}
.failover-for-text {
  width: 100px !important;
}
.unit-title {
  display: flex;
  align-items: center;
}
.td-class {
  display: inline-block;
}
.table-title {
  display: flex;
  align-items: center;
  background-color: #f0f3fa;
  border-bottom: 1px solid #e6ebf5;
  color: #282b33;
  line-height: 12px;
  font-size: 12px;
  font-weight: 400;
  height: 35px;
  padding: 0.08rem 0.16rem 0.08rem 0.24rem;
  .lv-button {
    font-size: 12px;
  }
}
.delete-status {
  display: flex;
  align-items: center;
  i {
    margin-right: 8px;
    width: 10px;
    height: 10px;
  }
}
.target-group {
  width: 100%;
  justify-content: space-between;
}
