.mgf-10 {
  margin-left: 10px;
}

.mgt-8 {
  margin-top: 3px;
}

.tip-container {
  color: #b8becc;
}

.advanced-input-container {
  width: 300px !important;
}

.no-protocol-tip {
  margin-top: 14px;
}

.retention-interval {
  width: 240px !important;
}

.agentTip {
  word-wrap: break-word;
}

.hot-data-tip {
  align-items: flex-start;
  margin-top: 4px;

  i {
    margin-top: 2px;
    height: 20px;
  }

  span {
    line-height: 24px;
  }
}

.interval-unit {
  width: 80px;
}

::ng-deep.interval-unit > .lv-select-wrapper {
  border: none;
  padding: 0;
}

.type-icon {
  margin-top: -4px;
}
