<lv-form [formGroup]="formGroup" class="formGroup">
  <lv-form-item>
    <lv-form-label lvRequired>
      {{ 'common_type_label' | i18n }}
    </lv-form-label>
    <lv-form-control>
      <lv-select
        [lvOptions]="typeOptions"
        formControlName="type"
        lvValueKey="value"
      ></lv-select>
    </lv-form-control>
  </lv-form-item>
  <ng-container
    *ngIf="formGroup.value.type === dataMap.Detection_Whitelist_Type.dir.value"
  >
    <lv-form-item>
      <lv-form-label lvRequired>{{
        'protection_table_content_label' | i18n
      }}</lv-form-label>
      <lv-form-control [lvErrorTip]="pathErrorTip">
        <lv-input-lint>
          <textarea
            lvTooltipTrigger="focus"
            lvTooltipTheme="light"
            formControlName="dirName"
            placeholder="{{ 'protection_linux_path_backup_label' | i18n }}"
            maxlength="2048"
            rows="3"
            lv-input
            style="resize: vertical;"
          ></textarea>
        </lv-input-lint>
      </lv-form-control>
    </lv-form-item>
  </ng-container>
  <ng-container
    *ngIf="formGroup.value.type === dataMap.Detection_Whitelist_Type.file.value"
  >
    <lv-form-item>
      <lv-form-label lvRequired>{{
        'explore_file_extension_label' | i18n
      }}</lv-form-label>
      <lv-form-control [lvErrorTip]="extensionErrorTip">
        <lv-input-lint>
          <textarea
            [lv-tooltip]="extensionTipTpl"
            lvTooltipTrigger="focus"
            lvTooltipTheme="light"
            formControlName="fileName"
            maxlength="127"
            rows="3"
            lv-input
            style="resize: vertical;"
          ></textarea>
        </lv-input-lint>
      </lv-form-control>
    </lv-form-item>
  </ng-container>
</lv-form>
