.mgb-ip {
  margin-bottom: 20px;
}

.last-mgb-ip {
  margin-bottom: 12px;
}

.ips-control {
  display: block;
}

.add-ip-icon {
  position: relative;
  top: -2px;
}

.tips {
  color: #f45c5e;

  .error-icon {
    height: 14px;
    position: relative;
    bottom: 2px;
  }
}
