.statistics-block {
  padding-right: 48px !important;
}

.overview-top {
  height: 160px;
  flex-wrap: nowrap !important;
  .aui-block {
    height: 100%;
    min-width: 440px !important;
  }
}

.top-block {
  height: 64px;
  width: 64px;
  float: left;
  i {
    float: left;
    width: 64px;
    height: 64px;
  }
}

.block-label {
  width: 56px;
  float: left;
  p {
    text-align: center;
  }
}

.anti-count {
  font-size: 0.24rem;
}

.top-left-block {
  margin-left: 120px;
}

.slip {
  height: 64px;
  border-right: 2px dashed #e6ebf5;
}
