.backup-for-text {
  width: 252px !important;
}

.backup-time-unit-text {
  width: 100px !important;
}

.archive-time-container {
  margin-top: 10px;
}

.new-add.lv-button.lv-button-type-link {
  min-width: 28px;
}

.desc-text {
  font-size: 0.11rem;
}

.retentionTip {
  word-wrap: break-word;
}

.backup-generation-input {
  width: 160px !important;
}

.archive-frequency-input {
  width: 260px !important;
}

.unit-inner-select {
  width: 80px;
}

::ng-deep.unit-inner-select > .lv-select-wrapper {
  border: none;
  padding: 0;
}
