.header {
  margin-bottom: 16px;
}

.collapse-content {
  margin-bottom: 24px;
}

.resourceset-tag {
  .lv-tag-alarm-minor {
    background-color: #2673e5;
  }

  .lv-tag-alarm {
    color: #fff;
  }
}

.checkbox-width {
  width: 14%;
}
