.tree-container {
  border: 1px solid var(--live-angular-color-border-regular);
  height: 640px;
  overflow: auto;
  border-radius: 4px;
}

.arrow-container i {
  height: 20px;
}

.custom-width {
  width: 400px !important;
}

.th-group {
  justify-content: space-between !important;
}
