.day-selector {
  border: 1px solid #b8becc;

  .day-row {
    height: 90px;
    background-color: #f0f4fb;
  }
}

.header {
  margin-bottom: 20px;
  margin-top: 30px;
}

.container {
  .lv-form-control {
    width: 110px !important;
    padding-right: 8px;
  }
}

.info {
  max-width: 650px;
  word-wrap: break-word;
}
