.card {
  width: 416px;
  height: 72px;
  border: 1px solid var(--live-angular-color-border-regular);
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  align-items: center;
  position: static;
  flex-direction: row;
  justify-content: space-between;
  padding: 24px;
}
.card.select {
  border: 1px solid var(--live-angular-color-primary-active);
}
.card-even {
  margin-right: 18px;
}

.card.select {
  border-color: var(--live-angular-color-primary-active);
  background: var(--live-angular-color-background-active);
}

.card .check-box {
  position: absolute;
  left: 5px;
  top: 5px;
}

.radio-width {
  width: 710px;
}

.radio-position {
  translate: -2px;
}

.sla-status-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 16px !important;
  color: var(--live-angular-color-text-regular) !important;
  font-weight: bold !important;

  .sla-icon {
    height: 24px;
    width: 24px;
    margin-right: 8px;
  }

  .user-define {
    background: rgb(73, 157, 242);
  }

  .span {
    color: var(--live-angular-color-text-regular);
  }

  .aui-link {
    font-weight: normal;
  }
}

.sla-icon-container {
  position: absolute;
  bottom: -5px;
  right: 9px;
}

.main-frequency-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.main-frequency {
  display: block;

  span {
    display: inline-block;
  }
}

.main-frequency-full {
  width: 40%;
}

.main-frequency-plus {
  margin: 0 20px 0 0;
}

.main-frequency-incremental {
  width: 40%;
}

.detail-header {
  margin-left: 5px;
}

.sla-name {
  max-width: 250px;
  position: relative;
  display: inline-block;
  top: 7px;
}

.card-tip-container {
  margin: 8px 12px;
  width: 330px;

  .title {
    font-size: 20px;
    color: var(--live-angular-color-text-regular);
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px dashed #d4d9e6;
  }

  .content {
    display: flex;
  }

  .content-left,
  .content-right {
    margin-top: 16px;
  }

  .content-all {
    width: 100%;

    :nth-child(odd) {
      color: var(--live-angular-color-text-regular);
    }

    :nth-child(even) {
      color: #9ea4b3;

      &:not(:last-child) {
        margin-bottom: 14px;
      }
    }
  }

  .content-left {
    width: calc(50% - 8px);
    border-right: 1px dashed #d4d9e6;

    :nth-child(odd) {
      color: var(--live-angular-color-text-regular);
    }

    :nth-child(even) {
      color: #9ea4b3;

      &:not(:last-child) {
        margin-bottom: 14px;
      }
    }
  }

  .content-right {
    width: calc(50% + 8px);
    padding-left: 16px;

    > :first-child {
      color: var(--live-angular-color-text-regular);
    }

    > :nth-child(2) {
      color: #9ea4b3;
      margin-bottom: 14px;
    }
  }
}

.sla-no-data {
  text-align: center;
}

.sla-no-data i {
  width: 72px;
  height: 72px;
}

.disable-click {
  pointer-events: none;
}

.sla-disabled {
  color: var(--live-angular-color-primary-disabled);
}

.user-define-disabled {
  opacity: 0.5;
}

.mgt-8 {
  margin-left: 8px;
}
