.group-line {
  width: 1px;
  background-color: #cdd6e2;
  height: 60px;
}
.title-group {
  margin-right: 24px;
}
.width-en {
  width: 84px;
}
.snapshot-brand {
  width: 122px;
  height: 140px;
  background-image: url('assets/img/snapshot_brand.png');
  background-repeat: no-repeat;
  background-position: right -42px bottom -65px;
  background-size: 200%;
}
.group-mgr {
  margin-right: 24px;
}
