tbody {
  td {
    padding-bottom: 2px !important;
  }

  .formControl {
    height: 72px;
  }
}

.input-position {
  margin-top: 20px;
}

.seconds-label {
  height: 32px;
}

.password-tooltip li {
  margin-left: 18px;
  list-style: disc;
}

.password-tooltip li {
  margin-left: 18px;
  list-style: disc;
}
