@import url(../../../../../../../../assets/style/aui.less);
.ip-tips {
  font-size: 12px;
}

.ip-input-en {
  width: 462px !important;
}

.ip-input-zh {
  width: 485px !important;
}

.tips {
  color: @text-color-tertiary;
}
