.overview-tag {
  height: 106px;
  background-image: url('assets/img/drill-overview-bk.png');
  background-repeat: no-repeat;
  background-position: right -10px bottom -10px;
  background-color: #f8fafe;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;

  .overview-img {
    height: 106px;
  }

  .overview-tag-right-group {
    margin-right: 80px;
  }
}
