.aui-header-5 {
  margin-top: -12px;
  margin-bottom: 20px;
}

.init-config-wizard-btns {
  padding: 20px 0 0 0;
  display: flex;
  justify-content: flex-start;
}

.header2 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.aui-block {
  height: 100%;
}

.container-visible2 {
  display: block;
  height: 100%;
}

.container-hidden {
  display: none;
}

.init-content {
  max-height: 79vh;
  overflow-y: auto;
  height: inherit;
}

.init-button {
  width: calc(100% - 74px);
  justify-content: flex-end;
  display: flex;
  height: 64px !important;
  position: absolute;
  bottom: 0px;
  z-index: 10;
  border-top: 0.01rem solid #f2f2f2;

  .init-button-content {
    margin: 16px 24px;
    height: 40px !important;
  }
}
