.closeStatus {
  text-align: center;
  font-size: 0.14rem;
  i {
    margin-top: 60px;
    width: 240px;
    height: 240px;
  }
}
.callback-tips {
  display: flex;
  align-items: center;
  i {
    margin-right: 8px;
  }
  p {
    color: #6c7280;
  }
}
