.mgb-ip {
  margin-bottom: 8px;
}

.add-ip-icon {
  position: relative;
  top: -2px;
}

.no-ldap {
  text-align: center;
}

.no-data-label {
  text-align: center;
  font-size: 0.14rem;
}

.no-ldap i {
  margin-top: 64px;
  width: 72px;
  height: 72px;
}

.dn-form-control {
  width: 100%;
}

.widthMax {
  width: 500px;
}

.form-column-mgl {
  margin-left: 48px;
}

.aui-gutter-column-user-group {
  margin-bottom: 20px;
}
