.rule-card {
  width: 250px;
  height: 72px;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
  border: 1px solid var(--live-angular-color-border-regular);
  border-radius: 8px;

  .title {
    font-size: 14px;
    font-weight: 700;
  }

  .rule-wrap {
    max-width: 160px;
  }
}
