.header-bottom {
  margin-bottom: 8px;
  margin-top: 40px;
}

.title-bottom {
  margin-bottom: 20px;
}

.error-tip-init {
  margin-left: 90px;
  margin-top: 8px;
}

.list-container {
  height: 10%;
}

.bottom {
  margin-top: 20px;
}

.controller-config {
  margin-top: 40px;
}

.route-display:hover {
  color: #5b7ede;
  cursor: pointer;
}
