.visible {
  display: block;
}

.hidden {
  display: none;
}

.mgt-group {
  margin-top: 40px;
}

.wizard-container {
  height: calc(100% - 160px);
  margin-bottom: 40px;
}

.unit-select {
  width: 140px;
}

.table-item {
  width: 220px;
}
