.visible {
  display: block;
}

.hidden {
  display: none;
}

.mgt-group {
  margin-top: 40px;
}

.wizard-container {
  height: calc(100% - 160px);
  margin-bottom: 40px;
}

.unit-select {
  width: 140px;
}

.table-item {
  width: 220px;
}

.unit-inner-select {
  width: 92px;
}

::ng-deep.unit-inner-select > .lv-select-wrapper {
  border: none;
  padding: 0;
}
