@icon-size: 36px;

.logo_title_container {
  display: flex;
  cursor: default;

  .title_content {
    color: #fff;
    font-size: 27px;
    line-height: 33px;
    font-weight: 400;
    font-family: 'HuaweiSans-Regular';
    padding-left: 16px;
    padding-right: 4px;

    &,
    &:hover {
      text-decoration: none;
    }
  }

  .title_content_menu {
    color: #fff;
    font-size: 16px;
    padding-left: 8px;
  }

  .logo {
    height: @icon-size;
    width: @icon-size;
  }

  .color-dark {
    color: #1a1a1a;
  }
}
