<div class="aui-gutter-column-xl">
  <lv-form>
    <lv-form-label>
      {{'system_choose_type_label' | i18n}}
    </lv-form-label>
    <lv-radio-group [(ngModel)]="type" (ngModelChange)="typeChange($event)">
      <lv-group [lvGutter]="'16px'">
        <lv-radio lvValue="old">{{'system_choose_exist_label' | i18n}}</lv-radio>
        <lv-radio lvValue="new">{{'system_create_new_label' | i18n}}</lv-radio>
      </lv-group>
    </lv-radio-group>
  </lv-form>
</div>

<div [hidden]="type !== 'old'">
  <lv-alert lvType="info">{{'system_default_add_role_label' | i18n}}</lv-alert>
  <lv-pro-table #roleDataTable [config]="roleTableConfig" [data]="roleTableData"></lv-pro-table>
  <ng-template #treeTableTpl let-item>
    <aui-role-auth-tree [data]="item"></aui-role-auth-tree>
  </ng-template>
</div>

<div [hidden]="type !== 'new'">
  <aui-create-role-form [formGroup]="formGroup"></aui-create-role-form>
</div>

<ng-template #roleNameTpl let-item>
  <lv-group lvGutter="6px">
    <span lv-overflow>{{item?.roleName}}</span>
    <lv-tag *ngIf="item?.is_default" [ngModel]="[{label: i18n.get('system_builtin_label')}]"></lv-tag>
  </lv-group>
</ng-template>
