@import url(../../../../../../assets/style/aui.less);

.cover-old-db {
  padding-right: 15px;
}

.cover-old-db-desc {
  padding-left: 5px;
}

.filter-container,
.advanced-container {
  margin-top: 28px;
}

.newName {
  margin-top: 20px;
  position: relative;
  left: 112px;
  width: 80%;
}

.block-tips {
  margin-left: 12px;
  width: 620px;
}

.form-tips {
  display: inline-block;
  width: 90%;
  vertical-align: top;
  color: @text-color-tertiary;
}

.icon-tips {
  display: inline-block;
  margin-right: 6px;
}
