.error-container {
  background-color: #fff;
}

.img-container {
  background: url('assets/img/no-permission.svg') no-repeat;
  height: 148px;
  width: 248px;
  margin: 10% auto 80px;
}

.text-container {
  text-align: center;
  margin: 20px auto;
}

.language {
  position: absolute;
  top: 11px;
  right: 42px;
  font-size: 16px;
  color: #fff;
  line-height: 50px;
  cursor: pointer;
}

.logo {
  background: url('assets/img/protect_manager.png') no-repeat;
  height: 50px;
  width: 375px;
  position: absolute;
  top: 16px;
  left: 56px;
}

.protect-logo {
  background: url('assets/img/ocean_protect.png') no-repeat;
  height: 50px;
  width: 375px;
  position: absolute;
  top: 16px;
  left: 56px;
}

.cyber-logo {
  background: url('assets/img/cyber_engine.png') no-repeat;
  height: 50px;
  width: 375px;
  position: absolute;
  top: 16px;
  left: 56px;
}
