.warning-content {
  word-break: break-all;
  max-height: 240px;
  overflow: auto;
}
.massage-footer {
  padding: 0.24rem 0.32rem 0.32rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
