.delete-log-label {
  max-width: 240px;
}

.proxy-host-info-group {
  align-items: flex-start;
  margin-top: 10px;

  i {
    margin-top: 2px;
    margin-right: 4px !important;
  }
}

.proxy-host-info-label {
  line-height: 20px;
}
