.form-position {
  margin-top: 24px;
}

.add-node-btn {
  text-align: center;
  border: 1px solid var(--live-angular-color-border-regular);
  margin-top: 10px;
  cursor: pointer;
  padding: 5px;
  margin-bottom: 20px;
}
