.header {
  margin-bottom: 20px;
  margin-top: 30px;
}

.hive-all-table,
.hive-selected-table {
  margin: 0 !important;
  border: 1px solid var(--live-angular-color-border-regular);
  height: 600px;
  position: relative;

  .table-paginator {
    position: absolute;
    bottom: 0px;
    left: 10px;
  }
}

.th-group {
  justify-content: space-between !important;
}

.filter {
  border: 1px solid var(--live-angular-color-border-regular);
  margin-bottom: 20px;

  .filter-row {
    height: 100px;

    .filter-input {
      margin-left: 62px;
      width: 80%;
    }
  }

  .error-row {
    margin-left: 62px;
    width: 80%;
    color: #f45c5e;
  }
}

.pop-box {
  overflow-y: auto;
  max-height: 24vh;
}

.pop-content {
  width: 100%;
  height: 38px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.pop-content:hover {
  background: var(--live-angular-color-background-hover);
  color: #6e91f1;
}

.add-icon {
  padding-bottom: 2.5px;
}

.prefixTpl {
  margin-bottom: 3px;
}
