.header {
  margin-bottom: 20px;
  margin-top: 30px;
}

.hive-all-table,
.hive-selected-table {
  margin: 0 !important;
  border: 1px solid #b8becc;
  height: 600px;
  position: relative;

  .table-paginator {
    position: absolute;
    bottom: 0px;
    left: 10px;
  }
}

.table-num-nav {
  display: inline-block;
  min-width: 40px;
  background: #6c92fa;
  text-align: center;
  border-radius: 12px;
  color: #ffffff;
}

.th-group {
  justify-content: space-between !important;
}

.table-header {
  height: 40px;
  background: #f0f3fa;
  line-height: 40px;
  padding-left: 25px;
  font-size: 0.12rem;
}

.filter {
  border: 1px solid #b8becc;
  margin-bottom: 20px;

  .filter-row {
    height: 100px;

    .filter-input {
      margin-left: 62px;
      width: 80%;
    }
  }

  .error-row {
    margin-left: 62px;
    width: 80%;
    color: #f45c5e;
  }
}

.pop-box {
  overflow-y: auto;
  max-height: 24vh;
}

.pop-content {
  width: 100%;
  height: 38px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.pop-content:hover {
  background: #f0f3fa;
  color: #6e91f1;
}

.add-icon {
  padding-bottom: 2.5px;
}

.prefixTpl {
  margin-bottom: 3px;
}
