.config-container {
  margin-left: 10px;

  .config-help {
    width: 550px;
  }
}

.mount-config-group .config-help {
  width: 525px;
  margin-top: 14px;
}

.drill-mount-config-group .config-help {
  width: 590px;
}

.config-title {
  color: #6c7280;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-right: 8px;
  width: auto;
}

.database-config-writeable {
  width: 275px;
}

.zh-mount-width {
  width: 131px;
}

.en-mount-width {
  width: 255px;
}

.en-mount-drill-width {
  width: 180px;
}
