.desc-font {
  font-size: 16px;
}

.overview-tag {
  height: 140px;
  background-image: url('assets/img/drill-overview-bk.png');
  background-repeat: no-repeat;
  background-position: right -10px bottom -10px;
  background-color: var(--live-angular-color-container-background);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  .overview-tag-right-group {
    margin-right: 80px;
  }
}

.overview-img {
  height: 140px;
  margin-right: 24px;
}

.summary-count {
  font-size: 28px;
  line-height: 28px;
}

.vertical-up-text {
  margin-bottom: 8px;
}

.vertical-line {
  width: 2px;
  height: 60px;
  background-color: var(--live-angular-color-divider-regular);
}

.big-icon {
  width: 24px;
  height: 24px;
}

.error-nodes {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}
