.desc-mg {
  margin-bottom: 20px;
}

.hive-all-table,
.hive-selected-table {
  margin: 0 !important;
  border: 1px solid var(--live-angular-color-border-regular);
  height: 800px;
  border-radius: 4px;
  position: relative;

  .table-paginator {
    position: absolute;
    bottom: 0px;
    padding: 0 20px;
  }
}

.th-group {
  justify-content: space-between !important;
}
