<lv-form [formGroup]="formGroup" class="formGroup">
    <lv-form-item>
        <lv-form-label lvRequired>
            {{'common_name_label' | i18n}}
        </lv-form-label>
        <lv-form-control [lvErrorTip]="nameErrorTip">
            <input lv-input type="text" formControlName="name" />
        </lv-form-control>
    </lv-form-item>
    <lv-form-item>
        <lv-form-label lvRequired>
            {{'common_principal_name_label' | i18n}}
        </lv-form-label>
        <lv-form-control [lvErrorTip]="principalNameErrorTip">
            <input lv-input type="text" formControlName="principalName" />
        </lv-form-control>
    </lv-form-item>
    <lv-form-item>
        <lv-form-label lvRequired>
            {{'common_config_mode_label' | i18n}}
        </lv-form-label>
        <lv-form-control [lvErrorTip]="configModeErrorTip">
            <lv-radio-group formControlName="createModel" [lvGroupName]="'configModeGroup'">
                <lv-group [lvGutter]="'24px'">
                    <lv-radio [lvValue]="kerberosConfigMode.pwd" [lvDisabled]="data">
                        {{'common_password_label' | i18n}}
                    </lv-radio>
                    <lv-radio [lvValue]="kerberosConfigMode.file" [lvDisabled]="data">
                        {{'common_key_tab_file_label' | i18n}}
                    </lv-radio>
                </lv-group>
            </lv-radio-group>
        </lv-form-control>
    </lv-form-item>
    <lv-form-item>
        <lv-form-label lvRequired>
            {{'common_config_file_label' | i18n}}
        </lv-form-label>
        <lv-form-control>
            <lv-upload lvAccept=".conf" lvShowUpload="false" [lvFilters]="configFilters"></lv-upload>
        </lv-form-control>
    </lv-form-item>

    <ng-container *ngIf="formGroup.value.createModel === kerberosConfigMode.pwd">
        <lv-form-item>
            <lv-form-label lvRequired>
                {{'common_password_label' | i18n}}
            </lv-form-label>
            <lv-form-control [lvErrorTip]="passwordErrorTip">
                <aui-inupt-with-eye formControlName="password" [lvPasteAllowed]="false"></aui-inupt-with-eye>
            </lv-form-control>
        </lv-form-item>
        <lv-form-item>
            <lv-form-label lvRequired>
                {{'common_confirmpwd_label' | i18n}}
            </lv-form-label>
            <lv-form-control [lvErrorTip]="passwordErrorTip">
                <aui-inupt-with-eye formControlName="confirmpwd" [lvPasteAllowed]="false"></aui-inupt-with-eye>
            </lv-form-control>
        </lv-form-item>
    </ng-container>

    <ng-container *ngIf="formGroup.value.createModel === kerberosConfigMode.file">
        <lv-form-item>
            <lv-form-label lvRequired>
                {{'common_key_tab_file_label' | i18n}}
            </lv-form-label>
            <lv-form-control>
                <lv-upload lvAccept=".keytab" lvShowUpload="false" [lvFilters]="keytabFilters"></lv-upload>
            </lv-form-control>
        </lv-form-item>
    </ng-container>
</lv-form>