<lv-alert lvType="info">{{'common_handle_tip_label' | i18n}}</lv-alert>
<lv-form [formGroup]="formGroup" class="formGroup">
  <lv-form-item>
    <lv-form-label lvRequired>{{ 'common_handling_opinion_label' | i18n }}</lv-form-label>
    <lv-form-control [lvErrorTip]="markErrorTip">
      <lv-input-lint>
        <textarea
          formControlName="mark"
          [attr.maxlength]="MAX_LENGTH"
          rows="5"
          lv-input
          style="resize: vertical;"
        ></textarea>
      </lv-input-lint>
    </lv-form-control>
  </lv-form-item>
</lv-form>
