.disk-conatiner {
  margin-top: 10px;
}

.disk-type-warn {
  align-items: flex-start;
  margin-top: 4px;

  i {
    margin-top: 4px;
  }

  span {
    line-height: 24px;
  }
}

.ip-empty {
  font-size: 12px;
  color: #9ea4b3;
}

.network-card {
  cursor: pointer;
}

.app-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  height: 48px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
