.form-position {
  margin-top: 40px;
}

.node-style {
  font-weight: 600;
  font-size: 17px;
}

.user-add-tips {
  color: var(--live-angular-color-text-hint);
  font-size: 12px;
}

.test {
  vertical-align: top;
  button {
    margin-top: 20px;
  }
}

.aui-operation {
  margin-top: 24px;
  margin-bottom: 20px;
}
