.form-position {
  margin-top: 43px;
}

.node-style {
  font-weight: 600;
  font-size: 17px;
  color: #282b33;
}

.user-add-tips {
  color: #bec4d1;
  font-size: 12px;
  margin-left: 10px;
}

.test {
  vertical-align: top;
  button {
    margin-top: 20px;
  }
}

.aui-operation {
  margin-top: 24px;
  margin-bottom: 20px;
  margin-left: 9px;
}

.algin-table {
  padding-left: 9px;
}
