.echarts-div {
  height: 220px;
  width: 220px;
  border: 1px solid #eff2f8;
  border-radius: 200px;
  margin-left: 30%;
}
.content {
  margin-top: 10px;
  .photo {
    position: relative;
    width: 500px;
    height: 240px;
    margin-left: 18%;
    .data-reduction {
      width: 92%;
    }
    img {
      width: 100%;
      height: 100%;
    }

    .large-bucket {
      position: absolute;
      left: 15%;
      top: 87%;
      color: #292c35;
      .number {
        font-size: 20px;
      }
      .unit {
        color: #818692;
        font-size: 14px;
        margin-left: 6px;
      }
    }

    .large-bucket-zero {
      position: absolute;
      left: 18%;
      top: 87%;
      color: #292c35;
      .number {
        font-size: 20px;
      }
      .unit {
        color: #818692;
        font-size: 14px;
        margin-left: 6px;
      }
    }

    .small-bucket {
      position: absolute;
      left: 76%;
      top: 87%;
      color: #292c35;
      .number {
        font-size: 20px;
      }
      .unit {
        color: #818692;
        font-size: 14px;
        margin-left: 6px;
      }
    }

    .small-bucket-zero {
      position: absolute;
      left: 79%;
      top: 87%;
      color: #292c35;
      .number {
        font-size: 20px;
      }
      .unit {
        color: #818692;
        font-size: 14px;
        margin-left: 6px;
      }
    }

    .ratio {
      position: absolute;
      top: 86%;
      font-size: 28px;
      left: 40%;
      width: 32%;
      text-align: center;
    }
    .label {
      margin-top: 0.35rem;
      position: absolute;
      top: 90%;
      color: #6c7280;
      font-size: 12px;
      font-weight: 300;
    }
    .logical-label {
      left: 17%;
    }
    .ratio-label {
      left: 52%;
    }
    .physical-label {
      left: 76%;
    }
  }
}
.homepage {
  margin-left: 0 !important;
}
