.file-path-title {
  margin: 24px 0;
}
.pl-10 {
  padding-left: 10px;
}
.template-control-container {
  width: 480px !important;
}
.prefix-span {
  color: red;
}
.path-table {
  margin-top: 20px;
}
.path-container {
  margin-bottom: 20px;
}
