.back-icon {
  cursor: pointer;
}

.content-container {
  min-height: calc(100% - 40px);
}

.bottom-btn-container {
  position: sticky;
  bottom: 0;
  height: 64px;
  background-color: inherit;
  border-top: 1px solid var(--live-angular-color-divider-regular);

  .bottom-btn-group {
    position: absolute;
    right: 0;
    top: 16px;
  }
}
