<div class="aui-fullpage">
  <div class="aui-header-1">
    <lv-group lvGutter="8px" class="back-icon" (click)="back()">
      <i lv-icon="aui-widget-datepicker-previous" [lvColorState]="true"></i>
      <h1>{{ (isModify ? 'system_modify_role_label' : 'system_create_role_label') | i18n }}</h1>
    </lv-group>
  </div>
  <div class="aui-block aui-paginator-container">
    <aui-create-role-form [data]="rowData" [formGroup]="formGroup"></aui-create-role-form>
    <div class="bottomBtn">
      <lv-group lvGutter='16px'>
        <button lv-button (click)='back()'>{{ 'common_cancel_label' | i18n }}</button>
        <button lv-button lvType='primary' (click)='onOK()' [disabled]="disableButton">{{ 'common_ok_label' | i18n}}</button>
      </lv-group>
    </div>
  </div>
</div>
