.alarm-num {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 36px;
  padding-bottom: 4px;
  .total {
    line-height: 22px;
    color: #b3b3b3;
    cursor: pointer;
    .total-num {
      color: #e6e6e6;
      font-weight: 700;
      font-size: 32px;
      line-height: 36px;
    }
  }
  .detail {
    display: flex;
    gap: 16px;
    align-items: center;
    .detail-item {
      display: flex;
      align-items: center;
      gap: 4px;
      cursor: pointer;
      .icon {
        width: 8px;
        height: 8px;
      }
      .text {
        color: #b3b3b3;
      }
      .num {
        color: #e6e6e6;
      }
    }
    .critical {
      .icon {
        background-color: #f24e4e;
      }
    }
    .major {
      .icon {
        background-color: #fa8241;
      }
    }
    .warning {
      .icon {
        background-color: #ebc040;
      }
    }
  }
}

.alarm-chart {
  width: 100%;
  display: flex;
  height: 8px;
  gap: 2px;
  padding-bottom: 16px;
  .chart-item {
    height: 8px;
  }
  .critical {
    min-width: 4px;
    flex: 1;
    background-color: #f24e4e;
  }
  .major {
    min-width: 4px;
    flex: 1;
    background-color: #fa8241;
  }
  .warning {
    min-width: 4px;
    flex: 0;
    background-color: #ebc040;
  }
  .null {
    flex: 1;
    background-color: #4d4d4d;
  }
}

.alarm-list {
  width: 100%;
  .list-item {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    .icon {
      height: 16px;
      width: 4px;
      margin-right: 8px;
    }
    .icon.critical {
      background-color: #f24e4e;
    }
    .icon.major {
      background-color: #fa8241;
    }
    .icon.warning {
      background-color: #ebc040;
    }
    .detail {
      color: #b3b3b3;
      font-size: 14px;
      line-height: 22px;
      height: 22px;
      flex: 1;
      margin-right: 24px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .detail:hover {
      color: #1979ff;
      cursor: pointer;
    }
    .time {
      color: #808080;
      font-size: 12px;
      line-height: 22px;
      height: 22px;
    }
  }
}

.empty {
  margin-top: 24px;
}
