.cluster-icon {
  width: 20%;
  margin-left: 20px;
}

.detail-header {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  .node-name {
    font-weight: bold;
    font-size: 20px;
  }
  .lv-form-label {
    margin-left: 10px;
  }
}

h2 {
  margin-bottom: 10px;
}

.formGroup {
  margin-bottom: 40px;
  margin-top: 20px;
}
