@import url('../module.style.less');

.capacity-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.license-margin {
  margin: auto auto;
}

.license-capacity {
  background-image: url('assets/img/license-capacity-new.svg');
  background-size: cover;
  width: 110px;
  height: 110px;
  display: inline-block;
}
