.workload-container {
  margin-top: 38px;
}

.required {
  color: red;
  padding-right: 0.04rem;
}

.workload-tabs {
  padding-left: 10px;
  margin-top: 10px;
}

.select-num-label {
  font-size: 12px;
}

.tag-group {
  width: 570px;
}

.mgb-tag {
  margin-bottom: 20px;
}

.add-tag-icon {
  position: relative;
  top: -2px;
}

.remove-icon {
  width: 22px;
}

.advanced-config {
  padding-left: 10px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.tags-autocomplete {
  width: 100% !important;
}

.mgb {
  margin-bottom: 20px;
}

.mgb-min {
  margin-bottom: 12px;
}

.add-group {
  display: inline-block;
}

.label-group {
  align-items: flex-start;

  i {
    margin-top: 10px;
  }
}
