.selected-policy-container {
  .title-container {
    margin-bottom: 0.2rem;
  }
  .desensitization-control {
    line-height: 0.2rem;
  }
}
.anonymization-data-container {
  margin-top: 20px;
  .data-tree-container .lv-tree {
    width: 660px;
    .icon-container {
      position: relative;
      top: -4px;
    }
    .edit-container {
      margin-left: 12px;
      position: relative;
      top: -5px;
    }
    .pattern-container {
      max-width: 480px;
      display: inline-block;
    }
    .edit-container {
      visibility: hidden;
    }
    span.value-inner-container:hover .edit-container {
      visibility: visible;
    }
  }
}
.operation-title {
  height: 70px;
  background-color: #f0f3fa;
  margin-bottom: inherit;
  padding: 30px;
  border-bottom: 1px dashed #d4d9e6;
}

.data-container {
  padding-left: 22px;
  background-color: #f7faff;
}
