.statistics-tag {
  display: inline-block;
  min-width: 60px;
  height: 24px;
  color: #ffffff;
  border-radius: 14px;
  line-height: 23px;
  padding-right: 8px;
  margin-right: 16px;
}

.statistics-tag i {
  margin-left: 4px;
  margin-top: -2px;
  cursor: default;
}

.statistics-label {
  margin-left: 16px;
}

.count-label {
  margin-left: 4px;
  margin-right: 8px;
}

.infected-background {
  background: #f45c5e;
}

.abnormal-background {
  background: #fdca5a;
}

.uninfected-background {
  background: #7adfa0;
}

.ready-background {
  background: #b8e0ff;
}

.detecting-background {
  background: #6cbfff;
}

.uninspected-background {
  background: #b8becc;
}
