.text-wrap {
  color: #333;
}
.text-wrap:hover {
  color: #333;
}
.num-wrap {
  display: inline-block;
  margin-left: 5px;
  width: 30px;
  height: 16px;
  border-radius: 10px;
  text-align: center;
  line-height: 16px;
  background: #d3d8e5;
}

.table-container {
  overflow: auto;
  max-height: calc(100% - 42px);
}

.vmware-disk-container {
  height: calc(100% - 62px);
}
.margin-bottom-max {
  margin-bottom: 10px;
}
