.aui-header-5 {
  margin-top: -12px;
  margin-bottom: 20px;
}

.right-interval-certification {
  margin-right: 30px;
  margin-left: 20px;
  position: relative;
}

.right-interval-username {
  margin-right: 100px;
}

.right-interval-password {
  margin-right: 50px;
}

.header1 {
  margin-bottom: 20px;
}

.header2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.aui-block {
  height: 100%;
}

.container-visible {
  display: block;
}

.container-visible2 {
  display: block;
  height: 100%;
}

.container-hidden {
  display: none;
}

.type-tip {
  align-items: flex-start;
  margin-top: 10px;

  span {
    line-height: 24px;
  }
}

.refresh-btn {
  margin-bottom: 20px;
  justify-content: flex-end;
}

.init-content {
  max-height: 79vh;
  overflow-y: auto;
  height: inherit;
}

.header {
  margin-bottom: 40px;
}

.header-bottom {
  margin-bottom: 8px;
  margin-top: 40px;
}

.card-box {
  width: 250px;
  height: 50px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  padding: 16px;

  .box-title {
    margin: 4px 0 0 7px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
  }

  .box-content p {
    margin-left: 5px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #808080;
  }
}

.card-box-en {
  height: auto;
}

.card-box.select {
  border: 1px solid #1664d9;
  background-color: #eef7fd;
}

.upload-control {
  display: inline-block;
  margin-left: 10px;

  .upload-button {
    margin-left: 70px;
    position: relative;
  }
}

.init-button {
  width: calc(100% - 74px);
  justify-content: flex-end;
  display: flex;
  height: 64px !important;
  position: absolute;
  bottom: 0px;
  z-index: 10;
  border-top: 0.01rem solid #f2f2f2;

  .init-button-content {
    margin: 16px 24px;
    height: 40px !important;
  }
}
