.group {
  height: 100%;
}

.aui-operation {
  margin-bottom: 16px;
}

.left {
  width: 330px;
  height: 100%;
}

.right {
  width: calc(100% - 332px);
  height: 100%;
  align-items: flex-start;
}

.right-tab {
  padding-left: 24px;
  width: 100%;
  height: 100%;
}

.tree-container {
  width: calc(100% - 32px);
  height: 100%;
  overflow: auto;

  .lv-tree {
    min-width: 100%;
    width: auto;
  }
}

.slip {
  height: 100%;
  border-right: 2px solid #f5f8fc;
}

::-webkit-scrollbar {
  width: 0.08rem;
  height: 0.08rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.04rem;
  background: #d4d5d6;
}

::-webkit-scrollbar-track {
  border-radius: 0.04rem;
  position: absolute;
  right: -8px;
}

.click {
  color: #5b7ede;
  cursor: pointer;
}

.aui-paginator-wrap {
  bottom: 0;
}

.tree-no-data {
  text-align: center;
  margin-top: 48px;

  i {
    width: 72px;
    height: 72px;
  }
}

.tree-node-offline {
  color: #b8becc;
}

.vm-container {
  height: 100%;
}

.icon-margin {
  margin-left: 8px !important;
}
