.overview {
  height: 215px;
  padding: 18px 0;
  background-image: url('assets/img/drill-overview-bk.png');
  background-repeat: no-repeat;
  background-position: right -10px bottom -10px;
  background-color: #f8fafe;
}

.overview-clock {
  height: 200px;
  background-image: url('assets/img/drill-overview-clock.png');
  background-repeat: no-repeat;
  background-position: right 35px bottom -10px;
  background-size: 110%;
}

.base-info-img {
  height: 220px;
}

.summary-info {
  margin-top: 14px;
  height: calc(100% - 230px);
  padding: 32px;
  background: #ffffff;
}

.drill-detail {
  margin-top: 5px;

  h2 {
    font-size: 18px;
  }
}

.base-info-group {
  align-items: flex-start;
}

.small-font {
  font-size: 12px;
  color: #6c7280;
}

.big-font {
  font-size: 32px;
  line-height: 32px;
}

.percent-font {
  font-size: 14px;
}

.info-title {
  color: #6c7280;
  font-size: 12px;
}

.base-form {
  margin-top: 15px;
}

.group-line {
  width: 1px;
  background-color: #cdd6e2;
  height: 68px;
}
