<div class="aui-fullpage">
  <div class="aui-block aui-paginator-container">
    <lv-tabs [(lvActiveIndex)]="activeIndex" class="aui-tab">
      <lv-tab
        lvTitle="{{ 'protection_cluster_label' | i18n }}"
        [lvId]="clusterConfig.activeIndex"
      >
        <ng-template lv-tab-lazy>
          <aui-database-template
            [configParams]="clusterConfig"
          ></aui-database-template>
        </ng-template>
      </lv-tab>
      <lv-tab
        lvTitle="{{ 'protection_database_instance_label' | i18n }}"
        [lvId]="instanceConfig.activeIndex"
      >
        <ng-template lv-tab-lazy>
          <aui-database-template
            [configParams]="instanceConfig"
          ></aui-database-template>
        </ng-template>
      </lv-tab>
    </lv-tabs>
  </div>
</div>
