.advanced-container {
  margin-top: 50px;
}

.auto-power-switch-en-us {
  width: 195px;
}

.auto-power-switch-zh-cn {
  width: 130px;
}

.delete-vm-mgl {
  margin-left: 12px;
}

.mgb-16 {
  margin-bottom: 16px;
}
