.td-radio {
  position: relative;
  top: 3px;
  left: 12px;
}
.content-left {
  margin-left: 18px;
  padding-left: 18px;
  border-left: 1px solid #d4d9e6;
}
.major-level {
  color: #f9a5a6;
}
.warn-level {
  color: #fa8e5a;
}
.common-level {
  color: #fecd62;
}
.info-level {
  color: #a4d8ff;
}
.label-container {
  color: #d4d9e6;
}
.aui-block-container {
  align-items: center !important;
}
.innerTip {
  margin-left: 20px;
}
