.formGroup {
  h2 {
    margin-top: 24px;
  }

  .capacity-alarm-threshold {
    font-size: 0.16rem;
    color: #282b33;
    font-weight: 600;
    line-height: 1.5;
    position: relative;
    left: -10px;
  }

  .lv-form-control,
  .lv-input,
  .lv-select {
    width: 90%;
  }

  .config-notes {
    margin-left: 10px;
    display: inline-flex;
    height: 32px;
    color: #b8becc;
  }
  .capacity-unit {
    width: 80px;
  }
}

.no-data-label {
  text-align: center;
  font-size: 0.14rem;
}

.group {
  height: 520px;
  padding: 16px;
  border: 1px solid #d9d9d9;
  margin-bottom: 24px;
}

.left {
  width: 200px;
  height: 100%;
}

.right {
  width: 100%;
  height: 100%;
}

.library-container {
  width: 200px;
  height: 100%;
  .library-select > ul > li > div {
    border-left: 0.03rem solid #e6ebf5;
  }
}

.library-select {
  overflow-y: scroll;
  height: 480px;
}

.slip {
  height: 100%;
  border-right: 2px solid #e6ebf5;
}

.info-container {
  padding-left: 24px;
  padding-top: 8px;
  width: 100%;
  height: 100%;
  .info-form {
    padding-top: 16px;
    padding-bottom: 48px;
  }
}

.group-control {
  width: 90%;
}

.alarm-switch {
  padding-left: 8px;
  margin-bottom: 24px;
}

.tape-no-data {
  padding-bottom: 48px;
  text-align: center;
  border: 1px solid #d9d9d9;
  margin-bottom: 24px;
}

.tape-no-data i {
  width: 240px;
  height: 240px;
}

.control-unit {
  padding-left: 16px;
}

.show-tips {
  color: #9ea4b3;
  display: inline-block;
  padding-bottom: 15px;
  .icon-info {
    margin-top: -2px;
  }
}
