.loading {
  width: 100%;
  height: 100%;
}
.card {
  padding: 16px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: var(--live-angular-color-container-background);
  border-radius: 8px;
  user-select: none;
  overflow: hidden;
  .card-header {
    height: 24px;
    line-height: 22px;
    padding-bottom: 16px;
    .title {
      font-size: 16px;
      font-weight: 400;
      height: 100%;
      display: flex;
      justify-content: space-between;
      text-wrap: nowrap;
      .subTitle {
        margin-left: 4px;
        font-size: 14px;
      }
      .icon {
        display: inline-block;
        height: 16px;
        width: 16px;
        transform: translateY(-1px);
      }
      .select-box {
        float: right;
      }
    }
  }
  .card-body {
    flex: 1;
  }
  .card-footer {
    display: flex;
    .footer-item {
      flex: 1;
      text-align: right;
      color: var(--live-angular-color-text-secondary);
      .footer-btn {
        color: #3388ff;
        cursor: pointer;
      }
    }
    .left {
      text-align: left;
    }
  }
}

.mission-overview-background {
  background: var(--custom-overview-background);
}

.en-title-width {
  .main-title {
    max-width: 75%;
  }
  .select-box {
    max-width: 40%;
  }
}
