.name-text {
  width: 375px;
}

.radio-container {
  margin-top: 10px;
}

.scheduled-interval {
  width: 160px;
}

.interval-unit {
  width: 110px;
  margin-left: 15px;
}

.copy-generated {
  width: 245px;
}

.retention-interval {
  width: 160px;
}

.first-execute-container {
  width: 66px;
}

.copyData-policy {
  width: 375px;
}

.period-schedule {
  width: 92px;
}

.fixed-time {
  width: 92px;
}

.unit-inner-select {
  width: 80px;
}

::ng-deep.unit-inner-select > .lv-select-wrapper {
  border: none;
  padding: 0;
}

.container-width {
  width: 100%;
}

.first-execute {
  width: 79px;
}
