.advanced-input-container {
  width: 150px !important;
}

.cpu-number-label {
  margin-right: 66px;
}

.size-label {
  margin-right: 60px;
}

.esxi-tip {
  width: 836px;
  margin-bottom: 15px;
  .error-label {
    margin-left: 8px;
    vertical-align: middle;
  }
}

.auto-power-switch-item .lv-form-label {
  white-space: normal;
}

.auto-power-switch {
  width: 130px;
}

.auto-power-switch-en-us {
  width: 195px;
}

.auto-power-switch-zh-cn {
  width: 130px;
}

.startup-network-adaptor-warn {
  width: 580px;
}

.delete-vm-mgl {
  margin-left: 12px;
}
