.filesystem-name-input {
  width: 100%;
}
.mgt-8 {
  margin-top: 8px;
}
.share-mode-tab {
  background: #f7faff;
  padding-top: 9px;
}
.cifs-tab {
  margin-top: 20px;
}
.share-info {
  margin: 14px 0;
}
