.mgb-10 {
  margin-bottom: 10px;
}

.filter-header-color {
  color: #282b33;
}

.path-overflow {
  max-width: 460px;
  word-wrap: break-word;
  word-break: break-all;
}

.filter-overflow {
  max-width: 430px;
}

.table-path-container {
  margin-top: 20px;
  margin-bottom: 10px;
}

.mgt20 {
  margin-top: 20px;
}
