.reduction-reate {
  width: 100%;
  height: 100%;
  position: relative;
  .proportions {
    position: absolute;
    height: 58px;
    top: 16px;
    width: 100%;
    text-align: right;
    .ratios {
      font-size: 32px;
      line-height: 32px;
      font-weight: 700;
      color: var(--live-angular-color-text-regular);
    }

    .title {
      font-size: 12px;
      line-height: 18px;
      color: var(--live-angular-color-text-secondary);
    }
  }

  .container {
    position: absolute;
    top: 42px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    box-sizing: border-box;
    gap: 16px;
    .left-line {
      flex: 1;
      transform: translateY(50%);
      height: 54px;
      border-top: 1px solid #979797;
      border-left: 1px solid #979797;
    }

    .figures {
      width: 174px;
      height: 130px;
      background: url(assets\img\reduction-rate-img.svg) no-repeat;
      background-size: 100% 100%;
    }

    .right-line {
      flex: 1;
      transform: translateY(50%);
      height: 54px;
      border-top: 1px solid #979797;
      border-right: 1px solid #979797;
    }
  }

  .footer {
    position: absolute;
    top: 188px;
    height: 46px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .logical-usage,
    .physical-dosage {
      .number {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: var(--live-angular-color-text-regular);
        span.unit {
          font-size: 12px;
          line-height: 22px;
          color: var(--live-angular-color-text-secondary);
        }
      }

      .title {
        font-size: 12px;
        line-height: 18px;
        color: var(--live-angular-color-text-secondary);
      }
    }
  }
}
