.sub-body {
  padding: 16px 24px 0 24px;
  box-sizing: border-box;
}

.max-width {
  width: 432px;
}

.min-width {
  width: 224px;
}

.app-titile-group {
  justify-content: center;
}

.min-warp {
  max-width: 160px;
  color: var(--live-angular-color-text-regular);
}

.max-warp {
  max-width: 300px;
  color: var(--live-angular-color-text-regular);
}

.count-label {
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  font-weight: bolder;
  margin-top: 2px;
}

.backToTopIcon {
  width: 16px;
  height: 16px;
}

.tooltip-mgl {
  margin-left: 2px;
}

.card-group {
  width: 100%;
}

.card-group {
  width: 100%;
}

.tab-popover-group {
  justify-content: space-between;
}

.close-button {
  border-radius: 4px;
}

.custom-box {
  display: grid;
  grid-template-columns: 240px auto auto;
  grid-gap: 10px;
}

.custom-item {
  width: 240px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid var(--live-angular-color-border-regular);
  cursor: pointer;
  border-radius: 4px;
}

.app-more-titile-group {
  margin: 12px;
}

.app-more-label-warp {
  max-width: 120px;
}

.app-more-count-warp {
  max-width: 40px;
}
