.sub-body {
  padding: 16px 24px 0 24px;
  box-sizing: border-box;
}

.max-width {
  width: 432px;
}

.min-width {
  width: 224px;
}

.app-titile-group {
  justify-content: center;
}

.min-warp {
  max-width: 160px;
  color: #1a1a1a;
}

.max-warp {
  max-width: 300px;
  color: #1a1a1a;
}

.count-label {
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  font-weight: bolder;
  margin-top: 2px;
}

.backToTopIcon {
  width: 16px;
  height: 16px;
}

.tooltip-mgl {
  margin-left: 2px;
}

.card-group {
  width: 100%;
}

.card-group {
  width: 100%;
}
