.tabnav-font {
  font-size: 0.14rem;
}

.range-group {
  vertical-align: sub !important;
}

.mgt-10 {
  margin-top: 24px;
}

.date-picker {
  width: 450px;
}

.interval-input-group {
  width: 240px;
}

.unit-inner-select {
  width: 80px;
}

::ng-deep.unit-inner-select > .lv-select-wrapper {
  border: none;
  padding: 0;
}
