.delete-status {
  display: flex;
  align-items: center;
  i {
    margin-right: 8px;
    width: 10px;
    height: 10px;
  }
}

.percent-bar {
  width: 150px;
}

.size-percent {
  color: #a4a7b0;
  font-size: 10px;
  text-align: right;
}
