.control-container {
  width: 100%;
}

.clear-icon {
  width: 12px;
  height: 12px;
}

.create-icon {
  padding-left: 16px;
  position: relative;
  top: -2px;

  .lv-icon-host.lv-icon-color-state:hover {
    color: var(--live-angular-color-primary-hover);
  }
}

.padding-container {
  .lv-input-group.lv-input-group-default {
    width: calc(100% - 0.5rem);
  }
}

.filter-container {
  margin-top: 20px;
}

.rule-help {
  font-size: 0.15rem;
  color: var(--live-angular-color-text-hint);
}

.filter-check-container label {
  position: relative;
  top: 4px;
}

.padding-container {
  padding-left: 20px;
}

.padding-container {
  .lv-select {
    width: calc(100% - 0.5rem);
  }

  .lv-date-range-picker {
    width: calc(100% - 0.5rem);
  }
}

.create-fileset {
  .condition-container {
    margin-top: 5px;
    border: 1px solid var(--live-angular-color-border-regular);
    padding: 10px 10px 20px 10px;
    border-radius: 4px;
  }
}

.top-control {
  position: relative;
  top: -10px;
}
