<div class='aui-gutter-column-xl'>
    <lv-group lvGutter='8px'>
        <span class='tip-icon'><i lv-icon="lv-icon-status-info" lvColorState='true'></i></span>
        <span>{{isNfsShareMode ? ('protection_nas_pg_restore_nfs_desc_label' | i18n)
            :('protection_nas_pg_restore_cifs_desc_label' | i18n)}}
        </span>
    </lv-group>
</div>

<aui-select-protect-objects [title]="title" [allTableData]="allTableData" [columns]="columns"
    [resourceData]="resourceData" (updateTable)="updateTable($event)" (dataChange)="dataChange($event)">
</aui-select-protect-objects>
