.contentTpl {
  margin-top: 16px;
}

.footerBtn {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-header {
  display: flex;
  justify-content: space-between;
  margin: 20px 70px 16px 16px;
  height: 36px;
}

.file-header {
  justify-content: flex-end;
}

.tree-container {
  width: 100%;
  border: 1px solid #dedede;
  max-height: 200px;
  overflow: auto;
  margin-top: 8px;

  lv-tree {
    width: 100%;
  }
}

.no-data {
  height: 0;
}

.about-text {
  margin-bottom: 16px;
}
