<lv-group class='aui-gutter-column-xxl'>
    <i *ngIf="online" lv-icon='aui-sla-cluster-online' class="base-info-icon"></i>
    <i *ngIf="!online" lv-icon='aui-sla-cluster-offline' class="base-info-icon"></i>

    <lv-group lvDirection='vertical'>
        <lv-group class="info" lvGutter='8px'>
            <span>{{'common_name_label' | i18n}}</span>
            <span lv-overflow>{{data?.name}}</span>
        </lv-group>
    </lv-group>
    <lv-group lvDirection='vertical'>
        <lv-group class="info" lvGutter='8px'>
            <span>{{'protection_cluster_type_label' | i18n}}</span>
            <span lv-overflow>{{'protection_deployment_standby_label' | i18n}}</span>
        </lv-group>
    </lv-group>
</lv-group>

<aui-King-base-proxy-host [data]='data'></aui-King-base-proxy-host>
