.recovery-table {
  border: 1px solid #d4d8e0;
  height: 500px;
}

.recovery-conifg {
  margin-top: 24px;
}

.target-table {
  border: 1px solid #d4d8e0;
  margin-top: 24px;
}

.type-select {
  width: 140px !important;
}

.disk-select {
  width: 260px !important;
}

.openstack-restore-group {
  align-items: flex-start;
}

.disk-type-warn {
  margin-top: 10px;
}
