h2 {
  margin-bottom: 16px;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;

  .lv-form-control {
    padding-bottom: 0.1rem;
  }

  .node-card {
    width: 100%;
    border-radius: 8px;
    border: solid 1px #e6e6e6;
    margin-bottom: 20px;
    padding: 20px 20px 0;
  }

  .card-title {
    display: flex;
    margin-bottom: 11px;

    img {
      width: 24px;
      height: 24px;
      margin-right: 4px;
    }

    p {
      font-size: 14px;
      font-weight: 600;
    }
  }

  .baseInfo {
    img {
      width: 80px;
      height: 69px;
      margin-right: 8px;
    }

    .node-name {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 7px;
    }
  }

  .join-line {
    display: flex;
    align-items: center;
  }
}

.formGroup {
  margin-top: 20px;

  .interval {
    margin-left: 7px;
  }

  .gatway-box {
    margin-bottom: 0.2rem;
  }
}

::ng-deep .table-container .lv-table-body {
  height: auto !important;
}
