.report-detection-result {
  text-align: center;
}

.report-detection-result i {
  width: 80px;
  height: 80px;
  margin-bottom: 8px;
}

.report-detail {
  background: #f7faff;
  padding: 20px;
}

.report-no-data {
  text-align: center;
  margin-top: 64px;
}

.report-no-data i {
  width: 72px;
  height: 72px;
}

.no-data-label {
  text-align: center;
  font-size: 0.14rem;
}

.depth-tag {
  width: 140px;
  color: #a9aeb9;
  background: #f0f3fa;
  border-radius: 10px;
  text-align: center;
}
