.header-container {
  justify-content: flex-start;
}

.switch-container {
  margin-left: 20px;
}

.cluster-container {
  width: 220px;
  max-height: 980px;
  overflow-y: overlay;
}

.echart-container {
  display: flex;
}

.right-container {
  width: calc(100% - 220px);
  padding: 0 0 0 24px;
  border-left: 1px solid var(--live-angular-color-divider-secondary);
}

.condition-container {
  display: flex;
  justify-content: space-between;
}

.node-operation {
  margin-bottom: 10px;
  overflow: auto;
}

.node-operation .operation-group {
  float: right;
}

.node-operation .lv-select {
  width: 180px;
}

.right-container .aui-echarts {
  margin-top: 30px;
}

#latency-chart,
#copy-latency-chart,
#iops-chart,
#copy-iops-chart,
#bindwidth-chart,
#copy-bindwidth-chart,
#copy-nas-bindwidth-chart {
  height: 300px;
  width: 100%;
}

.aui-echarts h3 {
  margin-top: 10px;
}

.performance-no-data {
  text-align: center;
}

.no-data-label {
  text-align: center;
  font-size: 0.14rem;
}

.performance-no-data i {
  margin-top: 64px;
  width: 72px;
  height: 72px;
}

.container-checkbox {
  margin-top: 10px;
}

.multi-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .setting-container {
    cursor: pointer;
  }

  span {
    color: #5b7ede;
  }
}

.btn {
  margin-top: 16px;
}

.chart-container {
  width: 100%;
}
