.cover-old-db {
  padding-right: 15px;
}

.cover-old-db-desc {
  padding-left: 5px;
}

.filter-container,
.advanced-container {
  margin-top: 28px;
}

.newName {
  margin-top: 20px;
  position: relative;
  left: 72px;
  width: 80%;
}

.form-tips {
  margin-top: 5px;
  margin-left: 5px;
}
.aui-tips {
  margin-top: 5px;
}
