.tip-info {
  display: inline-block;
  .icon-info {
    float: left;
    vertical-align: middle;
    margin-right: 8px;
    margin-top: 12px;
  }
  .private-key-tip {
    width: 90%;
    float: left;
    margin-top: 8px;
    line-height: 24px;
  }
}
