.lv-pro-table {
  .lv-loading-mask {
    background: rgba(225, 225, 225, 0.75);
  }

  .lv-table-th-expand {
    .lv-table-th-deliver {
      display: none;
    }
  }
  .lv-table-body-default tbody > tr:last-of-type {
    animation: none;
  }
}
.lv-pro-table-noAnim {
  .lv-table-body-default tbody > tr {
    animation: none;
  }
}

.lv-pro-table-filter {
  > .lv-tag .lv-tag-main .lv-tag-item {
    padding: 4px 10px;
    margin: 0 10px 8px 0;
  }
  > .lv-tag .lv-tag-main .lv-tag-clear {
    margin-bottom: 8px;
  }
}

.lv-pro-table-pagination-hide {
  display: none;
}
