<lv-form [formGroup]='formGroup' [lvLabelColon]="false" class="formGroup" lvKeepRequiredWidth>
    <lv-form-item>
        <lv-form-label lvRequired>{{'common_path_label' | i18n}}</lv-form-label>
        <lv-form-control [lvErrorTip]="pathErrorTip">
            <lv-input-lint class="user-desc">
                <textarea rows="5" formControlName="paths" lv-input style="resize: vertical;"
                    placeholder="{{'protection_path_placeholder_label' | i18n}}"
                    [lvAutosize]="{ minRows: 4, maxRows: 8 }"></textarea>
            </lv-input-lint>
        </lv-form-control>
    </lv-form-item>
</lv-form>