.protection-situation {
  margin-top: -8px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .chart-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 190px;
    height: 190px;
    box-sizing: border-box;
  }

  .detail-container {
    position: absolute;
    top: 176px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 10px;

    .protected,
    .unprotected {
      height: 50px;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;

      .num {
        color: var(--live-angular-color-text-regular);
        font-size: 24px;
        font-weight: 700;
        height: 28px;
        line-height: 28px;
      }

      .type {
        height: 22px;
        line-height: 22px;
        display: flex;
        align-items: center;
        gap: 8px;

        .circle {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: #3388ff;
        }

        .text {
          font-size: 14px;
          color: var(--live-angular-color-text-secondary);
        }
      }
    }

    .unprotected {
      .circle {
        background-color: var(--live-angular-color-tag-background) !important;
      }
    }

    .split-line {
      height: 30px;
      width: 1px;
      background-color: var(--live-angular-color-divider-secondary);
    }
  }
}
