
.tree * {padding:0; margin:0; font-family: "宋体", Arial, Helvetica, AppleGothic, sans-serif}
.tree{
    font-size: 12px;
    width: 300px;
    height: 155px;
    overflow: auto;
    user-select: none;
    padding: 10px;
}
.tree ul,li{
    list-style: none;
    white-space: nowrap;
}
.tree .button{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    cursor: pointer;
}
.tree .button.button-close{
    background: url("./icon/add.png") no-repeat center;
}
.tree .button.button-open{
    background: url("./icon/minus.png") no-repeat center;
}
.tree .button.button-nochild{
    background: none;
}

.tree .icon{
    display: inline-block;
    width: 16px;
    height: 18px;
    margin-right: 3px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
}
.tree .icon-close {
    background: url("./icon/close.png") no-repeat center;
}
.tree .icon-open {
    background: url("./icon/open.png") no-repeat center;
}
.tree .icon-nochild {
    background: url("./icon/no-child.png") no-repeat center;
}
.tree li a {
    display: inline-block;
    height: 17px;
    cursor: pointer;
    color: #333333;
    background-color: transparent;
    text-decoration: none;
    vertical-align: top;
    padding: 0 3px;

}
.tree li a.a_selected{
    padding-top: 0px;
    color: #ffffff;
    opacity: 0.8;
    background-color: #007fff;

}
.tree .node_name{
    display: inline-block;
    vertical-align: middle;
}

.tree li ul{
    padding-left: 18px;
}