.cover-old-db {
  padding-right: 15px;
}

.cover-old-db-desc {
  padding-left: 5px;
}

.filter-container,
.advanced-container {
  margin-top: 28px;
}

.newName {
  margin-top: 20px;
  position: relative;
  left: 72px;
  width: 80%;
}
.aui-tips {
  margin-top: 5px;
}
.type-icon {
  position: relative;
  right: 2px;
}
