.tab-icon {
  width: 24px;
  height: 24px;
}

.card-container {
  width: 350px;
  height: 200px;
  border-radius: 10px;
  padding: 20px;
  background: var(--live-angular-color-container-background);
  margin: 0 20px 20px 0;
  display: inline-block;
  cursor: pointer;
}

.empty-card-container {
  width: 350px;
  height: 80px;
  border-radius: 10px;
  padding: 20px;
  background: var(--live-angular-color-container-background);
  margin: 0 20px 20px 0;
  display: inline-block;
  cursor: pointer;
}

.empty-card-flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.unregistered-title {
  margin-top: 10px;
  margin-bottom: 12px;
}

.card-desc-text {
  font-size: 12px;
}

.progress-text {
  font-size: 12px;
}

.progress-group {
  margin-top: 24px;
}

.mgt-10 {
  margin-top: 10px;
}

.text {
  color: var(--live-angular-color-text-regular);
}

.backToTopIcon {
  width: 24px;
  height: 24px;
}
