.tree-container {
  margin-top: 5px;
  width: 100%;
  border: 1px solid #dedede;
  padding: 0.24rem;
}
.filter-container,
.advanced-container {
  margin-top: 20px;
}
.mgl-10 {
  margin-left: 10px;
}

.mgt-8 {
  margin-top: 8px;
}

.select-path-title {
  margin-left: 30px;
}

.tip-container {
  color: #b8becc;
}

.data-node {
  margin: 15px 0;
}

.table-head-proxy:after {
  content: '*';
  display: inline;
  color: red;
  padding-right: 0.04rem;
}

.formControl {
  width: 500px;
}
