# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

cmake-build-debug/*
.vscode

.vs
.idea
.cache
data_move_engine/build-cmake
data_move_engine/DME_Framework
data_move_engine/FS_Scanner
data_move_engine/framework
data_move_engine/Data_Transmission_Frame
data_move_engine/transmission
data_move_engine/build-cmake
data_move_engine/DME_Framework

cmake-build-debug/
src/thriftcode
build/.cmake