.tag {
  color: white;
  text-align: center;
  border-radius: 12px;
  min-width: 90px;
  height: 25px;
  line-height: 25px;
  padding: 0 8px;
}

#trend-chart {
  height: 400px;
}

.chart-width {
  width: 1060px;
}

.large-chart-width {
  width: 1200px;
}

.tag-group {
  justify-content: center;
}

.count-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

.snapshot-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
}

.mgl {
  margin-left: 4px;
  color: #6c7280;
}
