.tags-autocomplete {
  width: 100% !important;
}

.mgb {
  margin-bottom: 20px;
}

.mgb-min {
  margin-bottom: 12px;
}

.add-group {
  display: inline-block;
}

.label-group {
  align-items: flex-start;

  i {
    margin-top: 10px;
  }
}

.timeout-spinner {
  width: 100px;
}
