.software-package {
  margin-bottom: 0 !important;
}

.version-update {
  cursor: default;
}
.gutter-column {
  margin-bottom: 32px;
}
.link_status {
  display: flex;
  align-items: center;
  .view-detail {
    color: #5b7ede;
    display: none;
    padding-left: 10px;
    cursor: pointer;
  }
}

.link_status:hover .view-detail {
  display: block;
}

.solid-line {
  border: 1px solid rgba(0, 0, 0, 0.05);
  height: 32px;
}
