.cluster {
  color: #9ea4b3;
  cursor: pointer;
}

.category {
  color: #6d7278;
}

.dashed {
  border-bottom: 1px dashed #3e424d;
  margin: 5px 0 10px;
}

.cluster:hover {
  color: #1664d9;
}

.actived {
  color: #1359bf;
}

.cluster-search {
  width: 160px !important;
}
