.desc-mg {
  margin-bottom: 20px;
}

.hive-all-table,
.hive-selected-table {
  border: 1px solid #b8becc;
  height: 732px;
  position: relative;

  .table-paginator {
    position: absolute;
    bottom: -2px;
    left: 8px;
  }
}

.table-num-nav {
  display: inline-block;
  min-width: 40px;
  background: #6c92fa;
  text-align: center;
  border-radius: 12px;
  color: #ffffff;
}

.th-group {
  justify-content: space-between !important;
}

.table-header {
  height: 36px;
  background: #f0f3fa;
  line-height: 36px;
  padding-left: 25px;
  font-size: 0.12rem;
}

.arrow-container i {
  height: 20px;
}
