.desc-mg {
  margin-bottom: 20px;
}

.hive-all-table,
.hive-selected-table {
  border: 1px solid var(--live-angular-color-border-regular);
  height: 732px;
  position: relative;

  .table-paginator {
    position: absolute;
    bottom: -2px;
    left: 8px;
  }
}

.th-group {
  justify-content: space-between !important;
}

.arrow-container i {
  height: 20px;
}
