.name-filter-title {
  font-size: 12px;
  color: var(--live-angular-color-text-secondary);
  max-width: 250px;
}

.name-filter-input {
  margin: 4px 0 16px;
}

.name-filter-operation {
  display: flex;
  justify-content: flex-end;

  .lv-button:last-child {
    margin-left: 16px;
  }
}
.checkbox-shell {
  overflow: auto;
  max-height: 300px;
  width: 210px;
}
.checkbox-select {
  width: 200px;
  height: 28px;
  padding: 4px;
}
