tbody {
  td {
    padding-bottom: 2px !important;
  }

  .formControl {
    height: 72px;
  }
}

.node-info {
  position: relative;
  top: 25px;
}

.input-position {
  margin-top: 20px;
}

.setId-input.lv-input-group.lv-input-group-default {
  width: 100% !important;
}

.tdsql-input {
  width: 560px !important;
}
