.advanced-input-container {
  width: 150px !important;
}
.checkbox-container {
  position: relative;
  right: 10px;
  top: 10px;
}
.mgb-chekcbox {
  margin-bottom: 20px;
}
.mgb-10 {
  margin-bottom: 10px;
}
