.mgt-8 {
  margin-top: 8px;
}

.clear-icon {
  width: 12px;
  height: 12px;
}

.create-icon {
  padding-left: 16px;
  position: relative;
  top: -2px;

  .lv-icon-host.lv-icon-color-state:hover {
    color: #86a6fc;
  }
}

.condition-container {
  margin-top: 5px;
  border: 1px solid #d7dbe3;
  padding: 20px 24px 24px 24px;

  .include-container {
    margin-top: 20px;
  }
}

.padding-container {
  margin-top: 10px;

  .lv-input-group.lv-input-group-default {
    width: calc(100% - 50px);
  }
}
