<div class="detail-container">
  <div class="detail-header">
    <img src="assets/img/multi_cluster_backup_normal.png" class="cluster-icon">
    <lv-form-control class="detail-head">
      <lv-form-item>
        <lv-form-control class="node-name">
          {{ drawData.clusterName }}
        </lv-form-control>
      </lv-form-item>

      <lv-form-control>
        <aui-status [value]="drawData.status" type="Cluster_Status"></aui-status>
      </lv-form-control>

      <lv-form-item>
        {{storageInfo.mode}}
      </lv-form-item>
      <div>
        <lv-group lvGutter='8px'>
          <lv-group lvGutter='8px' class="aui-link" (click)="openDeviceManage()" pmpermission
            pmOperation='OpenDeviceManagement'>
            <span>{{ 'common_device_management_label' | i18n }}</span>
            <i lv-icon="aui-icon-open-link" lvColorState='true'></i>
          </lv-group>
          <i lv-icon="aui-icon-notice" [lv-tooltip]="infoTip" lvTooltipTheme="light" lvColorState="true" lv-overflow></i>
        </lv-group>
      </div>
    </lv-form-control>
  </div>

  <h2>{{ basicInfoLabel }}</h2>
  <lv-form [lvLabelColon]="false" class="auth">
    <lv-form-column lvWidth="50%">
      <lv-form-item class="time">
        <aui-current-system-time [cluster]="timeData"></aui-current-system-time>
      </lv-form-item>
    </lv-form-column>

    <lv-form-column lvWidth="50%">
      <lv-form-item>
        <lv-form-label>
          {{ 'common_capacity_label' | i18n}}
        </lv-form-label>
        <lv-form-control>
          <div class='percent-bar'>
            <lv-progress [lvValue]="storageInfo.sizePercent" [lvSize]="'small'" [lvColors]='progressBarColor'
                         lvDecimals="3"></lv-progress>
            <div class='size-percent'>
              {{storageInfo.usedCapacity | capacityCalculateLabel:'1.1-3':unitconst.MB:
              true}}/{{storageInfo.totalCapacity | capacityCalculateLabel:'1.1-3':unitconst.MB:
              true}}
            </div>
          </div>
        </lv-form-control>
      </lv-form-item>
    </lv-form-column>
  </lv-form>

  <div class="aui-header-2 aui-gutter-column-sm">
    <h2> {{'common_manger_auth_label'|i18n}}</h2>
    <div class="aui-operation">
      <lv-group lvGutter="8px">
        <a (click)="modify()" *ngIf="isView" 
        [ngClass]="{'aui-link': managerAble,'aui-link-disabled':!managerAble || !isAuth,'en-management-width':isEn}"
        pmpermission pmOperation='ModifyAuthenticationStatus'>
        {{'common_modify_label' | i18n}}</a>
        <a *ngIf="!isView"
          [ngClass]="{'aui-link': formGroup.valid,'aui-link-disabled': formGroup.invalid}"
          (click)="save()">{{ 'common_save_label' | i18n }}</a>
        <a *ngIf="!isView" class="aui-link" (click)="cancel()">{{ 'common_cancel_label' | i18n }}</a>
      </lv-group>
    </div>
  </div>

  <lv-form [formGroup]="formGroup" class="auth">
    <ng-container *ngIf="!isView">
      <div class='box' lvGutter="30px">
        <lv-form-item>
          <lv-form-label lvRequired>{{'common_username_label' | i18n}}</lv-form-label>
          <lv-form-control [lvErrorTip]='nameErrorTip'>
            <input lv-input style="width:270px" type="text" formControlName="userName" autocomplete="new-password" />
          </lv-form-control>
        </lv-form-item>
        <lv-form-item>
          <lv-form-label lvRequired>{{'common_password_label' | i18n}}</lv-form-label>
          <lv-form-control [lvErrorTip]='pwdErrorTip'>
            <aui-inupt-with-eye formControlName="password" [lvPasteAllowed]="false"
            autocomplete="new-password"></aui-inupt-with-eye>
          </lv-form-control>
        </lv-form-item>
        <lv-form-item>
          <lv-form-label>{{'common_status_label' | i18n}}</lv-form-label>
          <lv-form-control>
            <aui-status [value]="formGroup.value.status" type="Storage_Status"></aui-status>
          </lv-form-control>
        </lv-form-item>
      </div>
    </ng-container>

    <ng-container *ngIf="isView">
      <lv-form-column lvWidth="50%">
        <lv-form-item>
          <lv-form-label>{{'common_username_label' | i18n}}</lv-form-label>
          <lv-form-control>
            <span lv-overflow>
              {{formGroup.value.userName | nil}}
            </span>
          </lv-form-control>
        </lv-form-item>
        <lv-form-item>
          <lv-form-label>{{'common_status_label' | i18n}}</lv-form-label>
          <lv-form-control>
            <aui-status [value]="formGroup.value.status" type="Storage_Status"></aui-status>
          </lv-form-control>
        </lv-form-item>
      </lv-form-column>
      <lv-form-column lvWidth="50%">
        <lv-form-item>
          <lv-form-label>{{'common_password_label' | i18n}}</lv-form-label>
          <lv-form-control>
            ********
          </lv-form-control>
        </lv-form-item>
      </lv-form-column>
    </ng-container>
  </lv-form>

  <div class="aui-header-2 aui-gutter-column-sm">
    <h2> {{'common_severice_auth_label'|i18n}}
    </h2>
    <div class="aui-operation">
      <lv-group lvGutter="8px">
        <a (click)="updateStoragePwd()" *ngIf="isAuth && isUpdate" 
        [ngClass]="{'aui-link': isView,'aui-link-disabled':!isView,'en-width':isEn}"
        pmpermission pmOperation='ModifyAuthenticationStatus'>
        {{'system_update_password_label' | i18n}}</a>
        <a (click)="authService()" *ngIf="isAuth && !isUpdate"
        [ngClass]="{'aui-link': serviceAble,'aui-link-disabled':!serviceAble || !isView,'en-width':isEn}"
        pmpermission pmOperation='ModifyAuthenticationStatus'>
        {{'common_modify_label' | i18n}}</a>
        <a *ngIf="!isAuth"
          [ngClass]="{'aui-link': authForm.valid,'aui-link-disabled': authForm.invalid}"
          (click)="save()">{{ 'common_save_label' | i18n }}</a>
        <a *ngIf="!isAuth" class="aui-link" (click)="cancel()">{{ 'common_cancel_label' | i18n }}</a>
      </lv-group>
    </div>
  </div>

      <span class="info-message" *ngIf="authForm.value.status === 'ABNORMAL'">
        <i lv-icon="lv-icon-status-info" class="lv-icon"></i>
        {{'system_service_auth_fail_info_label' | i18n}}
        <span class="aui-link" (click)="openDeviceManage()">{{'system_goto_devicemanager_label' | i18n}}</span>
      </span>

  <lv-form [formGroup]="authForm" class="auth">
    <ng-container *ngIf="!isAuth">
      <div class="box" lvGutter="30px">
        <lv-form-item>
          <lv-form-label lvRequired>{{'common_username_label' | i18n}}</lv-form-label>
          <lv-form-control [lvErrorTip]='nameErrorTip'>
            <input lv-input type="text" style="width:270px" formControlName="userName" autocomplete="new-password" />
          </lv-form-control>
        </lv-form-item>
        <lv-form-item>
          <lv-form-label lvRequired>{{'common_password_label' | i18n}}</lv-form-label>
          <lv-form-control [lvErrorTip]='pwdErrorTip'>
            <aui-inupt-with-eye formControlName="password" [lvPasteAllowed]="false"
              autocomplete="new-password"></aui-inupt-with-eye>
          </lv-form-control>
        </lv-form-item>
        <lv-form-item>
          <lv-form-label>{{'common_status_label' | i18n}}</lv-form-label>
          <lv-form-control>
            <aui-status [value]="authForm.value.status" type="Storage_Status"></aui-status>
          </lv-form-control>
        </lv-form-item>
      </div>
    </ng-container>

    <ng-container *ngIf="isAuth">
      <lv-form-column lvWidth="50%">
        <lv-form-item>
          <lv-form-label>{{'common_username_label' | i18n}}</lv-form-label>
          <lv-form-control>
            <span lv-overflow>
              {{authForm.value.userName | nil}}
            </span>
          </lv-form-control>
        </lv-form-item>
        <lv-form-item>
          <lv-form-label>{{'common_status_label' | i18n}}</lv-form-label>
          <lv-form-control>
            <aui-status [value]="authForm.value.status" type="Storage_Status"></aui-status>
          </lv-form-control>
        </lv-form-item>
      </lv-form-column>
      <lv-form-column lvWidth="50%">
        <lv-form-item>
          <lv-form-label>{{'common_password_label' | i18n}}</lv-form-label>
          <lv-form-control>
            ********
          </lv-form-control>
        </lv-form-item>
      </lv-form-column>
    </ng-container>
  </lv-form>
</div>

<ng-template #infoTip>
  <lv-group lvDirection="vertical" class="info">
    <span class="info-content" innerHTML="1.{{'system_cluster_device_time_desc_label' | i18n}}"></span>
    <span class="info-content" innerHTML="2.{{'system_cluster_alarms_settings_tips_label' | i18n}}"></span>
  </lv-group>
</ng-template>
