.overview-tag {
  position: relative;
  height: 106px;
  background-image: url('assets/img/drill-overview-bk.png');
  background-repeat: no-repeat;
  background-position: right -10px bottom -10px;
  background-color: var(--live-angular-color-container-background);
  box-sizing: border-box;
  padding: 24px 155px;
  border-radius: 8px;
  margin-bottom: 16px;
  overflow: hidden;

  .overview-img {
    position: absolute;
    top: -94px;
    left: -109px;
  }

  .overview-text {
    max-width: 100%;

    .overview-text-article {
      width: 100%;
    }
  }
}
