.fileset {
  padding: 30px 0 20px;
}

.fileset-select-host {
  padding: 0 0 20px;
}

.select input,
.select input {
  width: 480px;
}

.tree-container {
  border: 1px solid var(--live-angular-color-border-regular);
  height: 640px;
  width: 480px;
  z-index: 2;
  border-radius: 4px;
}

.tree-tab-title {
  height: 36px;
  line-height: 36px;
  padding-left: 0.16rem;
  background: var(--live-angular-color-header-background);
  border-bottom: 1px solid var(--live-angular-color-border-regular);
}

.selected-table {
  border: 1px solid var(--live-angular-color-border-regular);
  height: 640px;
  width: 480px;
  overflow: auto;
  z-index: 2;
  border-radius: 4px;
}

.control-container {
  width: 100%;
}

.create-fileset {
  .lv-tree {
    width: 100%;
  }
}

.filter-container {
  margin-top: 20px;
}

.fileset-control {
  width: 480px !important;
}

.table-title {
  display: flex;
  padding: 4px 16px;
  justify-content: space-between !important;
  background-color: var(--live-angular-color-header-background);
}

.select-path-group {
  justify-content: space-between;
}

.path-overflow {
  max-width: 320px;
}

.arrow-container i {
  height: 20px;
  margin-left: 4px;
}

.table-paginator {
  position: absolute;
  bottom: 0px;
  left: 5px;
}
