.replication-policy-card {
  margin-top: 24px;
  border: 1px solid #d6d9e2;
}

.policy-name {
  background: #f7faff;
  padding-left: 10px;
  height: 45px;
  line-height: 45px;
}

.replication-policy-form {
  padding-left: 10px;
}
