<lv-form [formGroup]="formGroup" class="formGroup" lvKeepRequiredWidth>
    <lv-form-item>
        <lv-form-label>
            {{ 'explore_drill_pre_script_label' | i18n }}
            <i lv-icon="aui-icon-help" lvTooltipTheme="light" [lv-tooltip]="scriptHelp" class="configform-constraint"
                lvColorState="true"></i>
        </lv-form-label>
        <lv-form-control [lvErrorTip]="scriptErrorTip">
            <input formControlName="preScript" lv-input placeholder="{{ scriptPlaceholder }}" />
        </lv-form-control>
    </lv-form-item>
    <lv-form-item>
        <lv-form-label>
            {{ 'explore_drill_post_script_label' | i18n }}
            <i lv-icon="aui-icon-help" lvTooltipTheme="light" [lv-tooltip]="scriptHelp" class="configform-constraint"
                lvColorState="true"></i>
        </lv-form-label>
        <lv-form-control [lvErrorTip]="scriptErrorTip">
            <input formControlName="postScript" lv-input placeholder="{{ scriptPlaceholder }}" />
        </lv-form-control>
    </lv-form-item>
    <lv-form-item>
        <lv-form-label>
            {{ 'explore_drill_post_script_failed_label' | i18n }}
            <i lv-icon="aui-icon-help" lvTooltipTheme="light" [lv-tooltip]="scriptHelp" class="configform-constraint"
                lvColorState="true"></i>
        </lv-form-label>
        <lv-form-control [lvErrorTip]="scriptErrorTip">
            <input formControlName="executeScript" lv-input placeholder="{{ scriptPlaceholder }}" />
        </lv-form-control>
    </lv-form-item>
</lv-form>