.replicate-span {
  margin-left: 8px;
}

.backup-time-unit-text {
  width: 120px !important;
}

.backup-time-unit-select {
  width: 100px !important;
}

.backup-time-unit-select-en {
  width: 120px !important;
}

.replication-specified-date-container {
  width: 500px;
}

.replication-specified-date-container-en {
  width: 750px;
}

.backup-time-unit-text-en {
  width: 100px !important;
}

.storage-input,
.replicate-time-picker {
  width: 330px !important;
}

.unit-inner-select {
  width: auto;
}

::ng-deep.unit-inner-select > .lv-select-wrapper {
  border: none;
  padding: 0;
}

.specify-help {
  position: relative;
  top: -2px;
  right: 3px;
}

.start-time-input-en {
  width: 330px !important;
}
