.replicate-span {
  margin-left: 8px;
}

.backup-time-unit-text {
  width: 120px !important;
}

.backup-time-unit-select {
  width: 100px !important;
}

.replication-specified-date-container {
  width: 500px;
}

.replication-specified-date-container-en {
  width: 630px;
}

.backup-time-unit-text-en {
  width: 100px !important;
}

.storage-input,
.replicate-time-picker {
  width: 300px !important;
}

.unit-inner-select {
  width: 68px;
}

::ng-deep.unit-inner-select > .lv-select-wrapper {
  border: none;
  padding: 0;
}

.specify-help {
  position: relative;
  top: -2px;
  right: 3px;
}
