.no-data-label {
  text-align: center;
  font-size: 0.14rem;
}

.no-data {
  height: calc(100% - 56px);
  margin-top: 10%;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  i {
    width: 240px;
    height: 240px;
    margin: auto;
    display: block;
  }
}
