.no-data,
.index-creating {
  margin: auto;
  text-align: center;
}

.index-creating {
  margin-top: 160px;
}

.no-data i {
  width: 240px;
  height: 240px;
}

:host
  ::ng-deep
  .detail-tab.lv-tabs:not(.lv-tabs-small)
  .lv-tabs-list
  > .lv-tab-item.lv-tab-item-active
  > span:not(.lv-tab-close) {
  color: #282b33;
  font-weight: 600;
}

.tree-container {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #dedede;
  padding: 0.24rem;
  overflow: auto;
}

.tree-container .tree {
  max-height: 520px;
  overflow: auto;
}

.host-summary-tree .tree .lv-tree {
  width: 100%;
}

.cloud-archival-desc {
  text-align: left;
}

.opt-width {
  width: 80px;
}

.performance-no-data {
  text-align: center;
}

.performance-no-data i {
  width: 240px;
  height: 240px;
}

.group-table {
  position: relative;

  ::ng-deep .aui-paginator-wrap {
    position: static;
    bottom: 0;
  }
}
