.value {
  width: 120px;
  height: 48px;
  line-height: 48px;
}

.cluster-icon {
  width: 48px;
  height: 48px;
  margin: 6px 0 24px;
}

.aui-paginator-wrap {
  bottom: 0 !important;
}

.no-margin-box {
  margin: 0;
}
