.tree-container {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #dedede;
  padding: 0.24rem;
  overflow: auto;
}

.tree-container .tree {
  max-height: 520px;
  overflow: auto;
}

.fileset-summary-tree .tree .lv-tree {
  width: 100%;
}
.performance-no-data {
  text-align: center;
}
.performance-no-data i {
  width: 240px;
  height: 240px;
}
.filter-break {
  word-break: break-all;
}
.filter-content {
  margin-right: 8px;
}
.filter-container {
  margin-top: 10px;
}
.filter-header-color {
  color: #282b33;
}
