.box {
  margin-bottom: 60px;
}

.base-info-icon {
  width: 103px;
  height: 48px;
}

.widthMax {
  max-width: 130px;
}

.box2 {
  margin-bottom: 30px;
}

.right {
  margin-right: 3px;
}

.colon {
  margin-left: 2px;
  margin-right: 2px;
}

.top {
  margin-top: 20px;
}

.label_width {
  width: 100%;
}

.name-warp {
  max-width: 580px;
}

.aui-custom-modal-operate {
  position: relative;
  right: 30px;
  top: -5px;
}
