.worm-container {
  border: 1px solid var(--live-angular-color-border-regular);
  border-radius: 1px;
  padding: 25px;
  .input-width {
    width: 100px;
  }
  .select-width {
    width: 100%;
  }
  .info-label {
    font-size: 12px;
  }
}

.formGroup {
  .lv-form-control {
    width: 368px !important;
  }
}

.autolock-checkbox {
  padding-top: 2px;
  vertical-align: middle;
}

.selected-header {
  justify-content: space-between !important;
}

.transfer {
  margin-bottom: 16px;
  height: 430px;
}

.header {
  margin-bottom: 20px;
  margin-top: 20px;
}

.top {
  margin-top: 20px;
}
