.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 6% 0 6%;

  div {
    font-size: 16px;
  }

  img {
    width: 400px;
    height: 400px;
  }

  .retry-container {
    margin-top: 8px;
  }
}
