.group {
  height: 500px;
}

.aui-operation {
  margin-bottom: 16px;
}

.left {
  width: 330px;
  height: 100%;
}

.right {
  width: 100%;
  height: 100%;
  top: -10px;
  align-items: flex-start;
}

.right-tab {
  margin-left: 24px;
  width: 100%;
  height: 100%;
}

.tree-container {
  width: calc(100% - 32px);
  height: 490px;
  overflow: auto;

  .lv-tree {
    min-width: 100%;
    width: auto;
  }
}

.tree-container .lv-treenode-content.disabled > .lv-treenode-content-label {
  color: #1a1a1a !important;
  cursor: pointer !important;
}

.slip {
  height: 100%;
  border-right: 2px solid #f5f8fc;
}

::-webkit-scrollbar {
  width: 0.08rem;
  height: 0.08rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.04rem;
  background: #d4d5d6;
}

::-webkit-scrollbar-track {
  border-radius: 0.04rem;
  position: absolute;
  right: -8px;
}

.click {
  color: #5b7ede;
  cursor: pointer;
}

.aui-paginator-wrap {
  bottom: 0;
}

.aui-paginator-container {
  padding-bottom: 0 !important;
}

.tree-no-data {
  text-align: center;

  i {
    width: 120px;
    height: 120px;
  }
}

.tree-node-offline {
  color: #b8becc;
}

.vm-container {
  height: 100%;
}

.refresh-aui-button-icon {
  margin-left: 8px;
}

.tree-node-container {
  width: 170px;
  justify-content: space-between;
  display: flex;
  color: #1a1a1a !important;
  cursor: pointer !important;
}

.tree-node-container
  .lv-treenode-content.disabled
  > .lv-treenode-content-label {
  cursor: pointer;
}

.node-label {
  width: 120px;
}

.node-checked {
  color: #2673e5 !important;
  background: rgba(38, 115, 229, 0.06) !important;
  font-weight: 700;
}
