<lv-collapse [lvMultiExpansion]="'false'" lvType="simple">
  <lv-collapse-panel [lvTitle]="titleTpl" [lvExpanded]="true">
    <lv-form [formGroup]="formGroup" [lvLabelColon]="false" class="formGroup">
      <lv-form-item>
        <lv-form-label>
          {{ 'protection_volume_advanced_backup_label' | i18n }}
        </lv-form-label>
        <lv-form-control>
          <lv-switch
            formControlName="osBackup"
            [lvDisabled]="
              resourceData.extendInfo?.system_backup_flag === 'false'
            "
          ></lv-switch>
          <lv-group lvGutter="4px" *ngIf="!!formGroup.get('osBackup').value">
            <span>
              <i lv-icon="lv-icon-status-info" lvColorState="true"></i>
              {{ 'protection_volume_advanced_backup_tip_label' | i18n }}
            </span>
          </lv-group>
        </lv-form-control>
      </lv-form-item>
      <lv-form-item>
        <lv-form-label>
          {{ 'protection_script_label' | i18n }}
          <i
            lv-icon="aui-icon-help"
            [lv-tooltip]="scriptTips"
            lvTooltipTheme="light"
            class="configform-constraint"
            lvColorState="true"
          ></i
        ></lv-form-label>
        <lv-form-control>
          <lv-switch formControlName="script"></lv-switch>
          <ng-container *ngIf="enableScript">
            <lv-form-item>
              <lv-form-label>
                {{ 'protection_protect_pre_script_label' | i18n }}
              </lv-form-label>
              <lv-form-control [lvErrorTip]="scriptErrorTip">
                <input
                  lv-input
                  type="text"
                  formControlName="preScript"
                  [placeholder]="scriptPlaceholder"
                  class="input-width"
                />
              </lv-form-control>
            </lv-form-item>
            <lv-form-item>
              <lv-form-label>
                {{ 'protection_protect_post_script_label' | i18n }}
              </lv-form-label>
              <lv-form-control [lvErrorTip]="scriptErrorTip">
                <input
                  lv-input
                  type="text"
                  formControlName="postScript"
                  [placeholder]="scriptPlaceholder"
                  class="input-width"
                />
              </lv-form-control>
            </lv-form-item>
            <lv-form-item>
              <lv-form-label>
                {{ 'protection_protect_fail_script_label' | i18n }}
              </lv-form-label>
              <lv-form-control [lvErrorTip]="scriptErrorTip">
                <input
                  lv-input
                  type="text"
                  formControlName="executeScript"
                  [placeholder]="scriptPlaceholder"
                  class="input-width"
                />
              </lv-form-control>
            </lv-form-item>
          </ng-container>
        </lv-form-control>
      </lv-form-item>
    </lv-form>
    <!-- 修改索引设置 -->
    <aui-update-index [formGroup]="formGroup" [extParams]="extParams"></aui-update-index>
  </lv-collapse-panel>
</lv-collapse>

<ng-template #titleTpl>
  <lv-group lvGutter="8px">
    <span class="aui-h3">{{ 'common_advanced_label' | i18n }}</span>
  </lv-group>
</ng-template>
