@text-color-error: #f45c5e;

.form-container {
  height: calc(100% - 50px);
  margin-bottom: 20px;
}

.register-host-table .lv-form-control {
  display: block;
}

.register-control {
  width: 368px !important;
}

.th-icon {
  width: 16px;
  height: 16px;
  position: relative;
  top: -2px;
  left: -2px;
}

.tips {
  color: @text-color-error;
}

.register {
  height: 80px;
}

.input-position {
  margin-top: 20px;
}

.ipcontrol {
  margin-bottom: 9px;
}

.error-icon {
  height: 14px;
  position: relative;
  bottom: 2px;
}

.warn-tip-group {
  align-items: flex-start;
  margin-top: 10px;

  i {
    margin-top: 2px;
    margin-right: 4px !important;
  }
}

.port-error {
  margin-top: 4px;
}

.error-text {
  color: @text-color-error;
}

.error-input {
  border-color: @text-color-error;
}

.azcontrol {
  width: 112px !important;
}

.mgt-btns {
  margin-top: 20px;
}

.agent-input-group {
  width: 100%;
}

.mgt-3 {
  margin-top: 3px;
}

.icon-failed-width {
  width: 34px;
}

.source-deduplication {
  width: 730px;
  .special-icon-container {
    margin-right: 0.08rem;
  }
}
