.aui-operation {
  margin-top: 24px;
}

.timeline-container {
  border-bottom: 1px solid var(--live-angular-color-divider-regular);
  padding: 40px;
}

.copydata-operation {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--live-angular-color-divider-regular);
}

.icon-container {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c4c9d5;
  cursor: pointer;
}

.nowrap {
  display: flex;
  align-items: center;
}

.click {
  color: #5b7ede;
  cursor: pointer;
}

.aui-icon-copy {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
  color: #5b7ede;
}

.daylinght-tip-line {
  position: relative;
  width: 1px;
  height: 32px;
  background: linear-gradient(
    -34.47deg,
    rgb(64, 172, 255) 22.849%,
    rgb(106, 224, 185) 89.72%
  );
}

.daylinght-tip {
  display: inline-block;
  position: relative;
}

.daylinght-tip-text {
  background: linear-gradient(-34.47deg, rgb(64, 172, 255), rgb(106, 224, 185));
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
