.mgt-8 {
  margin-top: 8px;
}

.advanced {
  margin-top: 30px;
}

.delete-config-group {
  justify-content: space-between;
  margin-bottom: 14px;
}

.padding {
  padding-left: 8px;
}

.mgt {
  margin-top: 20px;
}

.env-config-container {
  border: 1px solid #e6e6e6;
  padding: 20px 20px 20px 10px;
  margin-bottom: 8px;
  border-radius: 4px;
}

.mgb {
  margin-bottom: 20px;
}

.mgb-min {
  margin-bottom: 12px;
}

.label-group {
  align-items: flex-start;

  i {
    margin-top: 10px;
  }
}
