.cluster-icon {
  width: 20%;
  margin-left: 20px;
}

.node-icon {
  width: 15px;
  margin-top: 2px;
}

.percent-bar {
  width: 200px;
}

.size-percent {
  margin-top: 10px;
  color: #a4a7b0;
  font-size: 10px;
  text-align: right;
  position: relative;
  bottom: 14px;
}

.info {
  width: 350px;
  height: 127px;
}
.basicInfo {
  margin-bottom: 40px;
  margin-top: 20px;
}

.auth {
  margin-bottom: 40px;
  margin-top: 20px;
  .box {
    display: flex;
    .lv-form-item {
      margin-left: 30px;
    }
  }
}

.info-message {
  opacity: 1;
  transform: scaleY(1);
  background: #d1ebff;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  width: 100%;
  padding: 0.1rem 0.16rem;
  margin-bottom: 0.16rem;
  transform-origin: 0% 0%;
  box-shadow: 0 0.01rem 0.03rem #0000001a;
  border-radius: 0.02rem;
  border: 0.01rem solid #63b6f7;
  text-align: left;
  .lv-icon {
    margin-right: 10px;
  }
}

.edit {
  margin-left: 8px;
}

.detail-head {
  margin-left: 20px;
}
.detail-header {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  .node-name {
    font-weight: bold;
    font-size: 20px;
  }
  .lv-form-label {
    margin-left: 10px;
  }
}

h2 {
  margin-bottom: 10px;
}
.detail-container .lv-form-label,
.detail-container .lv-form-control {
  padding-bottom: 0.1rem;
}
.card-container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  .node-card {
    width: 40%;
    border: solid 1px #b8becc;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    .card-header {
      border-bottom: 1px dashed #b8becc;
      padding-bottom: 10px;
      div {
        margin-top: 5px;
      }
      .card-title {
        font-weight: bold;
      }
    }
    .card-content {
      .card-row {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
        .row-label {
          margin-right: 10px;
        }
      }
    }
  }
}
