.base-info-bk {
  height: 230px;
  background-image: url('assets/img/drill-overview-bk.png');
  background-repeat: no-repeat;
  background-position: right -10px bottom 0px;
  background-size: 15%;
  background-color: #f8fafe;
  align-items: center;
  display: flex;
  border-radius: 5px;
  border: 1px solid #eaedf1;
}

.summary-brand {
  width: 168px;
  height: 200px;
  background-image: url('assets/img/cyber-resource-detail.png');
  background-repeat: no-repeat;
  background-position: right -30px bottom -10px;
  background-size: 150%;
}

.base-information {
  margin-left: 30px;
  width: calc(100% - 210px);
}

.resource-info {
  margin-top: 12px;
}

.split-line {
  background-color: #d4d9e6;
  height: 100px;
}

.mgt-20 {
  margin-top: 20px;
}

.mgb-8 {
  margin-bottom: 8px;
}

.summary-count {
  font-size: 28px;
  line-height: 28px;
}

.source-warp {
  max-width: 140px;
}

.io-warp {
  max-width: 200px;
}

.copy-warp {
  max-width: 120px;
}

.copy-warp-en {
  max-width: 198px;
}

.policy-link {
  top: 1px;
}
