<?xml version="1.0" encoding="UTF-8"?>
<!--
  This file is a part of the open-eBackup project.
  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  If a copy of the MPL was not distributed with this file, You can obtain one at
  http://mozilla.org/MPL/2.0/.
  
  Copyright (c) [2024] Huawei Technologies Co.,Ltd.
  
  THIS SOFTWARE IS PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF ANY KIND,
  EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO NON-INFRINGEMENT,
  MERCHANTABILITY OR FIT FOR A PARTICULAR PURPOSE.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="openbackup.access.framework.resource.persistence.dao.ProtectedResourceMapper">
    <resultMap id="BaseResultMap"
               type="openbackup.access.framework.resource.persistence.model.ProtectedEnvironmentPo">
        <id column="uuid" property="uuid"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="sub_type" property="subType"/>
        <result column="path" property="path"/>
        <result column="created_time" property="createdTime"/>
        <result column="parent_name" property="parentName"/>
        <result column="parent_uuid" property="parentUuid"/>
        <result column="root_uuid" property="rootUuid"/>
        <result column="protection_status" property="protectionStatus"/>
        <result column="source_Type" property="sourceType"/>
        <result column="user_id" property="userId"/>
        <result column="authorized_user" property="authorizedUser"/>
        <result column="user_name" property="username"/>
        <association property="protectedObjectPo" column="uuid"
                     javaType="openbackup.data.access.framework.core.entity.ProtectedObjectPo"
                     select="openbackup.data.access.framework.core.dao.ProtectedObjectMapper.selectById">
            <id column="uuid" property="uuid"/>
            <result column="sla_id" property="slaId"/>
            <result column="sla_name" property="slaName"/>
            <result column="name" property="name"/>
            <result column="env_id" property="envId"/>
            <result column="env_type" property="envType"/>
            <result column="resource_id" property="resourceId"/>
            <result column="type" property="type"/>
            <result column="sub_type" property="subType"/>
            <result column="sla_compliance" property="slaCompliance"/>
            <result column="path" property="path"/>
            <result column="ext_parameters" property="extParameters"/>
            <result column="status" property="status"/>
            <result column="earliest_time" property="earliestTime"/>
            <result column="chain_id" property="chainId"/>
            <result column="consistent_status" property="consistentStatus"/>
        </association>
        <collection property="extendInfoList" column="uuid"
                    ofType="openbackup.access.framework.resource.persistence.model.ProtectedResourceExtendInfoPo"
                    select="openbackup.access.framework.resource.persistence.dao.ProtectedResourceExtendInfoMapper.selectByResourceId">
            <id column="uuid" property="uuid"/>
            <result column="resource_id" property="resourceId"/>
            <result column="key" property="key"/>
            <result column="value" property="value"/>
        </collection>
    </resultMap>
    <sql id="SELECT_SQL">
        select r.*,
               e.endpoint,
               e.port,
               e.user_name,
               e.password,
               e.link_status,
               e.location,
               e.os_type,
               e.os_name,
               e.scan_interval,
               e.is_cluster,
               e.cert_name,
               e.time_zone
        from resources as r
                 left join environments as e on r.discriminator = 'environments' and r.uuid = e.uuid
                 left join protected_object po on po.uuid = r.uuid
                 left join resources as rr on rr.discriminator = 'environments' and r.root_uuid = rr.uuid
                 left join environments as re on r.root_uuid = re.uuid
    </sql>

    <select id="queryResourcesByUserId"
            resultMap="BaseResultMap">
        <include refid="SELECT_SQL"/>
        where r.user_id = #{userId}
    </select>

    <select id="queryResourceById"
            resultMap="BaseResultMap"
            parameterType="java.lang.String">
        <include refid="SELECT_SQL"/>
        where r.uuid = #{uuid}
    </select>
    <select id="getAllSubTypeList" resultType="java.lang.String">
        select sub_type from resources group by sub_type
    </select>
</mapper>