<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="openbackup.access.framework.resource.persistence.dao.ResourceGroupMemberMapper">
    <resultMap id="BaseResultMap"
        type="openbackup.access.framework.resource.persistence.model.ResourceGroupMemberPo"
        autoMapping="true">
        <id column="UUID" property="uuid"/>
        <id column="SOURCE_ID" property="sourceId"/>
        <id column="SOURCE_SUB_TYPE" property="sourceSubType"/>
        <id column="RESOURCE_GROUP_ID" property="resourceGroupId"/>
    </resultMap>

    <select id="selectByResourceGroupId" resultMap="BaseResultMap">
        select * from T_RESOURCE_GROUP_MEMBER
        where RESOURCE_GROUP_ID=#{resourceGroupId}
    </select>

    <select id="selectByResourceId" resultMap="BaseResultMap">
        select * from T_RESOURCE_GROUP_MEMBER
        where SOURCE_ID=#{resourceId}
    </select>
</mapper>