.base-info-icon {
  width: 48px;
  height: 48px;
}

.warp-ip {
  width: 120px;
}

.resource-tree {
  border: 1px solid #dee2eb;
  height: 240px;
  overflow: scroll;
}

.header {
  margin-bottom: 8px;
}

.warp-name {
  max-width: 150px;
}
