.tree-table-container {
  border: 1px solid #e6e6e6;
  width: 100%;
}

.header-tab {
  height: 40px;
  line-height: 40px;
  padding-left: 8px;
  box-sizing: border-box;
  background: #f7f7f7ff;
}

.search-path-container {
  padding: 8px;
  box-sizing: border-box;
}

.tree-table {
  align-items: flex-start;
  border-top: 1px solid #e6e6e6;
}

.tree-container {
  padding: 10px 8px;
  max-height: 600px;
  overflow: scroll;
}

.table-container {
  height: 600px;
  border-left: 1px solid #e6e6e6;
}

.dash-line {
  width: 1px;
  height: 10px;
  background: rgb(151, 151, 151);
}

.num-tag {
  display: inline-block;
  min-width: 22px;
  text-align: center;
  height: 18px;
  line-height: 18px;
  border-radius: 10px;
  color: #ffffff;
  border: 1px solid #ffffff;
  background: rgb(128, 128, 128);
  padding: 0 4px;
}

.tag-light {
  background: #2673e5ff;
}

.directory-color {
  color: #2673e5ff;
}
