.input-label {
  padding-right: 0.44rem;
}

.input-width {
  width: 524px !important;
}

.object-container {
  height: 60vh;

  .tree {
    height: 100%;
  }

  .table {
    height: 90%;
  }
}
.table-border {
  border: 1px solid #b8becc;
  border-radius: 1px;
}
