<div class="aui-gutter-column-lg">
  <lv-group class="aui-gutter-column-xxl">
    <i lv-icon="aui-icon-detail-cluster" class="base-info-icon"></i>
    <lv-group>
      <lv-group class="info" lvGutter="8px">
        <span>{{ 'common_name_label' | i18n }}</span>
        <span lv-overflow>{{ source?.name | nil }}</span>
      </lv-group>
      <lv-group class="info" lvGutter="8px">
        <span>{{ 'common_version_label' | i18n }}</span>
        <span lv-overflow>{{ source?.version | nil }}</span>
      </lv-group>
    </lv-group>
  </lv-group>
</div>

<div class="aui-header-2 aui-gutter-column-md">
  <h2>{{ 'protection_cluster_node_label' | i18n }}</h2>
</div>

<div class="list-container">
  <lv-pro-table
    #dataTable
    [config]="tableConfig"
    [data]="tableData"
  ></lv-pro-table>
</div>
