.visible {
  display: block;
}

.hidden {
  display: none;
}
.set-swicth {
  display: flex;
  align-items: center;
  justify-content: center;
}
.storage-policy {
  margin-bottom: 21px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #6c7280;
}
.card-box {
  width: 270px;
  height: 190px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  padding: 24px 24px;

  .box-title {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 22px;
  }
  .box-content p {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #808080;
  }
}

.card-box.select {
  border: 1px solid #1664d9;
}

.ui-card-extra {
  width: 24px;
  height: 24px;
}

.table-container {
  margin-top: 40px;
  .table-title {
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .app-custom-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    height: 48px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}
.selected-time {
  width: 50%;
  margin-top: 30px;
}
