@import url('../module.style.less');

.air-gap-list-container {
  overflow-y: scroll;
  &::-webkit-scrollbar-thumb {
    background-color: rgba(#fff, 0.1);
  }
  margin-top: 20px;
}
.home-air-gap-list {
  width: 100%;
}
.air-gap-list-row {
  height: 80px;
  margin-top: 20px;
  &:nth-child(odd) {
    background-color: #262a31;
  }
  &:nth-child(even) {
    background-color: #22262d;
  }
}
.home-air-gap-icon-container {
  .air-gap-status-icon-inline {
    padding: 5px;
    width: 40px;
    height: 40px;
    background-image: url('assets/img/air_gap_inline.png');
    background-size: cover;
  }

  .air-gap-status-icon-offline {
    padding: 5px;
    width: 40px;
    height: 40px;
    background-image: url('assets/img/air_gap_offline.png');
    background-size: cover;
  }
}
.home-air-gap-name-container {
  max-width: 150px;
  .air-gap-name-value {
    width: 100%;
    font-size: 16px;
    color: #77787b;
  }
  .air-gap-name-label {
    font-size: 12px;
    color: #77787b;
  }
}
.home-air-gap-status-container {
  lv-pro-status {
    width: 100%;
  }
  .air-gap-status-sub-title {
    font-size: 12px;
    color: #77787b;
  }
}

.no-config-container {
  align-items: center;
  margin: auto 0;
  :hover {
    cursor: pointer;
    color: #6c92fa;
  }
  .air-gap-no-config {
    width: 130px;
    height: 76px;
    background-image: url('assets/img/air_gap_no_config.svg');
    background-size: cover;
  }
  span {
    font-size: 14px;
    color: #808080;
  }
}
