.aui-header-logo i {
  width: 230px;
  height: 37px;
}
.from-container {
  width: 950px;
  height: 500px;
  background-color: #fff;
  margin: 280px auto;
}

.aui-title {
  text-align: center;
  font-size: 24px;
  height: 84px;
  line-height: 84px;
  width: 92%;
  margin: auto;
  border-bottom: 1px dashed #cccccc;
  margin-bottom: 32px;
}
.reset-container {
  width: 420px;
  margin: auto;
}
.reset-group {
  margin-top: 16px;
  button {
    width: 100%;
  }
  span {
    display: inline-block;
    margin: auto;
  }
}
.tip-container {
  text-align: center;
  font-size: 14px;
  margin-bottom: 30px;
}

.language {
  position: absolute;
  top: 11px;
  right: 42px;
  font-size: 16px;
  line-height: 50px;
  cursor: pointer;
}

.logo {
  height: 50px;
  width: 375px;
  position: absolute;
  top: 16px;
  left: 56px;
}

.protect-logo {
  background: url('assets/img/ocean_protect.png') no-repeat;
  height: 50px;
  width: 375px;
  position: absolute;
  top: 16px;
  left: 56px;
}

.cyber-logo {
  background: url('assets/img/cyber_engine.png') no-repeat;
  height: 50px;
  width: 375px;
  position: absolute;
  top: 16px;
  left: 56px;
}
