@import url(../../../../../../assets/style/aui.less);

.add-target-host-container {
  border: 1px solid #d9d9d9;
  width: 300px;
  height: 32px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    margin-right: 8px;
  }
}

.remove-target-host-container {
  margin-left: 8px;
  cursor: pointer;
}

.target-host-options {
  width: 300px;
}

.advanced-input-container {
  width: 150px !important;
}

.mount-to-container {
  width: 400px;
  padding: 10px 20px;
}

.mount-to-ip-text {
  width: 80px;
}

.mount-to-ip-title {
  padding-left: 8px;
  width: 80px;
}

.script-input {
  width: 4rem;
}

.form-tips {
  display: inline-block;
  width: 90%;
  margin-top: 4px;
  line-height: 22px;
  vertical-align: top;
  color: @text-color-tertiary;
}

.filesystem-name-input {
  width: 100%;
}
.mgt-8 {
  margin-top: 8px;
}
.share-mode-tab {
  background: #f7faff;
  height: 44px;
  padding-top: 9px;
  .lv-form-control {
    position: relative;
    right: 15px;
  }
}
.cifs-tab {
  margin-top: 20px;
}
.share-info {
  margin: 14px 0;
  padding-left: 10px;
}

.info-icon {
  margin-right: 5px;
}
