<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="openbackup.data.access.framework.core.dao.ProtectedTaskMapper">

    <resultMap id="BaseResultMap"
               type="openbackup.data.access.framework.core.entity.ProtectedTaskPo" autoMapping="true">
        <id column="UUID" property="uuid"/>
        <id column="PROTECTED_OBJECT_ID" property="protectedObjectId"/>
        <id column="POLICY_ID" property="policyId"/>
        <id column="SCHEDULE_ID" property="scheduleId"/>
    </resultMap>

</mapper>