<div class="aui-operation">
  <lv-group [lvGutter]="groupCommon.middleRowGutter"> 
    <lv-pro-button-group [config]="optsConfig" [bindData]="selectionData" [maxDisplayItems]="5">
    </lv-pro-button-group>
  </lv-group>
  <lv-group [lvGutter]="groupCommon.middleRowGutter">
    <lv-search
      [lvFocus]="true"
      lvPlaceHolder="{{ 'common_search_device_name_label' | i18n }}"
      (lvSearch)="search($event)"
    >
    </lv-search>
    <button
      class="aui-button-icon"
      lv-button
      l
      vSize="auto"
      (click)="refresh()"
    >
      <i lv-icon="lv-icon-refresh" [lvColorState]="true"></i>
    </button>
  </lv-group>
</div>
<div class="double-row-height">
  <lv-pro-table
    #dataTable
    [config]="tableConfig"
    [data]="tableData"
  ></lv-pro-table>
</div>

<ng-template #warningContentTpl>
  <lv-group lvDirection="vertical" lvGutter="16px">
    <span [innerHTML]="removeDangerTipLable"></span>
    <label
      lv-checkbox
      [(ngModel)]="warningConfirm"
      (ngModelChange)="modalCheckBoxChange($event)"
      >{{ 'common_warning_confirm_label' | i18n }}</label
    >
  </lv-group>
</ng-template>

<ng-template #removeContentTpl>
  <span [innerHTML]="removeInfoContentTpl"></span>
</ng-template>

<ng-template #turnOnContentTpl>
  <span [innerHTML]="turnOnInfoContentTpl"></span>
</ng-template>
<ng-template #turnOffContentTpl>
  <span [innerHTML]="turnOffInfoContentTpl"></span>
</ng-template>

<ng-template #timeTpl let-item>
  <div lv-overflow>{{ item.airGapPolicyInfo?.name | nil }}</div>
  <div class="aui-text-help-sm">
    {{ 'protection_frequency_label' | i18n }}
    <span class="colon">
      :
    </span>
    {{ item.frequency }}
  </div>
</ng-template>
