.summary-icon .lv-icon-host {
  width: 48px;
  height: 48px;
}
.summary-icon .summary-info {
  padding-left: 24px;

  .summary-info-label {
    padding: 0;
    line-height: normal;
    min-height: 0;
  }

  .summary-info-item {
    padding: 0;
    line-height: normal;
    margin: 2px 0 8px;
  }
}
.summary-info-border {
  margin-left: 30px;
}
.summary-container-time {
  width: 30% !important;
  border-right: 1px solid #d4d9e6;
}
.summary-container {
  width: 24% !important;
  border-right: 1px solid #d4d9e6;
}
.summary-container-copy {
  width: 23% !important;
}
.resource-summary {
  height: 140px;
}
.resource-summary .lv-form-control,
.resource-summary .lv-form-label {
  padding-bottom: 0.1rem;
}
.resource-summary .lv-form-column {
  vertical-align: middle;
}
.name-overflow {
  max-width: 120px;
}

.sla-overflow {
  max-width: 100px;
}
