.database-name-tips {
  align-items: flex-start;
  margin-top: 4px;
  i {
    margin-top: 4px;
  }
  span {
    line-height: 20px;
  }
}

.input-width {
  width: 48%;
}

.advanced-container {
  margin-top: 20px;
}
.transfer-title {
  position: relative;
  top: 10px;
}

.limit-input-width {
  input:extend(.input-width) {
  }
}

.database-title {
  margin: 10px 0 5px 0;
}

.database-group {
  .source-table,
  .target-table {
    border: 1px solid #b8becc;
    height: 60vh;
  }
}

.search-width-left {
  width: 2rem;
}

.search-width-right {
  width: 1.8rem;
}

.remove-icon {
  color: #ff4c4c;
  cursor: pointer;
}
