<lv-form [formGroup]="formGroup" class="formGroup" lvKeepRequiredWidth>
    <lv-form-item>
        <lv-form-label>
            {{ 'protection_restore_to_label' | i18n }}
        </lv-form-label>
        <lv-form-control>
            <lv-radio-group formControlName="restoreTo" [lvGroupName]="'restoreToGroup'">
                <lv-group [lvGutter]="'20px'">
                    <lv-radio [lvValue]="restoreLocationType.ORIGIN" [lvDisabled]="restoreToNewLocationOnly">
                        {{ 'common_restore_to_origin_location_label' | i18n }}
                    </lv-radio>
                    <lv-radio [lvValue]="restoreLocationType.NEW">
                        {{ 'common_restore_to_new_location_label' | i18n }}
                    </lv-radio>
                </lv-group>
            </lv-radio-group>
        </lv-form-control>
    </lv-form-item>
    <ng-container *ngIf="formGroup.value.restoreTo === restoreLocationType.ORIGIN">
        <lv-form-item>
            <lv-form-label>
                {{ 'common_location_label' | i18n }}
            </lv-form-label>
            <lv-form-control>
                <input lv-input formControlName="originalLocation"/>
            </lv-form-control>
        </lv-form-item>
    </ng-container>
    <ng-container *ngIf="formGroup.value.restoreTo === restoreLocationType.NEW">
        <lv-form-item>
            <lv-form-label lvRequired>
                {{ 'explore_target_location_label' | i18n }}
            </lv-form-label>
            <lv-form-control>
                <lv-select formControlName="targetCuster" [lvOptions]="clusterOptions" lvValueKey="value" lvShowFilter
                    lvFilterKey="label" lvFilterMode="contains">
                </lv-select>
            </lv-form-control>
        </lv-form-item>
    </ng-container>
    <div class="advanced-container">
        <lv-collapse [lvType]="'simple'">
            <lv-collapse-panel lvTitle="{{'common_advanced_label' | i18n}}" [lvExpanded]="false">
                <lv-form-item>
                    <lv-form-label>
                        {{ 'protection_start_instance_user_label' | i18n }}
                        <i lv-icon="aui-icon-help" lvTooltipTheme="light"
                            lv-tooltip="{{'protection_start_instance_user_help_label' | i18n}}"
                            class="configform-constraint" lvColorState="true">
                        </i>
                    </lv-form-label>
                    <lv-form-control>
                        <input formControlName="startInstanceUser" lv-input />
                    </lv-form-control>
                </lv-form-item>
            </lv-collapse-panel>
        </lv-collapse>
    </div>
</lv-form>