.add-wwpn-group {
  justify-content: center;
}

.info {
  margin-left: 10px;
}

.header {
  margin-bottom: 20px;
  margin-top: 30px;
}

.add-input {
  margin-bottom: 20px;
  width: 90%;
}

.add-icon {
  margin-bottom: 14px;
}

.add-iqn-group {
  margin-left: 300px;
}

.protocol {
  margin-top: 10px;
  margin-left: 20px;
}

.connection {
  width: 400px;
}

.status {
  float: right;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.wwpn-input {
  width: 2rem;
}

.pdl-10 {
  padding-left: 10px;
}

.wwpn-error {
  margin-top: 4px;
}

.error-text {
  color: #f45c5e;
}

.error-wwpn-input {
  border-color: #f45c5e;
}

.wwpn-div {
  margin-top: 40px;
}
