.header {
  margin-bottom: 20px;
  margin-top: 30px;
}

.content {
  height: 188px !important;
}

.base-info-icon {
  width: 48px;
  height: 48px;
  margin-right: 60px;
}

.server {
  margin-left: 108px;

  .proxy {
    margin-top: 19px;
  }
}

.flow-agent {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flow-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.flow-username {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100px;
}
