.report-container {
  padding-left: 32px;
  padding-right: 32px;
}

.title-block {
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
}

.report-title {
  background-color: #f0f3fa;
}

.report-detection-result {
  text-align: center;
}

.report-detection-result i {
  width: 80px;
  height: 80px;
  margin-bottom: 8px;
}

.report-no-data {
  text-align: center;
}

.report-no-data i {
  width: 72px;
  height: 72px;
}

.no-data-label {
  text-align: center;
  font-size: 0.14rem;
}

.key-warp {
  max-width: 100px;
}

.value-warp {
  max-width: 150px;
}

.file-list {
  margin-top: 16px;
}
