.groupInControl {
  input {
    width: 90%;
    text-overflow: ellipsis;
  }
}

.eamils-tips {
  color: #808080;
  font-size: 12px;
}

.time-picker {
  width: 1rem;
}

.custom-radio {
  display: flex;
  align-items: center;
}

.radio-group {
  span {
    text-wrap: nowrap;
  }
}
