.add-target-host-container {
  border: 1px solid #d9d9d9;
  width: 300px;
  height: 32px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    margin-right: 8px;
  }
}

.remove-target-host-container {
  margin-left: 8px;
  cursor: pointer;
}

.target-host-options {
  width: 300px;
}

.advanced-input-container {
  width: 150px !important;
}

.mount-to-container {
  width: 400px;
  padding: 10px 20px;
}

.mount-to-ip-text {
  width: 80px;
}

.mount-to-ip-title {
  padding-left: 8px;
  width: 80px;
}

.script-input {
  width: 4rem;
}

.remove-location-icon {
  position: relative;
  left: 20px;
  bottom: 2px;
}

.version-label {
  color: #b8becc;
}

.add-btn {
  margin-top: 8px;
  display: inline-block;
}

.bandwidth-unit {
  margin-top: 26px;
}
