.other-padding {
  padding: 0 16px;
}

.base-padding {
  padding-right: 16px;
}

.sunmary-icon {
  height: 100%;
}

.sunmary-group-content {
  justify-content: center;
}

.sunmary-icon .lv-icon-host {
  width: 48px;
  height: 48px;
}

.sunmary-container-time {
  width: 25% !important;
  border-right: 1px solid var(--live-angular-color-divider-regular);
}

.sunmary-container-time-vmgroup {
  width: 25% !important;
}

.sunmary-container {
  width: 25% !important;
  border-right: 1px solid var(--live-angular-color-divider-regular);
}

.sunmary-container-tidb {
  width: 25% !important;
  height: 200px !important;
  border-right: 1px solid var(--live-angular-color-divider-regular);
}

.sunmary-container-time-tidb {
  width: 25% !important;
  border-right: 1px solid var(--live-angular-color-divider-regular);
}

.sunmary-container-copy {
  width: 25% !important;
}

.name-overflow {
  max-width: 100%;
}

.sla-overflow,
.time-overflow {
  max-width: 180px;
}

.sunmary-info {
  width: calc(100% - 80px);
}
