.lv-pro-cols-control-con {
  display: flex;
  align-items: center;
  width: 20px;
  height: 32px;
  cursor: pointer;
}

.lv-pro-cols-control-panel.lv-popover {
  .lv-popover-inner {
    padding-right: 0px;
  }
  .lv-checkbase {
    margin: 8px 0;
  }
}
