<div
  class="lv-pro-cols-control-con"
  lv-popover
  [lvPopoverContent]="colControlTemplate"
  lvPopoverTheme="light"
  lvPopoverTrigger="click"
  lvPopoverPosition="bottomRight"
  lvPopoverShowArrow="false"
  lvPopoverClassName="lv-pro-cols-control-panel"
>
  <i lv-icon="lv-icon-col-setting"></i>
</div>

<!-- 列显示/隐藏 -->
<ng-template #colControlTemplate>
  <lv-checkbox-group [(ngModel)]="value" (ngModelChange)="_displayChange($event)" style="max-height: 200px; padding-right: 20px; overflow-y: scroll;">
    <lv-group lvDirection="vertical">
      <ng-container *ngFor="let col of data">
        <lv-checkbox
          *ngIf="ignoringColsType === 'hide'"
          [ngStyle]="{ display: col.hidden === 'ignoring' ? 'none' : '' }"
          [lvValue]="col.key"
          [lvDisabled]="_getDisableStatus(data, value, col)"
          >{{ typeUtils.isRealString(col.name) ? col.name : col.auxiliary }}</lv-checkbox
        >
        <lv-checkbox
          *ngIf="ignoringColsType === 'disable'"
          [lvValue]="col.key"
          [lvDisabled]="col.hidden === 'ignoring' || (value.length === 1 && col.key === value[0])"
          >{{ typeUtils.isRealString(col.name) ? col.name : col.auxiliary }}</lv-checkbox
        >
      </ng-container>
    </lv-group>
  </lv-checkbox-group>
</ng-template>
