.vm-power-on {
  padding-left: 10px;
}

.network-card-on {
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.mgt-card {
  margin-top: 20px;
}

.network-table {
  margin-top: 10px;
}
