.policy-card {
  width: 360px;
  height: 200px;
  border: 1px solid #d4d9e6;
  padding: 32px 32px;
  .policy-name {
    max-width: 170px;
  }
  .card-operation {
    border-bottom: 1px dashed #d4d9e6;
    padding-bottom: 16px;
    margin-bottom: 1px;
  }
  .objects-container {
    flex: 0.85;
  }
  .desc-container {
    flex: 2;
    padding: 14px 0 0 0;
  }
  .dashed-container {
    border-left: 1px dashed #d4d9e6;
    padding-left: 20px;
  }
  .description {
    height: 55px;
    margin-top: 6px;
    overflow: hidden;
    color: #b8becc;
    font-size: 0.12rem;
  }
}
