.script-block {
  position: relative;
  top: 20px;
}

.both-block {
  position: relative;
  top: 40px;
}

.pos {
  position: relative;
  top: 20px;
}

.tips-info {
  margin-bottom: 10px;
}
.type-icon {
  margin-top: -4px;
}
