.tip-container {
  font-size: 14px;
  color: #9ea4b3;
  line-height: 12px;
  height: 17px;
}
.checkbox-container {
  margin-top: 20px;
  margin-bottom: 10px;
}
.grid-position {
  justify-content: space-between;
}
.margin-space {
  margin-right: 20px;
}
.mgl-20 {
  margin-left: 20px;
}
.padding-10 {
  padding: 10px 0 10px 0;
  line-height: 0.32rem;
}
.tree-operation-btn {
  position: absolute;
  right: 10px;
  i {
    width: 16px;
    height: 16px;
  }
}
.row-click:hover {
  cursor: pointer;
}
.row-checked {
  font-weight: bolder;
  color: #6c92fa;
}
.opt-btn {
  width: 50px;
}
.cancle-icon {
  margin-left: 14px;
}
.file-info-container {
  font-size: 0.13rem;
  text-align: right;
}
.tree-group {
  flex-wrap: nowrap;
}
.file-level-restore-tree {
  height: 600px;
}

.disk-select {
  width: 100%;
}

.no-disk-select {
  height: 39px;
  display: flex;
  align-items: center;
}

.target-btn {
  width: 518px;
}
