.list-container {
  .list-item {
    width: calc(25% - 7px);
    min-width: 420px;
    max-width: 490px;
    margin-bottom: 24px;
    margin-right: 7px;
    display: inline-block;
    border-radius: 8px;
  }
}
.group-line {
  width: 1px;
  background-color: #cdd6e2;
  height: 60px;
}
.report-brand {
  width: 122px;
  height: 140px;
  background-image: url('assets/img/report_brand.png');
  background-repeat: no-repeat;
  background-position: right -42px bottom -65px;
  background-size: 200%;
}
.group-mgr {
  margin-right: 24px;
}

.no-data {
  margin-top: 64px;
  text-align: center;
  i {
    width: 72px;
    height: 72px;
  }
  .no-data-label {
    color: gray;
    margin-top: 0.08rem;
  }
}
