#capacity-chart {
  width: 100%;
  height: 100%;
}
.capacity-chart-detail {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  .rate-box {
    color: #e6e6e6;
    font-size: 12px;
    white-space: nowrap;
    .rate {
      font-size: 32px;
      font-weight: 700;
    }
  }
  .title {
    font-style: 12px;
    color: #b3b3b3;
    text-align: center;
    white-space: nowrap;
  }
}
