.settingBtn {
  margin-bottom: 24px;
  width: 96px;
  height: 32px;
}
.export-log {
  margin-top: 22px;
}
.footerBtn {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentTpl {
  margin-top: 16px;
}
.form-width {
  width: 560px;
}

.text-no-wrap {
  text-wrap: nowrap;
}
