<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>PM_System_Base</contextName>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <conversionRule conversionWord="msgConverter" converterClass="openbackup.system.base.common.desensitization.SensitiveDataConverter"/>
    <springProperty scope="context" name="LOG_PATH" source="logging.file.path"/>
    <property name="INFO_FILE_NAME" value="${LOG_PATH}/all.log}"/>
    <property name="LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5level][%msgConverter][%logger{39}, %M:%L][%thread]%n"/>
    <property name="FILE_ROLLING_PATTERN" value="${LOG_PATH}/all.%i.log.gz}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>${LOG_PATTERN}</Pattern>
            <!--设置编码-->
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 日志名称 -->
        <file>${INFO_FILE_NAME}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <!--日志文件输出打包名称-->
            <fileNamePattern>${FILE_ROLLING_PATTERN}</fileNamePattern>
            <!--打包最小1个最大10个-->
            <minIndex>1</minIndex>
            <maxIndex>10</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <!--日志达到30MB时触发打包-->
            <maxFileSize>30MB</maxFileSize>
        </triggeringPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>${LOG_PATTERN}</pattern>
            <!-- 编码 -->
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--开源框架全部只能打印WARN级别，以防打出敏感信息-->
    <logger name="ch" level="WARN"/>
    <logger name="com.alibaba" level="WARN"/>
    <logger name="com.baomidou" level="WARN"/>
    <logger name="com.beust" level="WARN"/>
    <logger name="com.fasterxml" level="WARN"/>
    <logger name="com.github" level="WARN"/>
    <logger name="com.google" level="WARN"/>
    <logger name="com.adaptivelm" level="WARN"/>
    <logger name="com.jayway" level="WARN"/>
    <logger name="com.jcraft" level="WARN"/>
    <logger name="com.mchange" level="WARN"/>
    <logger name="com.netflix" level="WARN"/>
    <logger name="com.spring4all" level="WARN"/>
    <logger name="com.sun" level="WARN"/>
    <logger name="com.zaxxer" level="WARN"/>
    <logger name="okhttp3" level="WARN"/>
    <logger name="okio" level="WARN"/>
    <logger name="feign" level="WARN"/>
    <logger name="reactor" level="WARN"/>
    <logger name="rx" level="WARN"/>
    <logger name="springfox" level="WARN"/>
    <logger name="io" level="WARN"/>
    <logger name="aj" level="WARN"/>
    <logger name="javassist" level="WARN"/>
    <logger name="jodd" level="WARN"/>
    <logger name="net" level="WARN"/>
    <logger name="javax" level="WARN"/>
    <logger name="org" level="WARN"/>
    <logger name="org.apache.zookeeper" level="ERROR"/>
    <logger name="redis" level="WARN"/>
    <logger name="junit" level="WARN"/>
    <logger name="nl" level="WARN"/>
    <logger name="sun" level="WARN"/>
    <logger name="javafx" level="WARN"/>
    <logger name="netscape" level="WARN"/>
    <logger name="jdk" level="WARN"/>
    <logger name="java" level="WARN"/>

    <!-- FeignClient 日志级别INFO 避免打印敏感信息 -->
    <logger name="com.huawei.oceanprotect.data.access.client.sdk.api.dme.archive" level="INFO"/>
    <logger name="com.huawei.oceanprotect.repository.restapi" level="INFO"/>
    <logger name="com.huawei.oceanprotect.system.base.cluster.remote.original.dorado" level="INFO"/>
    <logger name="openbackup.system.base.sdk.storage.DoradoStorageService" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOG_FILE"/>
    </root>
</configuration>