@import url(../../../../../../../assets/style/aui.less);

.tips {
  margin-bottom: 10px;
  color: @text-color-tertiary;
  display: flex;
  justify-content: center;
  .type-icon {
    display: inline-block;
    margin-right: 4px;
    margin-top: 3px;
    vertical-align: super;
  }
}
