<div class="aui-header-1 aui-gutter-column-md">
    <h2>{{'common_basic_info_label' | i18n}}</h2>
</div>
<lv-group class='aui-gutter-column-xxl' lvGutter='20px' *ngIf="formItems.length">
    <i *ngIf="online" lv-icon='{{onlineIcon}}' class="base-info-icon"></i>
    <i *ngIf="!online" lv-icon='{{offlineIcon}}' class="base-info-icon"></i>
    <lv-form [lvLabelColon]='false' style="width: 100%;">
        <lv-form-column *ngFor='let column of formItems' lvWidth="50%">
            <ng-container *ngFor='let item of column'>
                <lv-form-item *ngIf="!item.hide">
                    <lv-form-label>{{item.label}}</lv-form-label>
                    <lv-form-control>{{item.content | nil}}</lv-form-control>
                </lv-form-item>
            </ng-container>
        </lv-form-column>
    </lv-form>
</lv-group>

<div class="aui-header-2 aui-gutter-column-md">
    <h2>{{'protection_proxy_host_label' | i18n}}</h2>
</div>
<lv-pro-table #dataTable [config]="tableConfig" [data]="tableData"></lv-pro-table>