.detailInfo {
  margin-bottom: 10px;
  text-align: left;
  color: #6c7280;
  line-height: 14px;
  .lv-alert {
    align-items: center !important;
  }
}
.boxTop {
  margin-top: 20px;
}

.textDiv {
  margin-bottom: 20px;
}

.copyText {
  color: #5b7ede;
  cursor: pointer;
}
.copyIcon1 {
  display: block;
  cursor: pointer;
  width: 16px;
}
.copyIcon2 {
  display: none;
  cursor: pointer;
}
.linkTpl:hover .copyIcon2 {
  display: block;
}
.textGroup {
  max-width: 700px;
}
