.mgt-10 {
  margin-top: 10px;
}

.mgl-24 {
  margin-left: 24px;
}

.mgt-30 {
  margin-top: 30px;
}

.mgt-50 {
  margin-top: 50px;
}

.mgl-4 {
  margin-left: 4px;
}

.policy-container {
  border: 1px solid #d4d9e6;
  padding-top: 10px;
}

.date-container {
  background: #edf2fb;
  padding: 20px 12px 20px;

  .lv-form-label {
    justify-content: center;
    align-items: center;
    display: inline-flex;
    color: #000;
    padding: 0 5px 0 8px;
  }

  .start-time,
  .end-time {
    width: 215px;
  }

  .interval,
  .interval-option,
  .retention,
  .retention-option {
    width: 100px;
  }

  .days-of-month {
    width: 260px;
  }

  .day-of-week,
  .day-of-month-type {
    width: 150px;
  }
}
