.sla-content {
  width: 48px;
  height: 48px;
}

.sla-basic-form .lv-form-label,
.sla-basic-form .lv-form-control {
  padding-bottom: 0px;
}

.sla-warp {
  max-width: 550px;
}

.aui-custom-modal-operate {
  position: relative;
  right: 30px;
  top: -5px;
}
