.anti-ransomware {
  display: flex;
  height: 100%;
  .detail {
    .title {
      color: var(--live-angular-color-text-regular);
      font-size: 32px;
      font-weight: 700;
      line-height: 38px;
    }

    .refresh-box {
      margin-top: 4px;
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      color: var(--live-angular-color-text-secondary);
    }

    .detection-resource,
    .anti-ransomism-strategy {
      margin-top: 16px;
      .num {
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        color: var(--live-angular-color-text-regular);
      }

      .title {
        margin-top: 4px;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        color: var(--live-angular-color-text-secondary);
      }

      .abnormal {
        .title {
          display: flex;
          align-items: center;
          gap: 4px;
          .text {
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            color: var(--live-angular-color-text-secondary);
          }
        }
      }

      .infected {
        display: flex;
        align-items: center;
        gap: 16px;
        .num {
          font-size: 16px;
          font-weight: 700;
          line-height: 19px;
          color: var(--live-angular-color-text-regular);
        }
        .title {
          display: flex;
          align-items: center;
          gap: 4px;
          margin-top: 4px;
          .text {
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            color: var(--live-angular-color-text-secondary);
          }
        }
      }

      .abnormal-circle {
        width: 8px;
        height: 8px;
        background-color: #f0c442;
        border-radius: 50%;
      }
      .infected-circle {
        width: 8px;
        height: 8px;
        background-color: #c63939;
        border-radius: 50%;
      }
    }
  }

  .chart-box {
    flex: 1;
  }
  .chart-box-0,
  .chart-box-3,
  .chart-box-4 {
    background: var(--custom-anti-ransomware-normal-gif);
  }

  .chart-box-2 {
    background: var(--custom-anti-ransomware-infected-gif);
  }

  .static.chart-box-0,
  .static.chart-box-3,
  .static.chart-box-4 {
    background: url('assets\img\home-anti-ransomware-normal-static.png')
      no-repeat center;
  }

  .static.chart-box-1 {
    background: url('assets\img\home-anti-ransomware-abnormal-static.png')
      no-repeat center;
  }

  .static.chart-box-2 {
    background: url('assets\img\home-anti-ransomware-infected-static.png')
      no-repeat center;
  }
}
