.mount-to-container {
  width: 400px;
  padding: 10px 20px;
}

.mount-to-ip-text {
  width: 180px;
}

.icon-info {
  float: left;
  margin-right: 8px;
  margin-top: 4px;
}

.info-tip {
  display: inline-block;
  width: 480px;
  line-height: 24px;
}
