h2 {
  margin-bottom: 10px;
}
.detail-container .lv-form-label,
.detail-container .lv-form-control {
  padding-bottom: 0.1rem;
}
.card-container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  .node-card {
    border: solid 1px #b8becc;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    .card-header {
      border-bottom: 1px dashed #b8becc;
      padding-bottom: 10px;
      div {
        margin-top: 5px;
      }
      .card-title {
        font-weight: bold;
      }
    }
    .card-content {
      .card-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
        .row-label {
          margin-right: 10px;
        }
      }
    }
  }
}
