.data-layout-container {
  display: inline-block;
  vertical-align: middle;
}

.backup-form-label {
  width: 177px;
}

.backup-for-text-zh-cn {
  width: 198px;
}

.backup-for-text-en-us {
  width: 150px;
}

.storage-backup-tip {
  align-items: flex-start;
  margin-top: 4px;

  i {
    margin-top: 2px;
    height: 20px;
  }

  span {
    line-height: 24px;
  }
}

.specified-files-text {
  width: 500px;
}
