.unit-text {
  width: 78px;
  margin-left: 10px;
}

.retention-input {
  width: 340px !important;
}

.icon-top {
  position: relative;
  top: -10px;
}

.mgt {
  margin-top: 24px;
}

.taget-label {
  color: #6c7280;
}

.storage-type {
  width: 150px !important;
}

.storage-type-en {
  width: 250px !important;
}

.storage-value {
  width: 278px !important;
}
