<lv-tabs [(lvActiveIndex)]="activeIndex" class="aui-tab">
    <lv-tab lvTitle="{{'common_basic_info_label' | i18n}}">
        <ng-template lv-tab-lazy>
            <aui-king-base-basic-info [data]="data"></aui-king-base-basic-info>
        </ng-template>
    </lv-tab>
    <lv-tab lvTitle="{{'protection_database_instance_label' | i18n}}">
        <ng-template lv-tab-lazy>
            <aui-king-base-instance-database-list [data]="data"></aui-king-base-instance-database-list>
        </ng-template>
    </lv-tab>
</lv-tabs>
