.user-guide-slider {
  height: 100%;
  background: var(--live-angular-color-container-background);
}

.guide-container {
  width: 100%;
  height: 100%;
  background: var(--custom-user-guide-bg);
  background-size: cover;
  padding: 24px 20px;
  box-sizing: border-box;

  .header {
    justify-content: space-between;
  }

  .title {
    margin-top: 58px;
  }

  .content {
    margin-top: 50px;
  }
}

.main-container {
  width: 100%;
  height: calc(100% - 64px);
  padding: 24px 20px;
  box-sizing: border-box;
  overflow: auto;

  .header {
    justify-content: space-between;
  }
}

.guide-h1 {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
}

.guide-h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
}

.close-link {
  cursor: pointer;
}

.title-logo {
  width: 64px;
  height: 64px;
}

.label-tag {
  background: linear-gradient(180deg, rgb(193, 20, 255), rgb(0, 35, 242) 100%);
  width: 4px;
  height: 14px;
}

.pdl-desc {
  padding-left: 12px;
}

.guide-aui-link {
  &:hover,
  &:active {
    color: var(--live-angular-color-primary-active);
    text-decoration: none;
    cursor: pointer;
  }
}

.back-arrow {
  width: 24px;
  height: 24px;
}

.guide-h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
}

.mgt-24 {
  margin-top: 24px;
}

.app-group {
  border: 1px solid var(--live-angular-color-border-secondary);
  border-radius: 8px;
  cursor: pointer;
}

.active-status {
  border: 1px solid var(--live-angular-color-primary-active);
}

.guide-btn-container {
  position: absolute;
  bottom: 16px;
  right: 24px;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.active-app-logo-container {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  line-height: 32px;
  color: var(--live-angular-color-text-white);
}

.guide-label {
  color: var(--live-angular-color-text-regular);
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

.step-bar {
  padding: 16px;
  width: 368px;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid var(--live-angular-color-border-regular);
  background: var(--live-angular-color-container-background);
}

.step-bar-title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
}

.step-index {
  width: 20px;
  height: 20px;
  background: var(--live-angular-color-primary-active);
  border-radius: 20px;
  color: var(--live-angular-color-text-white);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}

.step-expand-icon {
  margin-top: 4px;
}

.bar-dash-line {
  border-top: 1px solid var(--live-angular-color-border-secondary);
  opacity: 0.1;
  height: 0;
  margin-top: 14px;
  margin-bottom: 16px;
}

.flex-content {
  justify-content: space-between;
  align-items: flex-start;
}

.setp-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.step-desc {
  color: var(--live-angular-color-text-hint);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.align-r {
  text-align: right;
}

.warp-app-label {
  max-width: 110px;
}

.ui-card {
  width: 174px;
}

.ui-card-zh {
  height: 240px;
}

.ui-card-en {
  height: 270px;
}

.ui-card p {
  word-break: break-all;
  font-size: 12px;
  line-height: 18px;
}

.ui-card.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.close-guide-content {
  margin-top: 16px;
  padding: 16px;
  width: 368px;
  box-sizing: border-box;
  border: 1px solid var(--live-angular-color-primary-active);
  border-radius: 8px;
  background: var(--live-angular-color-container-background);
}

.close-guide-title {
  color: var(--live-angular-color-text-regular);
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
}

.guide-small-icon {
  width: 24px;
  height: 24px;
}

.close-app-tip {
  margin-left: 32px;
}

.close-button {
  justify-content: flex-end;
  margin-top: 16px;
}

.select-client {
  padding: 5px;
  margin-top: 5px;
  width: 326px;
  border: 1px solid var(--live-angular-color-border-regular);
  border-radius: 3px;
}

.flex-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.margin-right {
  margin-right: 8px;
}
.wrap-text {
  white-space: normal; /* 允许文本换行 */
  overflow: hidden; /* 隐藏超出文本的部分 */
  text-overflow: ellipsis; /* 超出部分用省略号表示 */
}
