.policy-select {
  border: 1px solid #6c92fa;
}
.alarm-group {
  display: inline-block;
}
.alarm-radio {
  margin-right: 16px;
}
.alarm-card {
  width: 370px;
  border: 1px solid #d4d9e6;
  padding: 16px 16px;
}
.card-top {
  height: 60px;
  margin-bottom: 1px;
  i {
    width: 24px;
    height: 24px;
    float: left;
  }
}
.card-top {
  height: 60px;
}
.alarm-name {
  font-size: 16px;
  width: 330px;
  border-bottom: 1px dashed #d4d9e6;
  padding-bottom: 16px;
  margin-left: 16px;
  float: left;
}
.alarm-title {
  font-size: 12px;
  margin-left: 40px;
  float: left;
}
.statistics-tag {
  min-width: 40px;
  height: 20px;
  color: #ffffff;
  border-radius: 14px;
  line-height: 20px;
  padding-right: 8px;
  margin-left: 16px;
  margin-right: 8px;
  background: #f45c5e;
  float: left;
}
.statistics-tag i {
  margin-left: 4px;
  cursor: default;
}
.count-label {
  margin-left: 2px;
}
.card-bottom {
  height: 30px;
}

.alarm-no-data {
  padding: 50% 0;
  text-align: center;
  i {
    width: 72px;
    height: 72px;
  }
}
.no-data-label {
  margin-top: 0.08rem;
  font-size: 0.14rem;
}
