.text-wrap {
  color: #333;
}

.text-wrap:hover {
  color: #333;
}

.num-wrap {
  display: inline-block;
  margin-left: 5px;
  width: 30px;
  height: 16px;
  border-radius: 10px;
  text-align: center;
  line-height: 16px;
  background: #d3d8e5;
}

.active {
  background: #6c92fa;
  color: #fff;
}

.title {
  margin-bottom: 24px;
}

.sla-info-tip {
  margin-bottom: 20px;

  > span {
    vertical-align: revert;
  }
}

.vm-name-tip {
  align-items: flex-start;
  margin-top: 4px;

  i {
    margin-top: 2px;
    height: 20px;
  }

  span {
    line-height: 24px;
  }
}
