<div class="module-container link-block" (click)="gotoTask()">
  <div class="aui-header-1">
    <lv-group lvGutter="8px">
      <h2 class="home-module-title">{{ 'common_jobs_label' | i18n }}</h2>
    </lv-group>
  </div>
  <div class="tasks-count">
    <div *ngFor="let item of vals">
      <div class="count-first-line" [ngStyle]="{ borderLeft: 'solid ' + item.color }">
        {{ item.value }}
      </div>
      <div class="count-sub-line" [ngStyle]="{fontSize:i18n.isEn?'14px':'16px'}">
        {{ item.label }}
      </div>
    </div>
  </div>

  <lv-group class="count-bottom">
    <h3 class="home-module-sub-title">
      {{ 'common_tasks_distributions_label' | i18n }}
    </h3>
    <div class="total-count">
      {{ 'common_total_label' | i18n }}：{{ getTotal() }}
    </div>
  </lv-group>
  <div class="tasks-lines">
    <ng-container *ngIf="getTotal()>0 else emptyLineTpl">
      <div *ngFor="let item of vals; let first = first" class="line" [ngStyle]="{
          width: first
            ? widthComputer(item.id)
            : 'calc(' + widthComputer(item.id) + ' - 3px)',
          backgroundColor: item.color
        }"></div>
    </ng-container>
    <ng-template #emptyLineTpl>
      <div class="empty-line"></div>
    </ng-template>
  </div>
</div>
