.location-gutter {
  margin-top: 20px;
}

.datastore-label {
  display: inline-block;
  width: 130px;
  vertical-align: middle;
  &.same {
    width: 660px;
  }
}

.icon-warning {
  margin-right: 8px;
}

.origin-tip {
  width: 767px;
}

.new-tip {
  width: 736px;
}

.new-help {
  position: relative;
  top: -1px;
}
