.sensitive-slider {
  width: 3.2rem;
  margin-top: 8px;
  height: 40px;
}

.upper-bound-form {
  animation: none !important;
}

.upper-bound-tip {
  align-items: flex-start;

  i {
    margin-top: 2px;
    height: 20px;
  }

  span {
    line-height: 24px;
  }
}
