.init-config-container {
  overflow: hidden;
}

.aui-header-5 {
  margin-top: -13px;
  margin-bottom: 20px;
}

.aui-block2 {
  padding: 32px;
  background: var(--live-angular-color-container-background);
  height: calc(100% - 64px);
  overflow-y: auto;
  width: 100%;
}

.modify-block {
  padding: 32px;
  background: var(--live-angular-color-container-background);
  height: 81.5vh !important;
  flex-grow: 1;
}

.container-visible {
  display: block;
}

.container-hidden {
  display: none;
}

.container-visible2 {
  display: block;
  height: 100%;
}

.text-setting {
  margin-bottom: 2px;
}

.init-config-wizard {
  padding-bottom: 24px;
  display: flex;
  justify-content: center;

  .wizard {
    width: 50%;
  }
}

.init-overflow {
  max-height: 100%;
  overflow-y: auto;
}

.aui-lv-wizard {
  width: 70%;
  margin: auto;
  height: 100px;
}

.card-box {
  width: 250px;
  height: 50px;
  border: 1px solid var(--live-angular-color-border-regular);
  border-radius: 8px;
  padding: 16px;

  .box-title {
    margin: 4px 0 0 7px;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
  }

  .box-content p {
    margin-left: 5px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: var(--live-angular-color-text-hint);
  }
}

.card-box-en {
  height: auto;
}

.card-box.select {
  border: 1px solid var(--live-angular-color-primary-active);
  background-color: var(--live-angular-color-background-active);
}

.tectonic-column {
  padding-bottom: 32px;
}

.right-interval-certification {
  margin-right: 30px;
  margin-left: 20px;
  position: relative;
}

.header {
  margin-bottom: 40px;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.init-display {
  display: block !important;
  height: 100%;

  .lv-group {
    height: 100%;
  }
}

.init-limit-height {
  max-height: 80vh;
  overflow-y: auto;
  height: inherit;
}

.modify-limit-height {
  height: inherit;
}

.left-menus {
  justify-content: flex-start;
  height: 100%;
  border-right: 1px solid var(--live-angular-color-divider-regular);

  .cluster-menus {
    height: calc(100% - 30px);
    width: 100%;
    overflow-y: auto;
    max-height: 57vh;
  }

  ::ng-deep .lv-menu.lv-left-menu ul.level0 > li > .menu-item {
    height: auto !important;
  }

  ::ng-deep .lv-search .lv-input-group {
    width: 212px;
  }
}

.node-group {
  margin-right: 8px;
}

.insight-padding-none {
  padding: 0 !important;
  height: 100%;
  flex-direction: column;
  flex: 1;
  overflow-x: hidden;
}

.list-container {
  overflow-y: auto;
  min-height: calc(100% - 5.9vh);
  flex: 1;
  width: 100%;
}

.modify-button {
  position: absolute;
  right: 0;
  top: 16px;
  width: 100%;
  justify-content: flex-end;
}

.modifyOperation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.dashed-line {
  width: 100%;
  border-bottom: 0.01rem dashed var(--live-angular-color-divider-regular);
  margin: 0px 0 16px;
}

.network-display {
  align-items: flex-start;
  height: 90%;
}

.init-button {
  width: calc(100% - 54px);
  justify-content: flex-end;
  display: flex;
  height: 64px !important;
  position: absolute;
  bottom: 20px;
  z-index: 10;
  border-top: 0.01rem solid var(--live-angular-color-divider-regular);

  .init-button-content {
    margin: 16px 24px;
    height: 40px !important;
  }
}

.bottom-btn-container {
  position: sticky;
  bottom: 0;
  height: 64px;
  background-color: inherit;
  border-top: 1px solid var(--live-angular-color-divider-regular);
  display: flex;
  flex: 1;
  width: 100%;
}

.process-height {
  height: 100%;
}
