.multi-cluster-overview {
  margin-bottom: 16px;
}

.multi-cluster-title {
  margin-bottom: 20px;
}
.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  .card-box {
    width: 25%;
    min-width: 256px;
    height: 532px;
    background: #fbfdff;
    padding: 0 28px;
  }
  .distributed-card-box {
    width: 33%;
    min-width: 256px;
    height: 532px;
    background: #fbfdff;
    padding: 0 28px;
  }
  .card-title {
    margin: 24px auto 56px 6px;
    span {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
    }
  }
  .title-img {
    width: 40px;
    height: 40px;
  }
  .content-img {
    width: 100px;
    height: 100px;
    margin-right: 24px;
  }
  .card-content {
    .content-title {
      font-size: 20px;
      font-weight: 600;
      line-height: 24px;
      margin-bottom: 8px;
    }
    .resource-text {
      width: 80%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
    }
    .resourceNum {
      font-weight: 700;
      font-size: 18px;
    }
    .card-line {
      height: 1px;
      border: 1px solid #d4d9e6;
    }

    .content-process {
      height: 4px;
    }

    .content-point {
      width: 7px;
      height: 7px;
      background: #f0c442;
      border-radius: 50%;
      display: inline-block;
      margin-right: 4px;
    }
    .percent-bar {
      width: 80%;
    }
  }
  .nodeNum {
    color: #2673e5;
    cursor: pointer;
  }
}

.full-line {
  width: 100%;
}
