@import url(../../../../../../../assets/style/aui.less);

.tips {
  color: @text-color-tertiary;
}

.ip-tips {
  font-size: 12px;
  font-weight: 400;
}

.ip-input-en {
  width: 562px !important;
}

.ip-input-zh {
  width: 585px !important;
}
