.content {
  margin-top: 24px;
}

.upper-group {
  justify-content: space-between !important;
  margin: 16px 0;
}

.table-header {
  height: 40px;
  background: #f0f3fa;
  line-height: 40px;
  padding-left: 25px;
  font-size: 0.12rem;
}

.bread {
  width: 580px;
  overflow-x: auto;
  overflow-y: hidden;
}

.search-width {
  width: 337px;
}

.mgt-8 {
  margin-top: 8px;
}
