.restore-options {
  margin-top: 8px;
}

.tree-container {
  border: 1px solid #b8becc;
  max-height: 520px;
  overflow: auto;
}

.control-container {
  width: 100%;
}

.main-container {
  .lv-tree {
    width: 100%;
  }
}
