.warning-content {
  word-break: normal;
  max-height: 240px;
  overflow: auto;
}
.haContent {
  p {
    color: #6c7280;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .lv-form-label,
  .lv-form-control {
    line-height: 14px;
    padding-bottom: 16px;
  }
}
