.first-box {
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.top {
  min-width: 47px;
  width: 47px;
  height: 18px;
  border-radius: 34px;
  background-color: #fa8241;
  color: #1a1a1a;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  display: inline-block;
  margin-left: 4px;
}

td {
  white-space: nowrap;
}
