.hive-all-table,
.hive-selected-table {
  margin: 0 !important;
  border: 1px solid #e6e6e6;
  height: 800px;
  border-radius: 4px;
  position: relative;

  .table-paginator {
    position: absolute;
    bottom: 0px;
    padding: 0 20px;
  }
}

.th-group {
  justify-content: space-between !important;
}

.info {
  float: right;
}

.name {
  width: 250px;
}

.info-fail {
  float: right;
  margin-right: 16px;
  color: #f45c5e;
  font-size: 12px;
  margin-left: 10px;
}

.icon {
  padding-top: 2px;
}
