<lv-form [formGroup]="formGroup" class="formGroup">
    <lv-form-item>
        <lv-form-label lvRequired>
            {{'common_host_label' | i18n}}
        </lv-form-label>
        <lv-form-control [lvErrorTip]="baseUtilService.requiredErrorTip">
            <lv-select formControlName="host" [lvOptions]='hostOptions' lvValueKey='value' lvMode='multiple'
                [lvDisabled]="!!rowData" lvShowCheckAll lvShowFilter lvFilterKey='label' lvFilterMode='contains'>
            </lv-select>
        </lv-form-control>
    </lv-form-item>
    <lv-form-item>
        <lv-form-label lvRequired>
            {{'common_username_label' | i18n}}
        </lv-form-label>
        <lv-form-control [lvErrorTip]="usernameErrorTip">
            <input lv-input type="text" formControlName="userName" autocomplete="new-password"
                placeholder="{{ 'protection_database_username_placeholder_label' | i18n }}" />
        </lv-form-control>
    </lv-form-item>
    <lv-form-item>
        <lv-form-label lvRequired>
            {{'common_password_label' | i18n}}
        </lv-form-label>
        <lv-form-control [lvErrorTip]="passwordErrorTip">
            <aui-inupt-with-eye formControlName="password" [lvPasteAllowed]="false"></aui-inupt-with-eye>
        </lv-form-control>
    </lv-form-item>
</lv-form>