.auto-power-switch-item .lv-form-label {
  white-space: normal;
}

.auto-power-switch {
  width: 130px;
}

.auto-power-switch-en-us {
  width: 195px;
}

.auto-power-switch-zh-cn {
  width: 100px;
}

.startup-network-adaptor-warn {
  width: 580px;
}

.tip-position {
  margin-top: 5px;
}

.tip-configform-constraint {
  display: inline-flex;
  height: 32px;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.store-position {
  margin-top: 10px;
  margin-bottom: 10px;
}

.switch-position {
  margin-bottom: 10px;
}

.icon-warning {
  margin-right: 8px;
}

.datastore-label {
  display: inline-block;
  width: 120px;
  vertical-align: middle;
}
