.flow-agent {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 60%;
}

.toolContent {
  overflow-y: auto;
  max-height: 15vh;
  width: 200px;
}
