<h2 class="aui-gutter-column-md">{{ 'system_archive_drive_label' | i18n }}</h2>

<button class="top-button" lv-button (click)="clearAllDriver()">{{'common_batch_delete_label' | i18n}}</button>
<lv-pro-table #dataTable [config]="tableConfig" [data]="tableData"></lv-pro-table>

<ng-template #driverSelectionExtraTpl let-item>
  <lv-select [(ngModel)]="item.targetDriver" (ngModelChange)="targetDriverChange($event, item,true)" [lvOptions]="driveOptions" lvValueKey="value"
             class="driverSelectionExtraTplSelect"
             lvShowFilter lvFilterMode="contains" lvFilterKey="label" lvShowClear >
  </lv-select>
</ng-template>
