@import url(../../../../../../assets/style/aui.less);

.block-tips {
  width: 336px;
}

.form-tips {
  display: inline-block;
  width: 90%;
  vertical-align: middle;
  color: @text-color-tertiary;
}

.icon-tips {
  display: inline-block;
  margin-right: 4px;
}
