.cluster-card {
  width: 263px;
  height: 75px;
  border: 1px solid #b8becc;
  border-radius: 37px;
  padding: 10px 14px;
}
.cluster-card-selected {
  border: 2px solid #6c92fa;
  border-radius: 38px;
}
.cluster-card-gruop {
  height: 100%;
}
.cluster-name {
  margin-bottom: 4px;
  max-width: 160px;
}
.capacity-info {
  border-top: 1px dashed #6c7280;
  color: #6c7280;
  padding-top: 2px;
  width: 160px;
}
.arrow-icon {
  width: 24px;
  height: 24px;
}
.header-part {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  .lv-select {
    width: auto !important;
  }
}
.cluster-icon {
  width: 40px;
  height: 40px;
}
