.firstSeciton {
  padding-left: 40px !important;
}

.prefix-span {
  color: red;
  padding-right: 0.04rem;
}

.header {
  margin-bottom: 20px;
  margin-top: 20px;
}

.check-box-span {
  margin-left: 24px;
}

.ethernet {
  margin: 20px 0 0 0;
}

.ethernet-vlan {
  margin: 0 0 0 10px 0;
}

.ethernetTable {
  margin: 0 0 16px 10px;
}
