<lv-form [formGroup]="formGroup" class="formGroup">

    <lv-form-item>
        <lv-form-label lvRequired>
            {{'common_host_label' | i18n}}
        </lv-form-label>
        <lv-form-control [lvErrorTip]="baseUtilService.requiredErrorTip">
            <lv-select formControlName="host" [lvOptions]='hostsOptions' lvValueKey='value' lvShowFilter
                lvFilterKey="label" lvFilterMode="contains" [lvDisabled]="!_isEmpty(data)">
            </lv-select>
        </lv-form-control>
    </lv-form-item>

    <lv-form-item>
        <lv-form-label lvRequired>
            {{'common_client_path_label' | i18n}}
        </lv-form-label>
        <lv-form-control [lvErrorTip]='pathErrorTip'>
            <input lv-input type="text" formControlName="client" />
        </lv-form-control>
    </lv-form-item>
    <lv-form-item>
        <lv-form-label lvRequired>
            {{'common_business_ip_label' | i18n}}
            <i lv-icon="aui-icon-help" lv-tooltip="{{'common_input_redis_business_ip_label' | i18n}}"
                lvTooltipTheme="light" class="configform-constraint" lvColorState='true'></i>
        </lv-form-label>
        <lv-form-control [lvErrorTip]="baseUtilService.ipErrorTip">
            <input lv-input type="text" formControlName="business_ip" />
        </lv-form-control>
    </lv-form-item>

    <lv-form-item>
        <lv-form-label lvRequired>
            {{'common_port_label' | i18n}}
        </lv-form-label>
        <lv-form-control [lvErrorTip]="portErrorTip">
            <input lv-input type="text" formControlName="port" placeholder='1~65535' />
        </lv-form-control>
    </lv-form-item>

    <lv-form-item>
        <lv-form-label lvRequired>
            {{'protection_auth_method_label' | i18n}}
        </lv-form-label>
        <lv-form-control [lvErrorTip]="baseUtilService.requiredErrorTip">
            <lv-select formControlName="auth_method" [lvOptions]='authMethodOptions' lvValueKey='value'>
            </lv-select>
        </lv-form-control>
    </lv-form-item>

    <ng-container *ngIf="formGroup.value.auth_method === dataMap.redis_Auth_Method_Type.kerber.value">

        <lv-form-item>
            <lv-form-label lvRequired>
                {{'common_kerberos_label' | i18n}}
                <i lv-icon="aui-icon-help" lv-tooltip="{{'protection_hdfs_register_cluster_kerberos_tip_label' | i18n}}"
                    lvTooltipTheme="light" class="configform-constraint" lvColorState='true'></i>
            </lv-form-label>
            <lv-form-control [lvErrorTip]="baseUtilService.requiredErrorTip">
                <lv-group lvGutter="8px">
                    <lv-select formControlName="kerberosId" [lvOptions]='kerberosOptions' lvValueKey='kerberosId'
                        lvShowFilter lvFilterKey='label' lvFilterMode='contains'>
                    </lv-select>
                    <button lv-button (click)="createKerberos()" pmpermission pmOperation='CreateKerberos'>
                        {{ 'common_create_label' | i18n }}
                    </button>
                </lv-group>
            </lv-form-control>
        </lv-form-item>
    </ng-container>
    <lv-form-item>
        <lv-form-label>
            {{'protection_register_redis_ssl_label' | i18n}}
            <i lv-icon="aui-icon-help" lv-tooltip="{{'protection_register_redis_ssl_help_label' | i18n}}"
                lvTooltipTheme="light" class="configform-constraint" lvColorState='true'></i>
        </lv-form-label>
        <lv-form-control>
            <lv-switch formControlName="ssl"></lv-switch>
        </lv-form-control>
    </lv-form-item>
</lv-form>

<ng-template #footerTpl>
    <div class="lv-modal-btns">
        <lv-group lvGutter='8px'>
            <button lv-button (click)='test()' [disabled]='formGroup.invalid' [lvLoading]='testLoading'>
                {{ 'common_test_label' | i18n }}
            </button>
            <button lv-button lvType='primary' (click)='ok()' [disabled]='!(formGroup.valid && isTest)'
                [lvLoading]='okLoading'>
                {{ 'common_ok_label' | i18n }}
            </button>
            <button lv-button (click)='modal.close()'>
                {{ 'common_cancel_label' | i18n }}
            </button>
        </lv-group>
    </div>
</ng-template>