.lv-pro-filter-date-picker {
  .lv-date-picker-panel-container {
    border: none;
  }
  .lv-date-picker-calendar {
    padding: 0;
  }
  .lv-date-picker-calendar
    > .lv-date-picker-footer
    > .lv-date-picker-footer-content {
    height: auto;
  }
}
