tbody {
  td {
    padding-bottom: 2px !important;
  }

  .formControl {
    height: 72px;
  }
}

.input-position {
  margin-top: 20px;
}

.error-tips {
  color: #c63939;
  font-size: 0.14rem;
  margin: 4px 0;
}
