.visible {
  display: block;
}

.hidden {
  display: none;
}

.mgb-ip {
  margin-bottom: 20px;
}
.whitelist {
  max-height: 300px;
  overflow-y: scroll;
}

.textDiv {
  margin-bottom: 20px;
}

.tips {
  color: #f45c5e;

  .error-icon {
    height: 14px;
    position: relative;
    bottom: 2px;
  }
}
