<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository>/devcloud/maven/repository</localRepository>
    <mirrors>
        <mirror>
            <id>mirror</id>
            <mirrorOf>*,!maven-center,!selfdev,!rd-release,!dev-test</mirrorOf>
            <url>https://cmc.centralrepo.rnd.huawei.com/artifactory/maven-central-repo/</url>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>central</id>
            <repositories>
                <repository>
                    <id>maven-center</id>
                    <url>https://cmc.centralrepo.rnd.huawei.com/artifactory/maven-central-repo/</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>false</enabled></snapshots>
                </repository>
                <repository>
                    <id>selfdev</id>
                    <url>https://cmc.centralrepo.rnd.huawei.com/artifactory/product_maven/</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </repository>
                <repository>
                    <id>rd-release</id>
                    <url>https://maven.cloudartifact.dgg-y.dragon.tools.huawei.com/artifactory/Product-RD-release</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>maven-center</id>
                    <url>https://cmc.centralrepo.rnd.huawei.com/artifactory/maven-central-repo/</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>dev-test</id>
                    <url>https://maven.cloudartifact.dgg-y.dragon.tools.huawei.com/artifactory/Product-DevTest</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>selfdev</id>
                    <url>https://cmc.centralrepo.rnd.huawei.com/artifactory/product_maven/</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>central</activeProfile>
    </activeProfiles>
</settings>