.tree-container {
  margin-top: 5px;
  width: 100%;
  border: 1px solid #dedede;
  padding: 0.24rem;
}
.filter-container,
.advanced-container {
  margin-top: 20px;
}
.mgl-10 {
  margin-left: 10px;
}

.mgt-8 {
  margin-top: 8px;
}

.select-path-title {
  margin-left: 30px;
}

.tip-container {
  color: #b8becc;
}

.disk-select {
  justify-content: space-between;
}

.star-class {
  color: var(--live-angular-color-error);
}
