.air-gap-brand {
  width: 122px;
  height: 140px;
  background-image: url('assets/img/cyber_air_gap_brand.png');
  background-repeat: no-repeat;
  background-position: right -14px bottom -27px;
  background-size: 150%;
}

.group-mgr {
  margin-right: 24px;
}
