<lv-form [lvLabelColon]="false">
  <lv-form-item>
    <lv-form-label>{{ severityLabel }}</lv-form-label>
    <lv-form-control>
      <alarm-level [type]="severity"></alarm-level>
    </lv-form-control>
  </lv-form-item>
  <lv-form-item *ngFor="let item of formItems">
    <lv-form-label>{{ item.label | i18n }}</lv-form-label>
    <lv-form-control>
      <span *ngIf="item.key === 'suggestions'" [innerHTML]="item.value"></span>
      <div *ngIf="
          item.key !== 'suggestions' &&
          !(
            item.key === 'desc' &&
            ['0x5F025D0004','0x5F025A0004'].includes(data.alarmId)
          )
        " class="detail-inner-value" [innerHTML]="item.value">
      </div>
      <div *ngIf="
          item.key === 'desc' &&
          data.alarmId === '0x5F025D0004'
        ">
        <p [innerHTML]="item.value"></p>
        <span class="aui-link" (click)="downloadReport()" *ngIf="isAlarm">
          {{ 'insight_view_report_label' | i18n }}
        </span>
      </div>
      <div *ngIf="isCyberEngine && item.key === 'desc' && data.alarmId === '0x5F025A0004'">
        <p [innerHTML]="item.value"></p>
        
        <span *ngIf="data.detectType !== '2'" class="aui-link" (click)="viewDetectReport()">
          {{ 'common_view_detection_report_label' | i18n }}
        </span>
      </div>
    </lv-form-control>
  </lv-form-item>
</lv-form>
