<lv-form [formGroup]="formGroup" class="formGroup">
    <lv-form-item>
        <lv-form-label lvRequired>{{'system_trap_data_encryption_password_label' | i18n}}
        </lv-form-label>
        <lv-form-control [lvErrorTip]="baseUtilService.pwdErrorTip">
            <aui-inupt-with-eye formControlName="password" [lvPasteAllowed]="false"
                placeholder="{{'system_trap_data_encryption_password_tip_label' | i18n}}"></aui-inupt-with-eye>
        </lv-form-control>
    </lv-form-item>
</lv-form>