.application-type-group {
  display: flex;
  align-items: center;
  justify-content: center;

  .lv-group-column-single {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img.normal {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }

  img.checked {
    box-shadow: 0 0 8px #2673e5;
  }
}

.application-container {
  margin: 24px 32px 24px;

  img.normal {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }

  img.checked {
    box-shadow: 0 0 8px #2673e5;
  }
}

.desc {
  margin: 8px 0 0 0;
  width: 500px;
}

.card {
  width: 272px;
  height: 72px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 16px;
  border-radius: 8px;
}

.detect-card {
  border-radius: unset !important;
}

.card.select {
  box-shadow: 0 0 2px #2673e5;
  border: 1px solid #2673e5;
}

.card .resource-type-icon {
  width: 32px;
  height: 32px;
}

.card h2 {
  color: #282b33;
  font-size: 14px;
}

.space {
  margin-top: 40px;
}

.text-center {
  text-align: center;
}

.mgt-24 {
  margin-top: 24px;
}

.mgb-specified {
  margin-bottom: 38px;
}

.app-card-group {
  justify-content: space-between;
}
