.application-type-group {
  display: flex;
  align-items: center;
  justify-content: center;

  .lv-group-column-single {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img.normal {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }

  img.checked {
    box-shadow: 0 0 8px var(--live-angular-color-primary-active);
  }
}

.application-container {
  margin: 24px 32px 24px;

  img.normal {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }

  img.checked {
    box-shadow: 0 0 8px var(--live-angular-color-primary-active);
  }
}

.desc {
  margin: 8px 0 0 0;
  width: 500px;
}

.card {
  width: 272px;
  height: 72px;
  border: 1px solid var(--live-angular-color-border-regular);
  background: var(--live-angular-color-container-background);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 16px;
  border-radius: 8px;
}

.common-card {
  width: 128px;
  height: 52px;
  border: 1px solid var(--live-angular-color-border-regular);
  background: var(--live-angular-color-container-background);
  border-radius: 8px;
}

.labelWidth {
  max-width: 140px;
}

.detect-card {
  border-radius: unset !important;
}

.card.select,
.common-card.select {
  box-shadow: 0 0 2px var(--live-angular-color-primary-active);
  border: 1px solid var(--live-angular-color-primary-active);
}

.card .resource-type-icon {
  width: 32px;
  height: 32px;
}

.card h2 {
  font-size: 14px;
}

.common-card h2 {
  color: var(--live-angular-color-primary);
  font-size: 14px;
  line-height: 52px;
  text-align: center;
}

.space {
  margin-top: 40px;
}

.text-center {
  text-align: center;
}

.mgt-24 {
  margin-top: 24px;
}

.mgb-specified {
  margin-bottom: 38px;
}

.app-card-group {
  justify-content: space-between;
}
.searchStyle {
  margin-bottom: 20px;
}
