@import url(../../../../../assets/style/aui.less);

.visible {
  display: block;
}

.hidden {
  display: none;
}

.desc-style {
  color: @text-color-secondary;
}

.position-style {
  color: @text-color-tertiary;
}
