<p class="aui-gutter-column-sm">{{title}}</p>
<div class="tree-table-container">
    <div class="header-tab">
        <lv-radio-group [(ngModel)]="pathView" [lvGroupName]="'path'" (ngModelChange)="tabChange()">
            <lv-group lvGutter='14px'>
                <lv-radio [lvViewType]="'custom'" [lvValue]="'all'">
                    <div>
                        {{'protection_sla_optional_tooltip_step_label' | i18n}}
                        <span class="num-tag" [ngClass]="{'tag-light': pathView === 'all'}">{{total}}</span>
                    </div>
                </lv-radio>
                <div class="dash-line"></div>
                <lv-radio [lvViewType]="'custom'" [lvValue]="'selected'">
                    <div>
                        {{'common_selected_simple_label' | i18n}}
                        <span class="num-tag"
                            [ngClass]="{'tag-light': pathView === 'selected'}">{{selectedTotal}}</span>
                    </div>
                </lv-radio>
            </lv-group>
        </lv-radio-group>
    </div>
    <lv-group lvGutter='14px' [lvColumns]='["auto", "270px"]' class="search-path-container">
        <ng-container *ngIf="isPathSearchFlag; else elseTemplate">
            <input #input lv-input [(ngModel)]="currentPath" (keydown.enter)="pathSearch()" (blur)="pathSearch()"
                [attr.autofocus]="autofocus" />
        </ng-container>
        <ng-template #elseTemplate>
            <div class="bread-crumb-path" (click)="pathClick($event)">
                <lv-breadcrumb [lvItems]="filePathItems" class="breadcrumb"></lv-breadcrumb>
            </div>
        </ng-template>
        <div class="search-name">
            <lv-search (lvSearch)="searchName($event)" lvPlaceHolder="{{'common_name_label' | i18n}}"
                [(ngModel)]="searcKey"></lv-search>
        </div>
    </lv-group>
    <lv-group class="tree-table" [lvColumns]='["270px", "auto"]'>
        <div class="tree-container">
            <lv-tree #tree lvCompareWith="absolutePath" [lvData]="treeData" (lvExpandedChange)="expandedChange($event)"
                lvSelectionMode="single" [(lvSelection)]="selectionTree" (lvCheck)="pathNodeCheck($event)"
                [lvBeforeSelected]="beforeSelected" lvShowContentIcon [lvNodeTemplate]='nodeTpl'></lv-tree>
            <ng-template #nodeTpl let-item>
                <div style="width: 160px;" lv-overflow>
                    <span *ngIf="!item.isMoreBtn">
                        <i lv-icon="{{item.contentToggleIcon}}"></i>
                        {{item.label}}
                    </span>
                </div>
                <span class="aui-link" *ngIf="item.isMoreBtn"
                    (click)="clickMoreFile($event, item)">{{item.label}}</span>
            </ng-template>
        </div>
        <div class="table-container">
            <ng-container *ngIf="pathView === 'all'; else elseTableTemplate">
                <lv-pro-table #dataTable [config]="tableConfig" [data]="tableData"></lv-pro-table>
            </ng-container>
            <ng-template #elseTableTemplate>
                <lv-pro-table #dataSelectTable [config]="selectTableConfig" [data]="selectTableData"></lv-pro-table>
            </ng-template>
        </div>
    </lv-group>
</div>

<ng-template #fileTpl let-item>
    <span lv-overflow>
        <i lv-icon="{{ item.contentToggleIcon }}" [lvColorState]="true"></i>
        {{ item.name }}
    </span>
</ng-template>

<ng-template #sizeTpl let-item>
    <span lv-overflow>
        {{item.size | capacityCalculateLabel: '1.1-3':unitconst.BYTE:true}}
    </span>
</ng-template>

<ng-template #optTpl let-item>
    <lv-group class="opt-row">
        <span lv-overflow>
            {{item.modifyTime}}
        </span>
        <i lv-icon="lv-icon-close" [lvColorState]="true" (click)="deleteNode(item)"></i>
    </lv-group>
</ng-template>