.tree-table-container {
  border: 1px solid var(--live-angular-color-border-regular);
}

.header-tab {
  height: 40px;
  line-height: 40px;
  padding-left: 8px;
  box-sizing: border-box;
  background: var(--live-angular-color-header-background);
}

.search-path-container {
  padding: 8px;
  box-sizing: border-box;
}

.bread-crumb-path {
  border: 1px solid var(--live-angular-color-border-regular);
  border-radius: 4px;
  height: 32px;
  padding-left: 8px;
  cursor: pointer;
}

.breadcrumb {
  height: 100%;
}

.tree-table {
  align-items: flex-start;
  border-top: 1px solid var(--live-angular-color-border-regular);
}

.tree-container {
  padding: 10px 8px;
  max-height: 600px;
  overflow: scroll;
}

.table-container {
  height: 600px;
  border-left: 1px solid var(--live-angular-color-border-regular);
}

.dash-line {
  width: 1px;
  height: 10px;
  background: var(--live-angular-color-border-regular);
}

.num-tag {
  display: inline-block;
  min-width: 22px;
  text-align: center;
  height: 18px;
  line-height: 18px;
  border-radius: 10px;
  color: var(--live-angular-color-text-inverse);
  border: 1px solid var(--live-angular-color-badge-border);
  background: var(--live-angular-color-icon-secondary);
  padding: 0 4px;
}

.tag-light {
  background: var(--live-angular-color-primary-active);
}

.opt-row {
  justify-content: space-between;
}

.page-total {
  margin-left: 16px;
  margin-top: 10px;
}

.mount-tip-container {
  align-items: center;
  padding: 0 8px;
}

.empty-container {
  height: 234px;
  padding: 64px 0;
  display: flex;
  align-items: flex-start;
}
