::ng-deep .narrower {
  .model-box {
    transform: translateX(-50%) scale(0.87) !important;
  }
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .header {
    width: 100%;
    height: 80px;
    // background-color: pink;
    display: flex;
    align-items: center;
    gap: 32px;
    // > div {
    //   background-color: red;
    // }
    .num {
      font-size: 32px;
      color: #fff;
      height: 36px;
      line-height: 36px;
      font-weight: 700;
    }
    .title {
      font-size: 16px;
      color: #b3b3b3;
      height: 24px;
      line-height: 24px;
    }
    .total-task-box {
      height: 80px;

      .num {
        font-size: 40px;
        height: 56px;
        line-height: 56px;
      }
    }
    .success-box {
      min-width: 85px;
      height: 60px;
      display: flex;
      gap: 8px;
      align-items: center;
      .success-icon {
        width: 40px;
        height: 40px;
        background: url('assets/img/home-success.svg');
      }
    }

    .fail-box {
      min-width: 80px;
      height: 60px;
      display: flex;
      gap: 8px;
      align-items: center;
      .fail-icon {
        width: 40px;
        height: 40px;
        background: url('assets/img/home-fail.svg');
      }
    }

    .stop-box {
      min-width: 96px;
      height: 60px;
      display: flex;
      gap: 8px;
      align-items: center;
      .stop-icon {
        width: 40px;
        height: 40px;
        background: url('assets/img/home-stop.svg');
      }
    }

    .executing-box {
      min-width: 68px;
      height: 60px;
      .executing-box-footer {
        height: 24px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 4px;
        .executing-icon {
          height: 16px;
          width: 16px;
          background: url('assets/img/home-executing.svg');
        }
        .title {
          flex: 1;
        }
      }
    }

    .wait-box {
      min-width: 52px;
      height: 60px;
      .wait-box-footer {
        height: 24px;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 4px;
        .wait-icon {
          height: 16px;
          width: 16px;
          background: url('assets/img/home-wait.svg');
        }
        .title {
          flex: 1;
        }
      }
    }
    .split-line {
      width: 1px;
      height: 58px;
      background-color: #333;
    }
  }

  .container {
    width: 100%;
    flex: 1;
    position: relative;
    .model-box {
      width: 786px;
      height: 342px;
      position: relative;
      top: 135px;
      left: 50%;
      transform: translateX(-50%);
      .production-environment,
      .backing-up,
      .duplicate,
      .archiving {
        position: absolute;
        box-sizing: border-box;
        cursor: pointer;
      }
      .production-environment,
      .backing-up,
      .duplicate,
      .archiving,
      .duplicate-not-configured,
      .archiving-not-configured {
        .title {
          color: #e6e6e6;
          font-size: 14px;
          font-weight: 700;
          line-height: 22px;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      .detail-box {
        height: 40px;
        white-space: nowrap;
        padding: 8px;
        box-sizing: border-box;
        color: #b3b3b3;
        font-size: 12px;
        font-weight: 400;
        // line-height: 22px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -50px;
        background: #c8caff10;
        border-radius: 8px;
        box-shadow: -1px -1px 1px rgba(255, 255, 255, 0.23);
        display: flex;
        align-items: center;
        gap: 8px;
        .num {
          font-weight: 700;
          font-size: 20px;
          color: #e6e6e6;
          margin-right: -4px;
        }
        .icon {
          background: url('assets/img/home-fail.svg');
          background-size: 100%;
          width: 24px;
          height: 24px;
        }
      }

      .production-environment {
        width: 162px;
        height: 280px;
        top: 24px;
        left: 0;
        background: url(assets\img\mission-overview-production-environment.png)
          no-repeat center;
        .title {
          top: 130px;
        }
        .detail-box {
          .icon {
            background: url('assets/img/mission-overview-refresh.svg');
            width: 20px;
            height: 20px;
            background-size: 100%;
            animation: rotateAnimation 3s linear infinite;
            i {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
      .production-environment::before {
        content: '';
        display: block;
        position: absolute;
        background: url(assets\img\mission-overview-production-environment-footer.gif);
        width: 162px;
        height: 280px;
      }
      .production-environment::after {
        content: '';
        display: block;
        position: absolute;
        background: url(assets\img\mission-overview-production-environment-hover.png);
        visibility: hidden;
        width: 100%;
        height: 100%;
      }
      .production-environment:hover::after {
        animation: fadeInOut 2s infinite;
      }
      // ---------------------------
      .backing-up {
        width: 137px;
        height: 248px;
        top: 74px;
        left: 225px;
        background: url(assets\img\mission-overview-backing-up.png) no-repeat
          center;
        .title {
          top: 150px;
        }
        .abnormal {
          position: absolute;
          width: 137px;
          height: 248px;
          background: url(assets\img\mission-overview-backing-up-abnormal.png)
            no-repeat center;
          z-index: 10;
        }
      }
      .backing-up::before {
        content: '';
        display: block;
        position: absolute;
        background: url(assets\img\mission-overview-backing-up-footer.gif);
        width: 137px;
        height: 248px;
      }
      .backing-up::after {
        content: '';
        display: block;
        position: absolute;
        background: url(assets\img\mission-overview-backing-up-hover.png);
        visibility: hidden;
        z-index: 11;
        width: 100%;
        height: 100%;
      }
      .backing-up-abnormal::after {
        background: url(assets\img\mission-overview-backing-up-abnormal-hover.png) !important;
      }
      .backing-up:hover::after {
        animation: fadeInOut 2s infinite;
      }
      // -----------------------------
      .duplicate {
        width: 142px;
        height: 234px;
        top: 0;
        left: 440px;
        background: url(assets\img\mission-overview-duplicate.png) no-repeat
          center;
        .title {
          top: 148px;
        }
        .abnormal {
          position: absolute;
          width: 142px;
          height: 234px;
          background: url(assets\img\mission-overview-duplicate-abnormal.png)
            no-repeat center;
        }
      }
      .duplicate-not-configured {
        position: absolute;
        width: 142px;
        height: 234px;
        top: 0;
        left: 440px;
        background: url(assets\img\mission-overview-duplicate-not-configured.png)
          no-repeat center;
        .title {
          top: 148px;
        }
      }
      .duplicate::before {
        content: '';
        display: block;
        position: absolute;
        background: url(assets\img\mission-overview-duplicate-footer.gif);
        width: 142px;
        height: 234px;
      }
      .duplicate::after {
        content: '';
        display: block;
        position: absolute;
        background: url(assets\img\mission-overview-duplicate-hover.png);
        visibility: hidden;
        width: 100%;
        height: 100%;
      }
      .duplicate-abnormal::after {
        background: url(assets\img\mission-overview-duplicate-abnormal-hover.png) !important;
      }
      .duplicate:hover::after {
        animation: fadeInOut 2s infinite;
      }
      // -----------------------------
      .archiving {
        width: 142px;
        height: 267px;
        top: 74px;
        left: 643px;
        background: url(assets\img\mission-overview-archiving.png) no-repeat
          center;
        .title {
          top: 146px;
        }
        .abnormal {
          position: absolute;
          width: 142px;
          height: 267px;
          background: url(assets\img\mission-overview-archiving-abnormal.png)
            no-repeat center;
        }
      }
      .archiving-not-configured {
        position: absolute;
        width: 142px;
        height: 267px;
        top: 74px;
        left: 643px;
        background: url(assets\img\mission-overview-archiving-note-configured.png)
          no-repeat center;
        .title {
          top: 146px;
        }
      }
      .archiving::before {
        content: '';
        display: block;
        position: absolute;
        background: url(assets\img\mission-overview-archiving-footer.gif);
        width: 142px;
        height: 267px;
      }
      .archiving::after {
        content: '';
        display: block;
        position: absolute;
        background: url(assets\img\mission-overview-archiving-hover.png);
        visibility: hidden;
        width: 100%;
        height: 100%;
      }
      .archiving-abnormal::after {
        background: url(assets\img\mission-overview-archiving-abnormal-hover.png) !important;
      }
      .archiving:hover::after {
        animation: fadeInOut 2s infinite;
      }
      // -----------------------------
      @keyframes fadeInOut {
        0% {
          opacity: 0;
          visibility: visible;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
          visibility: visible;
        }
      }
      // ---------------------------
      .line {
        position: absolute;
        box-sizing: border-box;
        pointer-events: none;
      }
      .line-1 {
        left: 100px;
        top: 118px;
        width: 160px;
        height: 66px;
        background: url(assets\img\mission-overview-line-1.png) no-repeat;
        background-position: 0 0;
        animation: lineAnimation 1.28s infinite steps(4, end);
      }
      .line-1-not-work {
        left: 100px;
        top: 118px;
        width: 160px;
        height: 66px;
        background: url(assets\img\mission-overview-line-1-not-work.png)
          no-repeat;
      }
      .line-2 {
        left: 326px;
        top: 118px;
        width: 171px;
        height: 65px;
        background: url(assets\img\mission-overview-line-2.png) no-repeat;
        background-position: 0 0;
        animation: lineAnimation-2 1.28s infinite steps(4, end);
      }
      .line-2-not-work {
        left: 326px;
        top: 118px;
        width: 171px;
        height: 65px;
        background: url(assets\img\mission-overview-line-2-not-work.png)
          no-repeat;
      }
      .line-3 {
        left: 309px;
        top: 190px;
        width: 393px;
        height: 77px;
        background: url(assets\img\mission-overview-line-3.png) no-repeat;
        background-position: 0 0;
        animation: lineAnimation-3 1.28s infinite steps(4, end);
      }
      .line-3-not-work {
        left: 309px;
        top: 190px;
        width: 393px;
        height: 77px;
        background: url(assets\img\mission-overview-line-3-not-work.png)
          no-repeat;
      }

      @lineWidth: -640px;
      @lineHeight: -66px;
      @keyframes lineAnimation {
        0% {
          background-position: 0 0;
        }
        12.5% {
          background-position: @lineWidth 0;
        }
        12.51% {
          background-position: 0 @lineHeight;
        }
        25% {
          background-position: @lineWidth @lineHeight;
        }
        25.01% {
          background-position: 0 2 * @lineHeight;
        }
        37.5% {
          background-position: @lineWidth 2 * @lineHeight;
        }
        37.51% {
          background-position: 0 3 * @lineHeight;
        }
        50% {
          background-position: @lineWidth 3 * @lineHeight;
        }
        50.01% {
          background-position: 0 4 * @lineHeight;
        }
        62.5% {
          background-position: @lineWidth 4 * @lineHeight;
        }
        62.51% {
          background-position: 0 5 * @lineHeight;
        }
        75% {
          background-position: @lineWidth 5 * @lineHeight;
        }
        75.01% {
          background-position: 0 6 * @lineHeight;
        }
        87.5% {
          background-position: @lineWidth 6 * @lineHeight;
        }
        87.51% {
          background-position: 0 7 * @lineHeight;
        }
        100% {
          background-position: @lineWidth 7 * @lineHeight;
        }
      }

      @lineWidth-2: -684px;
      @lineHeight-2: -65px;
      @keyframes lineAnimation-2 {
        0% {
          background-position: 0 0;
        }
        12.5% {
          background-position: @lineWidth-2 0;
        }
        12.51% {
          background-position: 0 @lineHeight-2;
        }
        25% {
          background-position: @lineWidth-2 @lineHeight-2;
        }
        25.01% {
          background-position: 0 2 * @lineHeight-2;
        }
        37.5% {
          background-position: @lineWidth-2 2 * @lineHeight-2;
        }
        37.51% {
          background-position: 0 3 * @lineHeight-2;
        }
        50% {
          background-position: @lineWidth-2 3 * @lineHeight-2;
        }
        50.01% {
          background-position: 0 4 * @lineHeight-2;
        }
        62.5% {
          background-position: @lineWidth-2 4 * @lineHeight-2;
        }
        62.51% {
          background-position: 0 5 * @lineHeight-2;
        }
        75% {
          background-position: @lineWidth-2 5 * @lineHeight-2;
        }
        75.01% {
          background-position: 0 6 * @lineHeight-2;
        }
        87.5% {
          background-position: @lineWidth-2 6 * @lineHeight-2;
        }
        87.51% {
          background-position: 0 7 * @lineHeight-2;
        }
        100% {
          background-position: @lineWidth-2 7 * @lineHeight-2;
        }
      }

      @lineWidth-3: -1572px;
      @lineHeight-3: -77px;
      @keyframes lineAnimation-3 {
        0% {
          background-position: 0 0;
        }
        12.5% {
          background-position: @lineWidth-3 0;
        }
        12.51% {
          background-position: 0 @lineHeight-3;
        }
        25% {
          background-position: @lineWidth-3 @lineHeight-3;
        }
        25.01% {
          background-position: 0 2 * @lineHeight-3;
        }
        37.5% {
          background-position: @lineWidth-3 2 * @lineHeight-3;
        }
        37.51% {
          background-position: 0 3 * @lineHeight-3;
        }
        50% {
          background-position: @lineWidth-3 3 * @lineHeight-3;
        }
        50.01% {
          background-position: 0 4 * @lineHeight-3;
        }
        62.5% {
          background-position: @lineWidth-3 4 * @lineHeight-3;
        }
        62.51% {
          background-position: 0 5 * @lineHeight-3;
        }
        75% {
          background-position: @lineWidth-3 5 * @lineHeight-3;
        }
        75.01% {
          background-position: 0 6 * @lineHeight-3;
        }
        87.5% {
          background-position: @lineWidth-3 6 * @lineHeight-3;
        }
        87.51% {
          background-position: 0 7 * @lineHeight-3;
        }
        100% {
          background-position: @lineWidth-3 7 * @lineHeight-3;
        }
      }
    }
  }
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fail-detail {
  .detail-line {
    width: 173px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .name {
      width: 28px;
      height: 22px;
      line-height: 22px;
      font-size: 14px;
    }
    .num {
      height: 22px;
      line-height: 22px;
      font-size: 14px;
    }
  }
}
