<lv-form [formGroup]="formGroup" class="formGroup">
  <lv-form-item>
    <lv-form-label lvRequired>
      {{'common_name_label'|i18n}}
    </lv-form-label>
    <lv-form-control [lvErrorTip]="nameErrorTip">
      <input
        lv-input
        type="text"
        formControlName="name"
        placeholder="{{'common_search_type_label'|i18n:['']}}"
      />
    </lv-form-control>
  </lv-form-item>
  <lv-form-item>
    <lv-form-label lvRequired>
      {{'protection_client_label'|i18n}}
    </lv-form-label>
    <lv-form-control>
      <lv-select
        [lvOptions]="clientOptions"
        [lvDisabled]="!!rowData"
        lvValueKey="value"
        lvShowFilter
        lvFilterMode="contains"
        formControlName="client"
        lvPlaceholder="{{'protection_active_directory_register_label'|i18n}}"
      ></lv-select>
    </lv-form-control>
  </lv-form-item>
</lv-form>

