.statistics-tag {
  display: inline-block;
  min-width: 60px;
  height: 24px;
  color: #ffffff;
  border-radius: 14px;
  line-height: 23px;
  padding-right: 8px;
  margin-right: 16px;
}
.statistics-tag i {
  margin-left: 4px;
  margin-top: -2px;
  cursor: default;
}
.statistics-label {
  margin-left: 16px;
}
.count-label {
  margin-left: 4px;
  margin-right: 8px;
}
.unprotected-background {
  background: #b8becc;
}
.protected-background {
  background: #6cbfff;
}
