.container {
  padding: 20px 12px 20px;

  .lv-form-label {
    justify-content: center;
    align-items: center;
    display: inline-flex;
    padding: 0 5px 0 8px;
  }

  .start-time,
  .end-time {
    width: 215px;
  }

  .interval,
  .interval-option,
  .retention,
  .retention-option {
    width: 100px;
  }

  .days-of-month {
    width: 260px;
  }

  .day-of-week,
  .day-of-month-type {
    width: 150px;
  }
}

.container-en {
  .lv-form-label {
    padding: 7px 5px 8px 0 !important;
  }
}

.solid-line {
  border-top: 0.01rem solid #e6ebf5;
  padding-top: 8px;
}

.day-of-month-operation-container {
  width: 100%;
  margin: 16px 10px 10px 0;

  .day-of-month-operation-group {
    float: right;
  }
}

.wal-config-num {
  width: 150px;
}

.backup-time-unit-text {
  width: 100px !important;
  margin-left: 8px;
}

.min-width {
  width: 60px;
}

.max-width {
  width: 90px;
}

.create-icon-pos-polyfill {
  margin-top: -2px;
}

.interval-input-group {
  width: 200px;
}

.time-policy-container {
  border: 1px solid var(--live-angular-color-card-border);
  border-radius: 4px;
}

.pdl-10 {
  padding-left: 10px;
}

.tips {
  vertical-align: text-top;
  padding: 4px 0 16px;
}

.unit-inner-select {
  max-width: 1.3rem;
}

::ng-deep.unit-inner-select > .lv-select-wrapper {
  border: none;
  padding: 0;
}

.trigger-action-container {
  height: 32px;
  line-height: 32px;
  background-color: var(--live-angular-color-header-background);
}
