#capacity-forecast-chart {
  flex-shrink: 0;
  width: 220px;
  height: 220px;
}

.capacity-forecast-title {
  margin-bottom: 20px;
}

.capacity-forecast-chart-container {
  display: flex;
  flex-direction: row;
  height: 240px;
  align-items: center;
}

.capacity-nowrap {
  width: 130px;
  flex-shrink: 0;
}

.margin-left-max {
  margin-left: 30px;
}

.margin-bottom-max {
  margin-bottom: 20px;
}

.status-circle-display-indigo {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #6c92fa;
  display: inline-block;
}

.status-circle-display-gray {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 2px solid #e6ebf5;
  display: inline-block;
  background: #e6ebf5;
}

.status-number-display {
  font-size: 18px;
  color: #282b33;
  font-weight: bolder;
  margin-left: 8px;
  white-space: nowrap;
  display: inline-block;
}

.status-label-display {
  font-size: 12px;
  color: #b8becc;
  margin-left: 18px;
  white-space: nowrap;
}
