.legend {
  float: left;
  padding: 15px;
  margin-left: 15px;
  li {
    padding-bottom: 20px;

    .dot {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      margin-right: 10px;
    }

    .number {
      font-size: 18px;
      font-weight: 600;
    }

    .label {
      color: #6c7280;
      margin-left: 20px;
      font-size: 14px;
      font-weight: 300;
    }
  }
}

.echarts-container {
  height: 220px;
  width: 220px;
  border: 1px solid #eff2f8;
  border-radius: 200px;
  float: left;
  margin-left: 30%;
}
