.main-schedule-policy-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.main-schedule {
  display: block;

  span {
    display: inline-block;
  }
}

.policy-radio {
  position: relative;
  top: 3px;
}
