.disk-all-table,
.disk-selected-table {
  border: 1px solid #b8becc;
  height: 720px;
  position: relative;
}

.total-disk {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 23px;
  background-color: #f0f3fa;
  font-size: 12px;
  color: #282b33;
  line-height: 12px;
}

.select-disk {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 23px;
  background-color: #f0f3fa;
  justify-content: space-between;
  font-size: 12px;
  color: #282b33;
  line-height: 12px;

  .delete-all {
    font-size: 12px;
    line-height: 14px;
    color: #6c92fa;
  }
}

.delete-operator {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
