.header {
  margin-bottom: 20px;
}

.network-input {
  width: 464px !important;
}

.transfer {
  height: 420px;
  margin-bottom: 20px;
}

.selected-header {
  justify-content: space-between !important;
}

.header {
  margin-bottom: 16px;
  margin-top: 16px;
}

.top {
  margin-top: 20px;
}
