.statistics {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 5% 0 2%;

  .num {
    font-size: 0.3rem;
  }

  .desc {
    margin-top: 4px;

    i {
      height: 10px;
      width: 10px;
      display: inline-block;
      border-radius: 50%;
      margin-right: 8px;
    }
  }

  .item {
    text-align: center;
    cursor: pointer;
  }

  .other {
    text-align: center;
    cursor: pointer;
  }

  .line {
    height: 18px;
    border-right: 1px dashed #d4d9e6;
  }

  .space-line {
    border-left-style: dashed;
    border-left-width: 1px;
    border-left-color: #e6ebf5;
    padding-left: 30px;
    text-align: center;
    cursor: pointer;
  }
}

.num-selected {
  color: #b8becc;
}
