.dpc-node-checkbox {
  margin-top: 20px;
  padding-left: 8px;
}

.network-title {
  margin-top: 24px;
  padding-left: 8px;
}

.delete-info-group {
  justify-content: space-between;
  margin-bottom: 10px;
}

.network-container {
  border: 1px solid #dfe2e8;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 14px;
}
