.text {
  width: 370px;
}

.custom-label {
  width: 123px;
}

.data-layout-container {
  display: inline-block;
  vertical-align: middle;
}

.backup-for-text {
  width: 198px;
}

.backup-form-label {
  width: 177px;
}
