@import url('../module.style.less');

.card-icon {
  width: 58px;
  height: 58px;
  margin-top: 24px;
}
.file-interception-card-icon {
  background-image: url('assets/img/cyber-file-interception-icon.png');
  background-size: cover;
}

.real-time-card-icon {
  background-image: url('assets/img/cyber-real-time-icon.png');
  background-size: cover;
}

.intelligent-detection-card-icon {
  background-image: url('assets/img/cyber-intelligent-detection-icon.png');
  background-size: cover;
}
.mt-32 {
  margin-top: 32px;
}

.sub-line {
  display: flex;
  align-items: center;
  .pairs {
    flex: auto;
    div {
      margin-bottom: 10px;
    }
    .pairs-title {
      color: #959cac;
      padding-right: 16px;
    }
  }
}

#copy-chart,
#io-chart,
#file-chart {
  width: 100px;
  height: 100px;
  margin-bottom: 24px;
}

.detection-type-label {
  font-size: 12px;
  color: #77787b;
}
