.share-mode-container {
  border: 1px solid #b8becc;
  margin-top: 10px;
}
.share-mode-title {
  background: #f7faff;
  padding-left: 8px;
  border-bottom: 1px dashed #e5e9f2;
}
.share-mode-item {
  padding-left: 8px;
}
