.title-bottom {
  margin-bottom: 16px;
}

.title-top {
  margin-top: 16px;
}

.checkbox-group-network {
  margin-left: 20px;
}

.controller-config {
  margin-top: 16px;
}

.no-data-container {
  height: 100px;
  display: flex;

  /*this centers the text horizontally*/
  justify-content: center;

  /*this centers the text vertically*/
  align-items: center;
}
