.vol-all-table,
.vol-selected-table {
  border: 1px solid #b8becc;
  height: 800px;
  position: relative;
  .table-paginator {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
}
.table-num-nav {
  display: inline-block;
  min-width: 40px;
  background: #6c92fa;
  text-align: center;
  border-radius: 12px;
  color: #ffffff;
}
.th-group {
  justify-content: space-between !important;
}
