.title {
  margin-bottom: 20px;
}

h2 i {
  margin-left: 8px;
}

.status > i {
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 8px;
}

.form-column-mt {
  margin-top: 24px;
}

.used-capacity-desc {
  margin-left: 20px;
}

.unused-capacity-desc {
  margin-left: 20px;
}
