.backup-for-text {
  width: 198px;
}

.backup-form-label {
  width: 177px;
}

.icon {
  margin-bottom: 2px;
  margin-right: 2px;
}

.target-location {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}
