.aui-header-logo {
  text-decoration: none;

  ::ng-deep .logo_title_container {
    cursor: pointer !important;
  }

  &:hover {
    text-decoration: none;
  }
}

.aui-header-menu {
  height: calc(100% - 64px);
}

.aui-header-menu .lv-menu[hidden] {
  display: none;
}

.aui-header-operation-block,
.aui-header-operation-block .lv-search {
  flex: 1;
}

.aui-header-operation {
  display: flex;
  align-items: center;
  position: relative;
  left: 8px;
}

.aui-header-operation,
.aui-header-operation span {
  font-size: 14px;
}

.aui-header-operation span {
  cursor: pointer;
}

.aui-menu-container {
  height: 64px;
  display: inline-flex;
  align-items: center;
}

.running-task-icon {
  background: url('assets/img/task_running_gray_gif.gif') no-repeat;
  height: 24px;
  width: 24px;
  margin-top: 6px;
  display: inline-block;
  background-size: 100%;
}

.task-icon {
  background: url('assets/img/task_closed.svg') no-repeat;
  height: 24px;
  width: 24px;
  margin-top: 6px;
  display: inline-block;
}

.search-gif {
  height: 48px;
  width: 48px;
  background: url('assets/img/search.gif');
  cursor: pointer;
  background-position: -5px;
}

.top-task-container {
  width: 380px;
}

.alarm-list-container tr {
  cursor: pointer;
}

.top-task-container td:first-child {
  vertical-align: top;
}

.top-task-header-title {
  margin: 12px 0 12px 0;
}

.top-task-header-underline {
  border-bottom: 1px solid #3e424d;
  margin-bottom: 10px;
}

.top-task-bottom-underline {
  border-bottom: 1px solid #3e424d;
  margin: 10px 0 10px;
}

.top-task-look-opt {
  margin-bottom: 5px;
}

.task-type {
  margin-top: 10px;
  line-height: 16px;

  .task-type-name {
    width: 160px;
    display: inline-block;
  }

  .task-resource {
    width: 210px;
    color: #6b707c;
    float: right;
    text-align: right;
    padding-right: 10px;
  }
}

.alarm-item {
  margin-top: 10px;
  line-height: 16px;

  .alarm-detail {
    .alarm-icon {
      vertical-align: top;
      display: inline;
    }

    .alarm-info {
      margin-left: 10px;
      width: 340px;
      display: inline-block;

      .alarm-desc {
        width: 340px;
        display: inline-block;
        margin-bottom: 5px;
      }

      .alarm-time {
        color: #6b707c;
        display: inline-block;
      }

      .alarm-link {
        float: right;
        color: #6b707c;
      }
    }
  }
}

.help_item {
  margin-top: 10px;
  line-height: 16px;
}

.about-header {
  display: flex;
  justify-content: space-between;
  background-color: #282b33;
  height: 50px;

  .about-title {
    margin: auto 16px;
    height: 36px;
  }

  .about-icon {
    margin-left: 20px;
    margin-top: 10px;
    width: auto;
    height: 40px;
  }

  .close-icon {
    color: #fafbff;
    margin: auto 14px;
    cursor: pointer;
  }

  ::ng-deep .logo_title_container {
    cursor: move !important;
  }
}

.about-content {
  padding-top: 35px;
  padding-bottom: 35px;
  line-height: 24px;
  color: #282b33;

  .about-version {
    margin-bottom: 24px;
  }
}

.about-footer {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  color: #282b33;
}

.user-name {
  max-width: 75px;
  display: inline-block;
  vertical-align: middle;
  line-height: 24px;
}

.no-data {
  padding: 32px;
  text-align: center;
  display: flex;
  justify-content: center;
  justify-items: center;

  .lv-group-column {
    align-items: center !important;
  }
}

.no-data-image {
  width: 64px;
  height: 72px;
}

.help-menu-container .help-menu-section .n-help-link,
.help-menu-container .help-menu-section n-help-link {
  display: block;
  padding: 0.05rem 0;
  cursor: pointer;
}

.help-menu-container .help-menu-section .n-help-link:hover,
.help-menu-container .help-menu-section n-help-link:hover {
  color: var(--live-angular-color-primary-hover);
}

.n-help-link .help-wrapper {
  padding-bottom: 0.03rem;
}

.help-label {
  padding: 0 0.15rem;
}

.task-type-container {
  font-size: 0.14rem;
}

.source-conainer {
  font-size: 0.12rem;
  color: #6b707c;
}

span.source-conainer {
  width: 300px;
}

.task-status-container {
  position: relative;
  top: -8px;
}

.page-layout {
  min-width: 1366px !important;
}

.split-line {
  height: 18px;
  border-right: 1px solid #9ea4b3;
}

.clusters-container {
  color: var(--live-angular-color-text-hint);
  font-size: 16px;
  cursor: pointer;
  margin-left: 4px;
  max-width: 150px;
}

::ng-deep lv-layout.lv-layout-cross > lv-sider.aui-sider > div {
  background-color: #1f2129;
}

.aui-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 0.48rem;
  padding: 0.08rem 0.24rem;
  font-size: 0.16rem;
  line-height: 0.32rem;

  .menu-icon-container {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 8px;
  }
}

.aui-logo {
  flex: 0 0 auto;
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background: url('assets/img/huaweilogo.svg') no-repeat;
  background-size: 100%;
}

.aui-collapsed-logo {
  flex: 0 0 auto;
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background: url('assets/img/huaweilogo-black.svg') no-repeat;
  background-size: 100%;
}

.aui-menu-header span {
  flex: 1 0 auto;
  display: block;
}

::ng-deep lv-layout > lv-header.aui-header > div {
  background-color: #f0f2f4;
}

.aui-header-log {
  display: flex;
}

.aui-header-log i.lv-icon-host:first-child {
  margin-right: 16px;
  cursor: pointer;
}

.aui-header i.lv-icon-host,
.aui-header-icon i.lv-icon-host {
  width: 24px;
  height: 24px;
}

.aui-header span {
  display: block;
  font-weight: 700;
  font-size: 14px;
}

.aui-search {
  width: 368px;
}

::ng-deep .aui-search .lv-input-group {
  border: none;
}

.aui-full-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 32px 32px 32px;
  background: #f0f2f4;
}

.aui-has-menu {
  padding: 0 16px;
}

.aui-full-page .aui-header-1 {
  padding: 16px 0;
}

.aui-full-page .aui-header-2 {
  margin-bottom: 16px;
}

.aui-block {
  padding: 32px;
  background: #ffffff;
}

.aui-operation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.aui-menu-content {
  height: auto;
  overflow-y: auto;
  max-height: calc(100% - 48px);

  &::-webkit-scrollbar-thumb:vertical {
    box-shadow: 8px 0 0 #4d4d4d inset;
  }

  &::-webkit-scrollbar-thumb:vertical:hover {
    box-shadow: 8px 0 0 #636469 inset;
  }
}

.aui-menu-content::-webkit-scrollbar-thumb {
  background-color: hsla(0deg, 0%, 100%, 0.3);
  border-radius: 8px;
}

.aui-menu-content::-webkit-scrollbar-track {
  background-color: #1f2129;
  border-radius: 0;
}

.global-search {
  cursor: pointer;
  position: absolute;
  left: calc(50% - 160px - 109px);
}

.hide-guide-bg {
  background: url('assets/img/guide-bg.png') no-repeat;
  visibility: hidden;
}

.pop-know {
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
}

.collapsed-container {
  line-height: 36px;
}

.cyber-home-header ::ng-deep {
  div:first-child {
    background-color: #1c1f24 !important;
  }
}

.card-theme {
  width: 56px;
  height: 40px;
}

.theme-change-title {
  font-size: 12px;
  color: var(--live-angular-color-text-secondary);
}

.theme-group {
  margin-top: 0.24rem;
  align-items: center;
}

.menu-label {
  color: var(--live-angular-color-text-hint);
}

.shortcut-op-container {
  left: 0;
}

.new-comer-guidance-header {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

.new-comer-guidance-content-single {
  font-weight: 400;
}

.new-comer-guidance-content {
  margin-top: 8px;
  margin-bottom: 16px;
}

.new-comer-guidance-content-group {
  padding: 8px 0;
  i {
    width: 24px;
    height: 24px;
  }
  .bold-text {
    font-weight: bold;
  }
  .icon-description {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    margin-left: 4px;
  }
}

.new-comer-guidance-footer-container {
  padding-left: 32px;
  justify-content: flex-end;
  #endGuideBtn {
    color: var(--live-angular-color-text-white) !important;
    border: 1px solid var(--live-angular-color-text-white);
    &:hover {
      color: 1px solid var(--live-angular-color-text-white) !important;
    }
  }

  #nextGuideBtn {
    color: rgb(110, 110, 255);
    background-color: var(--live-angular-color-text-white);
    border: 1px solid var(--live-angular-color-text-white);
  }
}

.custom-overlay {
  content: '';
  box-sizing: content-box;
  position: absolute; /* 绝对定位 */
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 4px;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  display: none;
  z-index: 99999;
  pointer-events: none; /* 防止影响原始元素的交互 */
}

.custom-overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 0 1px var(--new-comer-guidance-bg-color); /* 第一个边框，使用 inset 使其看起来像内边框 */
  border-radius: 5px;
  pointer-events: none; /* 防止伪元素影响交互 */
}

.custom-overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 1px;
  right: 1px;
  bottom: 1px;
  box-shadow: 0 0 0 3px rgba(110, 110, 255, 0.5); /* 第二个边框，使用 inset 和 rgba 调整透明度 */
  border-radius: 5px;
  pointer-events: none; /* 防止伪元素影响交互 */
}
