.retention-title {
  margin: 20px 0;
}

.lock-policy-tip {
  font-size: 12px;
  margin-left: 8px;
}

.decoy-detection-tip {
  margin-top: 14px;
  font-size: 12px;
  border: 1px solid #f1f5fb;
  margin-left: 10px;
  border-radius: 0.08rem;
  .decoy-icon {
    width: 70px;
    height: 67px;
  }

  .tip-header {
    background-color: #f1f5fb;
    padding: 10px;
  }

  .open-tip {
    margin-top: 10px;
    line-height: 24px;
    padding: 0 10px 10px 20px;
  }
}

.update-frequency {
  border: 1px solid var(--live-angular-color-card-border);
  border-radius: 4px;
  margin-left: 8px;
  margin-top: 5px;
}

.frequency-radio-group {
  height: 32px;
  line-height: 32px;
  background-color: var(--live-angular-color-header-background);
  padding-left: 16px;
}

.frequency-container {
  padding: 16px;
  background-color: var(--live-angular-color-container-background);
}

.frequency-input,
.duration-input {
  width: 120px !important;
}

.update-info {
  margin-top: 10px;
  font-size: 12px;
  margin-left: 8px;
}
.detection-group {
  margin-bottom: 0;
}

.input-margin {
  margin-bottom: 24px;
}
