.retention-title {
  margin: 20px 0;
}

.lock-policy-tip {
  font-size: 12px;
  margin-left: 8px;
}

.decoy-detection-tip {
  margin-top: 14px;
  font-size: 12px;
  border: 1px solid #f1f5fb;
  margin-left: 10px;

  .decoy-icon {
    width: 70px;
    height: 67px;
  }

  .tip-header {
    background-color: #f1f5fb;
    padding: 10px;
  }

  .open-tip {
    margin-top: 10px;
    line-height: 24px;
    padding-left: 20px;
    padding-bottom: 10px;
  }
}

.update-frequency {
  border: 1px solid #f1f5fb;
  margin-left: 8px;
  margin-top: 5px;
}

.frequency-radio-group {
  margin: 14px 0 14px 28px;
}

.frequency-container {
  padding: 20px 0 28px 28px;
  background-color: #f1f5fb;
}

.frequency-input,
.duration-input {
  width: 120px !important;
}

.update-info {
  margin-top: 10px;
  font-size: 12px;
  margin-left: 8px;
}
