.title-bottom {
  margin-bottom: 20px;
}

.title-top {
  margin-top: 20px;
}

.checkbox-group-network {
  margin-left: 20px;
}

.controller-config {
  margin-top: 40px;
}

.no-data-container {
  height: 100px;
  display: flex;

  /*this centers the text horizontally*/
  justify-content: center;

  /*this centers the text vertically*/
  align-items: center;
}

.route-display:hover {
  color: #5b7ede;
  cursor: pointer;
}

.disabled {
  pointer-events: auto;
}
