.tip-container {
  color: var(--live-angular-color-text-hint);
}

.checkbox-container {
  margin-top: 20px;
  margin-bottom: 10px;
}

.mgl-20 {
  margin-left: 20px;
}

.padding-10 {
  padding: 10px 0 10px 0;
  line-height: 0.32rem;
}

.tree-operation-btn {
  position: absolute;
  right: 10px;

  i {
    width: 16px;
    height: 16px;
  }
}

.row-click:hover {
  cursor: pointer;
}

.row-checked {
  font-weight: bolder;
  color: #6c92fa;
}

.opt-btn {
  width: 50px;
}

.cancle-icon {
  margin-left: 14px;
}

.file-info-container {
  font-size: 0.13rem;
  text-align: right;
}

.tree-group {
  flex-wrap: nowrap;
}

.file-level-restore-tree {
  height: 730px;
}

.select-count {
  margin-top: -30px;
  margin-left: 10px;
}

.aui-date {
  justify-content: space-between;
}

.highlight {
  color: #6c92fa;
}

.grid-position {
  justify-content: space-between;
}

.margin-space {
  margin-right: 32px;
}

.invaild {
  border-color: #f45c5e !important;
}

.invaild-color {
  color: #f45c5e !important;
}

.arrow-container i {
  height: 20px;
}

.valid-tenant {
  border-color: #f45c5e !important;
  animation: lvMFormInvalid 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-wrap {
  text-wrap: nowrap;
}

.filesystem-target-input {
  width: 455px;
}

.target-title {
  margin-top: 40px;
}
