.report-detection-result {
  text-align: center;
}

.report-detection-result i {
  width: 80px;
  height: 80px;
  margin-bottom: 8px;
}

.report-detail {
  background: #f7faff;
  padding: 20px;
}

.report-no-data {
  text-align: center;
}

.report-no-data i {
  width: 240px;
  height: 240px;
}

.no-data-label {
  text-align: center;
  font-size: 0.14rem;
}

.depth-tag {
  width: 140px;
  color: #a9aeb9;
  background: #f0f3fa;
  border-radius: 10px;
  text-align: center;
}

.basic-info {
  padding: 20px;
  background: #f0f3fa;
  margin-bottom: 30px;
}

.operation-help-icon {
  width: 16px;
  height: 16px;
  margin-left: 4px;
}

.content-warp {
  max-width: 290px;
}
