.view {
  width: 96px;
  height: 32px;
  display: flex;
}

.view li {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.viewIcon {
  height: 32px;
  width: 96px;
  position: absolute;
}

.icon {
  width: 32px;
  height: 32px;
}

.span {
  display: inline-block;
  width: 8px;
}

.blue {
  color: #5b7ede;
  cursor: pointer;
}
