.filesystem-name-input {
  width: 100%;
}

.warning-message {
  opacity: 1;
  transform: scaleY(1);
  background: #ffd1d2;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  width: 100%;
  padding: 0.1rem 0.16rem;
  margin-bottom: 0.16rem;
  transform-origin: 0% 0%;
  box-shadow: 0 0.01rem 0.03rem #0000001a;
  border-radius: 0.02rem;
  border: 0.01rem solid #f45c5e;
  text-align: left;
  .lv-icon {
    margin-right: 10px;
  }
}

.input-width {
  width: 5rem;
}

.mount_width {
  width: 4.8rem;
}

.mgt-8 {
  margin-top: 8px;
}
.share-mode-tab {
  background: #f7faff;
  height: 44px;
  padding-top: 9px;
  .lv-form-control {
    position: relative;
    right: 15px;
  }
}
.cifs-tab {
  margin-top: 20px;
}
.share-info {
  margin: 14px 0;
  padding-left: 10px;
}
