<lv-group lvGutter='8px'>
    <div class="disk-all-table">
        <div class="total-disk">
            {{ 'common_select_disk_label' | i18n }}
        </div>
        <lv-pro-table #totalDataTable [config]="leftTableConfig" [data]="totalTableData"></lv-pro-table>
    </div>
    <div class="arrow-container">
        <i lv-icon="lv-icon-arrow-next" class="auto-protect-help" lvColorState='true'></i>
    </div>
    <div class="disk-selected-table">
        <div class="select-disk">
            <span>
                {{ 'common_selected_disk_label' | i18n }}
            </span>
            <span class="aui-link delete-all" (click)="clearSelected()">{{'common_clear_all_label' |i18n}}</span>
        </div>
        <lv-pro-table #selectDataTable [config]="rightTableConfig" [data]="selectionData"></lv-pro-table>
    </div>
</lv-group>

<ng-template #sizeTpl let-item>
    <div class="delete-operator">
        <span>{{item.size}}GB</span>
    </div>
</ng-template>
<ng-template #operationTpl let-item>
    <div class="delete-operator">
        <span>{{item.size}}GB</span>
        <i lv-icon="lv-icon-close" lvTooltipTheme="light" lvColorState='true' (click)="removeSingle(item)"></i>
    </div>
</ng-template>
