@import url(../../../../../../assets/style/aui.less);

.radio-group {
  width: 100%;

  .lv-checkbase-button {
    width: 50%;
  }

  ::ng-deep .lv-button {
    width: 100% !important;
  }
}

.add-style {
  position: relative;
  bottom: 6px;
}

.tips-container {
  width: 520px;
  display: flex;
}

.tips-icon {
  margin-right: 4px;
  margin-top: 2px;
}

.tips-text {
  color: @text-color-secondary;
  line-height: 20px;
}
