.formGroup {
  .lv-form-control,
  .lv-input,
  .lv-select {
    width: 90%;
  }

  .config-notes {
    margin-left: 10px;
    display: inline-flex;
    height: 32px;
    color: #b8becc;
  }

  .capacity-unit {
    width: 97px;
    margin-left: 10px;
  }
}
