.tree-container {
  width: 100%;
  border: 1px solid var(--live-angular-color-border-regular);
  margin-top: 8px;
  box-sizing: border-box;
  padding: 8px;

  lv-tree {
    width: 100%;
  }
}

.no-data {
  height: 0px;
  visibility: hidden;
}

.error-tip {
  vertical-align: middle;
  color: #f45c5e;
}
