.mgb-ip {
  margin-bottom: 8px;
}

.whitelist {
  max-height: 300px;
  overflow-y: scroll;
}

.textDiv {
  margin-bottom: 8px;
  line-height: 0.16rem;
}

.tips {
  color: #f45c5e;

  .error-icon {
    height: 14px;
    position: relative;
    bottom: 2px;
  }
}
