@import url(../../../../../../assets/style/aui.less);

.select-item {
  display: flex;
  justify-content: space-between;
}

.selected-item-zh {
  width: 512px;
  display: flex;
  justify-content: space-between;
}

.selected-item-en {
  width: 480px;
  display: flex;
  justify-content: space-between;
}

.group {
  color: @text-color-tertiary;
}

.tips-container {
  width: 520px;
  display: flex;
  margin-top: 12px;
}

.tips-icon {
  margin-right: 4px;
  margin-top: 2px;
}

.tips-text {
  line-height: 20px;
}
