.module-container {
  padding: 24px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.count-bottom {
  justify-content: space-between;
  .total-count {
    color: #77787b;
  }
}

.home-module-title,
.home-module-sub-title {
  color: white;
}
.home-module-title {
  font-size: 0.18rem;
}
.home-module-sub-title {
  font-weight: 300;
}

.link-block {
  cursor: pointer;
}
