.configform-constraint {
  margin-left: 10px;
  vertical-align: middle;
}

.update-new {
  font-size: 14px !important;
  font-weight: normal !important;
  margin-left: 16px !important;
}

.notify-add-recive-btn {
  text-align: center !important;
}

.security-count-other-row {
  align-items: inherit;
}

.security-right-2-container {
  height: 190px;
}

.security-right-3-container {
  height: 240px;
}

.security-right-3-container-cyber {
  height: 490px;
}

.security-right-4-container {
  height: 170px;
}

.security-password-container {
  height: 470px;
}

.security-access-container {
  height: 561px;
}

.security-access-container-data-backup {
  height: 516px;
}

.security-access-container-cyber {
  height: 663px;
}

.update-storage-password-container {
  height: 165px;
}

.security-policy-page .dashed-line {
  margin-bottom: 22px;
}

.header-container {
  margin-right: 16px;
}

.ip-tb-input {
  width: 380px;
}

.box-height {
  height: 105px;
}

.access-ctrl-container {
  height: 320px;
}

.user-def-notes {
  max-height: 110px;
  overflow-y: scroll;
  white-space: pre-line; // 保留文字里的换行和空格
}
